openapi: 3.0.3
info:
  title: Ringer Business API - List Available Devices for a Site
  description: |
    Endpoint for listing devices that are available to be associated with a specific site or user.
    This can include devices already in the account's inventory but not yet assigned to the target site/user,
    or potentially a broader list of assignable device types/models if the system supports that.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Devices
    description: Managing SIP devices (phones, softphones) associated with a site.

paths:
  /sites/{siteId}/devices/available:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Devices
      summary: List Available Devices for a Site/User
      description: |
        Retrieves a list of devices that are available for assignment to the specified site.
        The original Teliax API included a `user_id` query parameter, which might imply that availability
        could also be filtered or contextualized by a user. This parameter is included here as optional.
      operationId: listSiteAvailableDevices
      security:
        - oAuth2: [read] # Requires read access to view device inventory/availability
      parameters:
        - name: user_id
          in: query
          description: Optional. Identifier of a user to filter or contextualize available devices.
          required: false
          schema:
            type: integer
            format: int64
            example: 5
      responses:
        '200':
          description: A list of available devices.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/DeviceListResponse' # MODIFIED PATH to current dir index
              example:
                devices:
                  - id: 1764 
                    site_id: null # Correctly null for available
                    name: "Inventory IP Phone XYZ"
                    login: "inventory.phone.xyz" 
                    active: true
                    channel_limit: 1
                    timeout: 120
                    caller_id_name: null 
                    caller_id_number: null 
                    acl: null 
                    fail_over_destination_code: null 
                    fail_over_destination: null # Correctly null for available
                    user_id: null 
                    links: [] 
                  # Add a second example of an assigned device for completeness if desired
                  - id: 1763
                    site_id: 6
                    name: "John Doe Desk Phone"
                    login: "john.doe.phone1"
                    active: true
                    channel_limit: 2
                    timeout: 120
                    caller_id_name: "John Doe"
                    caller_id_number: "+13035551234"
                    acl: "0.0.0.0/0"
                    fail_over_destination_code: "voicemailbox:vm_john_doe"
                    fail_over_destination:
                      name: "Voicemail for John Doe"
                      code: "voicemailbox:vm_john_doe"
                    user_id: 5
                    links:
                      - href: "/sites/6/devices/1763"
                        rel: "self"
                        method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

components:
  # Schemas are primarily referenced from ../index.yaml or common components
  # Local security scheme definition for this file if it were standalone, but better to ref common.
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

# Removed duplicated content from original line 88 onwards. 