openapi: 3.0.3
info:
  title: Ringer Business API - Device Registration Status
  description: |
    Endpoint for retrieving the registration status of devices associated with a specific site.
    This allows checking which devices are currently registered and online with the call processing system.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Devices
    description: Managing SIP devices (phones, softphones) associated with a site.

paths:
  /sites/{siteId}/devices/status:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Devices
      summary: List Device Registration Statuses for a Site
      description: |
        Retrieves the registration status for all devices configured on the specified site.
        Indicates which devices are currently online and registered with the call processing services.
      operationId: getSiteDeviceStatuses
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: A list of device registration statuses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusListResponse'
              example:
                registered_devices: 
                  - "john.doe.phone1"
                  - "lobby.phone"
                unregistered_devices: 
                  - "confroom1.site6"
                links:  
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

components:
  schemas:
    DeviceStatusListResponse: 
      type: object
      description: Provides a list of registered (and optionally unregistered) device identifiers for a site.
      properties:
        registered_devices:
          type: array
          items:
            type: string 
          description: An array of identifiers (e.g., login names) for devices that are currently registered.
          example: ["john.doe.phone1", "sales.desk2"]
        unregistered_devices: 
          type: array
          items:
            type: string
          description: Optional. An array of identifiers for devices that are configured but currently not registered.
          example: ["confroom.phone", "old.device3"]
          nullable: true
        links:
          type: array
          description: HATEOAS links, if any.
          items:
            $ref: '../../common_components.yaml#/components/schemas/Link' 
          nullable: true
      example:
        registered_devices:
          - "john.doe.main"
          - "reception.phone"
        unregistered_devices:
          - "meeting.room.A01"
        links: 

  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

# End of file. 