openapi: 3.0.3
info:
  title: Ringer Business API - Transfer Device Between Sites
  description: |
    Endpoint for transferring a device from one site to another within the same account.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Devices
    description: Managing SIP devices (phones, softphones) associated with a site.

paths:
  /sites/{siteId}/devices/{deviceId}/transfer:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/DeviceIdPath' # MODIFIED
    post:
      tags:
        - Site Features - Devices
      summary: Transfer Device to Another Site
      description: |
        Moves a device from its current site (specified in the path) to a new target site
        (specified in the request body) within the same customer account.
        The device configuration (apart from its site association) generally remains the same.
      operationId: transferDeviceToNewSite
      security:
        - oAuth2: [write, admin] # Transferring might be an admin-level operation
      requestBody:
        description: The identifier of the new site to which the device should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded: # As per original Teliax Swagger
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the device.
                  example: 7
              required:
                - new_site_id
              example:
                new_site_id: 7
      responses:
        '200':
          description: Device transferred successfully. The response includes the device details in its new site context.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/DeviceResponse' # Using common DeviceResponse from index
              example: # POST 200 response (DeviceResponse)
                id: 1763 
                site_id: 7 # Transferred site_id
                name: "John Doe Desk Phone" 
                login: "john.doe.phone1" 
                active: true
                channel_limit: 2
                timeout: 120
                caller_id_name: "John Doe"
                caller_id_number: "+13035551234"
                acl: "0.0.0.0/0"
                fail_over_destination_code: "voicemailbox:vm_john_doe"
                fail_over_destination:
                  name: "Voicemail for John Doe"
                  code: "voicemailbox:vm_john_doe"
                user_id: 5 
                # password not in transfer response
                links: 
                  - href: "/sites/7/devices/1763" # Note new site_id in link
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          description: Not Found - The original device, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '../../common_components.yaml#/components/schemas/Error' # MODIFIED PATH
              example:
                status: "error"
                error: "Device, current site, or target site not found."
                error_code: "RESOURCE_NOT_FOUND_FOR_TRANSFER"

components:
  # Schemas are referenced from ../index.yaml or common ../../../components
  # No local schema definitions needed for DeviceResponse here.

  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH

  # Removed security: block from here as it is not valid under components
  # Removed unused local schemas Device, Link, Error from here

# End of file after this, no more components.schemas to define locally if they were unused. 