openapi: 3.0.3
info:
  title: Ringer Business API
  description: |
    This API provides comprehensive endpoints for the Ringer Business system.
    It includes functionality for managing customer accounts, addresses, sites,
    phone numbers, payments, users, and other business resources.

    Operations typically require authentication and appropriate permissions.
  version: 1.0.6
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel
servers:
  - url: https://api.ringer.tel/v2
    description: Production server
  - url: https://api.staging.ringer.tel/v2
    description: Staging server
tags:
  - name: Accounts
    description: Endpoints for managing customer accounts and their associated details.
  - name: Addresses
    description: Endpoints for managing address records.
  - name: Authentication
    description: Authentication and authorization endpoints.
  - name: Call Blocks
    description: Manage call blocking rules and settings.
  - name: Call Records
    description: Access and manage call history and records.
  - name: Country Codes
    description: Information about country codes and dialing prefixes.
  - name: Credit Cards
    description: Manage credit card payment methods.
  - name: Items
    description: Manage inventory and service items.
  - name: Packages
    description: Manage service packages and bundles.
  - name: Payments
    description: Process and manage payments and transactions.
  - name: Phone Numbers
    description: Manage phone numbers and associated services.
  - name: Plans
    description: Manage service plans and subscription options.
  - name: Sites
    description: Manage customer sites and associated resources.
  - name: Statements
    description: Access and manage billing statements.
  - name: Templates
    description: Manage templates for various system components.
  - name: Thin Clients
    description: Manage thin client devices and configurations.
  - name: Timezones
    description: Access timezone information and settings.
  - name: Users
    description: Manage users and their permissions.
  - name: Phone Number Search
    description: Search for available domestic and international phone numbers.
security:
  - oAuth2: []
paths:
  /account:
    get:
      tags:
        - Accounts
      summary: Get Current Account Details
      description: |
        Retrieves detailed information about the authenticated user's account.
        The level of detail and available actions might differ based on the user's role (e.g., administrator vs. regular user).
      operationId: getAccountDetails
      responses:
        '200':
          description: Successfully retrieved account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    put:
      tags:
        - Accounts
      summary: Update Current Account Information
      description: |
        Updates information for the authenticated user's account.
        Certain fields may only be modifiable by users with an administrator role.
      operationId: updateAccount
      requestBody:
        description: Account attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
      responses:
        '200':
          description: Account updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-NotFoundError'
    patch:
      tags:
        - Accounts
      summary: Activate Current Account
      description: |
        Activates an inactive account, making it operational.
        This operation is typically restricted to users with an administrator role and can only be performed on accounts that are currently inactive and ready for activation (e.g., after confirmation and initial setup).
      operationId: activateAccount
      responses:
        '200':
          description: Account activated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-NotFoundError'
    delete:
      tags:
        - Accounts
      summary: Close Current Account
      description: |
        Closes the authenticated user's account.
        This action is typically permanent and may have prerequisites (e.g., settling outstanding balances).
        Restricted to users with an administrator role.
      operationId: closeAccount
      responses:
        '204':
          description: Account closed successfully. No content is returned.
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-NotFoundError'
  /addresses/{id}:
    parameters:
      - name: id
        in: path
        description: The unique identifier of the address record to be updated.
        schema:
          type: integer
          format: int64
          example: 671
        required: true
    get:
      tags:
        - Addresses
      summary: Get an Address
      description: |
        Fetch the address record by its ID.
      operationId: getAccountAddress
      responses:
        '200':
          description: Address updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '400':
          $ref: '#/components/responses/components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/components-responses-NotFoundError'
    put:
      tags:
        - Addresses
      summary: Update an Address
      description: |
        Updates the details of a specific address record by its ID.
        This is typically used to modify the contact or billing address associated with an account.
        The user must have permissions to update the account to which this address belongs.
      operationId: updateAccountAddress
      requestBody:
        description: Address attributes to update. All fields in the request are typically required for a PUT, or optional for a PATCH.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdateRequest'
      responses:
        '200':
          description: Address updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        '400':
          $ref: '#/components/responses/components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/components-responses-NotFoundError'
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Obtain an OAuth 2.0 Access Token
      description: |
        Requests an access token using one of the supported OAuth 2.0 grant types.
        The specific parameters required in the request body depend on the `grant_type` used.

        - For `password` grant: include `username`, `password`, `client_id`, and `client_secret`.
        - For `refresh_token` grant: include `refresh_token`, `client_id`, and `client_secret`.

        Successful authentication returns an access token, its type, expiration time, and a refresh token (if applicable for the grant type).
      operationId: fetchAccessToken
      security: []
      requestBody:
        description: OAuth 2.0 grant parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            examples:
              passwordGrant:
                summary: Example for Password Grant
                value:
                  grant_type: password
                  username: developer@example.com
                  password: aVerySecurePassword123!
                  client_id: your_application_client_id
                  client_secret: your_application_client_secret
              clientCredentialsGrant:
                summary: Example for Client Credentials Grant
                value:
                  grant_type: client_credentials
                  client_id: your_m2m_client_id
                  client_secret: your_m2m_client_secret
                  scope: read:service_data
              refreshTokenGrant:
                summary: Example for Refresh Token Grant
                value:
                  grant_type: refresh_token
                  refresh_token: previously_issued_refresh_token_string
                  client_id: your_application_client_id
                  client_secret: your_application_client_secret
      responses:
        '200':
          description: Access token issued successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: |
            Bad Request.
            This can occur if the request is malformed, missing required parameters for the specified `grant_type`,
            or uses an unsupported `grant_type`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_components-schemas-Error'
              example:
                status: error
                error: 'Invalid request: ''username'' is required for grant_type ''password''.'
                error_code: INVALID_REQUEST_PARAMETERS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /oauth/revoke:
    post:
      tags:
        - Authentication
      summary: Revoke an OAuth 2.0 Token
      description: |
        Revokes an active access token or refresh token, effectively logging the user or application out.
        The request must include the token to be revoked and client credentials for authentication of the revocation request itself.
      operationId: revokeAccessToken
      requestBody:
        description: Parameters for token revocation.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeRequest'
      responses:
        '204':
          description: Token successfully revoked. No content is returned.
        '400':
          description: |
            Bad Request.
            The request may be missing required parameters (like `token` or client credentials),
            or the token format might be invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_components-schemas-Error'
              example:
                status: error
                error: 'Invalid request: ''token'' parameter is missing.'
                error_code: INVALID_REQUEST_PARAMETERS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /confirmation:
    post:
      tags:
        - Confirmation
      summary: Confirm a User Account
      description: |
        Confirms a user account using a confirmation token obtained during sign-up.
        If a valid token is provided, the account becomes active and operational.
        This token is typically obtained via an email link sent to the user after they sign up.
      operationId: confirmAccount
      security: []
      requestBody:
        description: The confirmation token provided to the user.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmationRequest'
            example:
              confirmation_token: i2W9OXLqCaKNHoQY07lVAkgPVaI
      responses:
        '201':
          description: Account confirmed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmationResponse'
              example:
                message: Account confirmed successfully. You can now log in.
                links:
                  - href: /oauth/token
                    rel: login
                    title: Login to Account
                    method: POST
        '400':
          description: |
            Bad Request.
            This can occur if the `confirmation_token` is missing, malformed, or invalid (e.g., already used or expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmation_components-schemas-Error'
              example:
                status: error
                error: Invalid or expired confirmation token.
                error_code: INVALID_CONFIRMATION_TOKEN
        '404':
          description: |
            Not Found.
            The account associated with the confirmation token could not be found.
            This might happen if the token is severely outdated or the account was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmation_components-schemas-Error'
              example:
                status: error
                error: Account not found for the provided token.
                error_code: ACCOUNT_NOT_FOUND
  /password:
    post:
      tags:
        - Password Management
      summary: Request Password Reset
      description: |
        Allows a user to request a password reset by providing their registered email address.
        If the email address is associated with an existing account, the system will typically send an email
        to that address containing a password reset token and instructions.
        This endpoint itself usually just confirms that the process has been initiated if the email is found.
      operationId: requestPasswordReset
      security: []
      requestBody:
        description: The user's email address to initiate the password reset process.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '201': # Or 202 Accepted if the email sending is asynchronous
          description: |
            Token required for resetting the passowrd.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgotPasswordResponse'
        '400':
          description: Bad Request - The email address provided is invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Invalid email address format."
                error_code: "INVALID_EMAIL_FORMAT"
        '404': # From original Teliax Swagger
          description: Not Found - The email address provided is not associated with any account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "No account found with that email address."
                error_code: "EMAIL_NOT_FOUND"
    put:
      tags:
        - Password Management
      summary: Reset Password
      description: |
        Allows a user to set a new password for their account using a valid password reset token.
        The token is typically obtained from a link sent to their email after initiating a password reset request.
      operationId: resetPassword
      security: []
      requestBody:
        description: The password reset token, new password, and password confirmation.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password has been reset successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: |
            Bad Request.
            This can be due to:
            - Missing or invalid `reset_password_token`.
            - New password and confirmation do not match.
            - New password does not meet complexity requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Password reset token is invalid or has expired. Or, passwords do not match / meet complexity requirements."
                error_code: "INVALID_RESET_TOKEN_OR_PASSWORD"
        '404': # From original Teliax Swagger
          description: |
            Not Found.
            The account associated with the reset token could not be found (e.g., token is for a deleted account).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Account not found for the provided reset token."
                error_code: "ACCOUNT_NOT_FOUND_FOR_TOKEN"
  /sign-up:
    post:
      tags:
        - Sign Up
      summary: Register a new Customer Account
      description: |
        Allows a new customer to register for the Ringer Business service by providing their company name and detailed contact information.
        Upon successful registration, the system creates an account and returns the account details along with a `confirmation_token`.
        This token is essential for the account confirmation process.
      operationId: signUpCustomer
      security: []
      requestBody:
        description: Customer registration details including company name and address information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegistrationRequest'
            example:
              name: Example Innovations Inc.
              address:
                email: contact@exampleinnovations.com
                street_address: 123 Innovation Drive, Suite 400
                country: US
                city: Techville
                state_province: CA
                postal_code: '90210'
                contact_number: '18005551212'
      responses:
        '201':
          description: Customer account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRegistrationResponse'
              example:
                id: 123
                name: Example Innovations Inc.
                active: false
                locale: en
                international_enabled: false
                balance_preference_in_dollars: '0.00'
                recharge_preference_in_dollars: '0.00'
                address:
                  id: 672
                  email: contact@exampleinnovations.com
                  street_address: 123 Innovation Drive, Suite 400
                  country: US
                  city: Techville
                  state_province: CA
                  postal_code: '90210'
                  contact_number: '18005551212'
                confirmation_token: abcdef123456ghijkl7890mnopqrst
                links:
                  - href: /confirmation
                    rel: confirmAccount
                    title: Confirm Account
                    method: POST
                  - href: /account/123
                    rel: self
                    title: View Account Details
                    method: GET
        '400':
          description: |
            Bad Request.
            The registration data provided was invalid or incomplete.
            Check the response body for specific field errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sign-up_components-schemas-Error'
              example:
                status: error
                error: 'Validation failed: Email is invalid, Postal code is required for the selected country.'
                error_code: VALIDATION_ERROR
        '409':
          description: Conflict - An account with some of the provided unique identifiers (e.g., email or company name under certain rules) might already exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sign-up_components-schemas-Error'
              example:
                status: error
                error: An account with this email address already exists.
                error_code: ACCOUNT_ALREADY_EXISTS
  /call-records:
    get:
      tags:
        - Call Records
      summary: List Call Records
      description: |
        Retrieves a list of Call Detail Records (CDRs) based on specified criteria.
        Allows for time-based querying, pagination, sorting, and filtering by call attributes like DNI, ANI, duration, etc.
        The scope of returned records may depend on the authenticated user's role (e.g., account admin vs. individual user).
        A maximum of 30 days worth of data can be queried at a time.
      operationId: listCallRecords
      parameters:
        - name: start_time
          in: query
          description: |
            Start timestamp for the query range (ISO 8601 format, e.g., "2021-06-01T00:00:00Z").
            Maximum query window is 30 days.
          required: true
          schema:
            type: string
            format: date-time
            example: '2023-10-01T00:00:00Z'
        - name: end_time
          in: query
          description: End timestamp for the query range (ISO 8601 format). Defaults to current time if omitted.
          required: false
          schema:
            type: string
            format: date-time
            example: '2023-10-30T23:59:59Z'
        - name: page[number]
          in: query
          description: Page number for pagination.
          required: true
          schema:
            type: integer
            default: 1
            minimum: 1
            example: 1
        - name: page[size]
          in: query
          description: Number of records per page.
          required: true
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 100
            example: 50
        - name: sort[column]
          in: query
          description: Column to sort by.
          required: false
          schema:
            type: string
            enum:
              - dni
              - dni_name
              - raw_ani
              - direction
              - answer_stamp
              - duration
              - customer_balance_adjustment
              - created_at
            default: created_at
            example: answer_stamp
        - name: sort[type]
          in: query
          description: Sort direction.
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
            example: DESC
        - name: filter[column]
          in: query
          description: Column to filter on.
          required: false
          schema:
            type: string
            enum:
              - dni
              - dni_name
              - raw_ani
              - direction
              - answer_stamp
              - duration
              - customer_balance_adjustment
            example: direction
        - name: filter[type]
          in: query
          description: |
            Filter operator. `starts_with`, `ends_with`, `contains` only for `raw_ani` or `dni`.
          required: false
          schema:
            type: string
            enum:
              - greater_than
              - less_than
              - equal_to
              - starts_with
              - ends_with
              - contains
            example: equal_to
        - name: filter[value]
          in: query
          description: Value to filter by.
          required: false
          schema:
            type: string
            example: outbound
      responses:
        '200':
          description: A list of call records matching the criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordListResponse'
              example:
                call_records:
                  - id: 4332721964
                    item_type: cdr
                    item_rules: intrastate
                    item_options:
                      dni: '+17208888888'
                    item_summary:
                      id: 27815150409
                      dni: '+17208888888'
                      dni_name: CO LONGMONT
                      raw_ani: '+12012222222'
                      name: Intrastate Call
                      zone: intrastate
                      direction: outbound
                      start_stamp: '2020-10-29T06:55:06-06:00'
                      answer_stamp: '2020-10-29T06:55:10-06:00'
                      end_stamp: '2020-10-29T07:02:39-06:00'
                      duration: 449
                    humanized_item_name: Intrastate call
                    customer_balance_adjustment: '-0.08'
                    links: null
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 50
                links:
                  - href: /call-records?page%5Bnumber%5D=1&page%5Bsize%5D=50
                    rel: self
                    method: GET
        '400':
          description: |
            Bad Request.
            This can be due to invalid date formats, exceeding the 30-day query limit, invalid filter/sort parameters, or other malformed query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordError'
              example:
                error: Query date range cannot exceed 30 days.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /country-codes:
    get:
      tags:
        - Country Codes
      summary: List Available Country Codes
      description: |
        Retrieves a list of all country codes supported by the system, often grouped by region or zone.
        This information is useful for configuring features like outbound call permissions on Sites.
      operationId: listAvailableCountryCodes
      responses:
        '200':
          description: A list of available country codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryCodeListResponse'
              example:
                country_codes:
                  - id: US
                    name: United States - 1
                    code: INTERSTATE|INTRASTATE|LOCAL|TOLLFREE
                    region: 'Zone 1: North America'
                  - id: EG
                    name: Egypt - 20
                    code: '20'
                    region: 'Zone 2: Africa'
                  - id: CA
                    name: Canada - 1
                    code: '1'
                    region: 'Zone 1: North America'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /credit-cards:
    get:
      tags:
        - Credit Cards
      summary: List Credit Cards
      description: Retrieves a list of all credit cards associated with the authenticated customer's account.
      operationId: listCreditCards
      responses:
        '200':
          description: A list of credit cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardListResponse'
              example:
                credit_cards:
                  - id: 101
                    name: Primary Visa
                    last4: '1111'
                    brand: Visa
                    exp_month: 12
                    exp_year: 2025
                    priority: 100
                    active: true
                    verified: true
                    expired: false
                    links:
                      - href: /credit-cards/101
                        rel: self
                        method: GET
                links:
                  - href: /credit-cards?page=1&page_size=25
                    rel: self
                    method: GET
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      tags:
        - Credit Cards
      summary: Add a New Credit Card
      description: |
        Adds a new credit card to the authenticated customer's account.
        The full card number is tokenized by the payment processor; only partial information (like last4, brand, expiry) is stored and returned by this API.
        A verification step is typically required after adding a new card.
      operationId: createCreditCard
      requestBody:
        description: Details of the new credit card to be added.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardCreateRequest'
            example:
              name: Backup Mastercard
              card_number: '5555444433332222'
              exp_month: 8
              exp_year: 2026
              cvv: '123'
              first_name: Jane
              last_name: Doe
              address_line1: 123 Payment Lane
              city: Secure City
              state_province: CA
              postal_code: '90210'
              country: US
              priority: 50
              active: true
      responses:
        '201':
          description: Credit card added successfully. The response includes details of the added card (excluding sensitive full PAN).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponse'
              example:
                id: 102
                name: Backup Mastercard
                last4: '2222'
                brand: Mastercard
                exp_month: 8
                exp_year: 2026
                priority: 50
                active: true
                verified: false
                expired: false
                links:
                  - href: /credit-cards/102
                    rel: self
                    method: GET
                  - href: /credit-cards/102/verify
                    rel: verify
                    method: PATCH
        '400':
          description: Bad Request - Invalid credit card details provided or validation failed (e.g., Luhn check, expiry date).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit-cards_components-schemas-Error'
              example:
                status: error
                error: Invalid card number or expiry date provided.
                error_code: INVALID_CARD_DETAILS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /credit-cards/{id}:
    get:
      tags:
        - Credit Cards
      summary: Credit Card Details
      operationId: creditCardDetails
      description: >-
        Retrieve information about a Credit Card.
        The information returned is:
        1. name
        2. priority
        3. active
        4. expired
        5. verified
      parameters:
        - name: id
          in: path
          description: ID of the credit card
          schema:
            type: integer
            format: int64
            example: 543
          required: true
      responses:
        '200':
          description: Credit Card Detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      tags:
        - Credit Cards
      summary: Update Credit Card
      operationId: updateCreditCard
      description: Update Credit Card
      parameters:
        - name: id
          in: path
          description: ID of the credit card
          schema:
            type: integer
            format: int64
            example: 543
          required: true
      requestBody:
        description: Details of the new credit card to be added.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardUpdateRequest'
      responses:
        '200':
          description: Credit Card Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponse'
        '400':
          description: Bad Request - Invalid credit card details provided or validation failed (e.g., Luhn check, expiry date).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit-cards_components-schemas-Error'
              example:
                status: error
                error: Invalid card number or expiry date provided.
                error_code: INVALID_CARD_DETAILS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    delete:
      tags:
        - Credit Cards
      summary: Delete Credit Card
      operationId: deleteCreditCard
      description: Delete Credit Card
      parameters:
        - name: id
          in: path
          description: ID of the credit card
          schema:
            type: integer
            format: int64
            example: 543
          required: true
      responses:
        '204':
          description: Credit Card Deleted. No Content
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /credit-cards/{id}/verify:
    patch:
      tags:
        - Credit Cards
      summary: Verify Credit Card
      operationId: verifyCreditCard
      description: >-
        When a credit card is added to your account, a small amount will be charged to the card.
        To verify that you are the owner of the credit card. The amount should match the amount charged.
      parameters:
        - name: id
          in: path
          description: ID of the credit card
          schema:
            example: 221
            type: integer
            format: int64
          required: true
      requestBody:
        description: Request body for credit card
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                amount_in_dollars:
                  description: >-
                    When a credit card is added to your account, a small amount will be charged to the card. Enter that amount here to verify that you are the owner of the credit card.
                  type: integer
      responses:
        '200':
          description: Credit Card Verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponse'
        '400':
          description: Bad Request - Invalid credit card details provided or validation failed (e.g., Luhn check, expiry date).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit-cards_components-schemas-Error'
              example:
                status: error
                error: Invalid card number or expiry date provided.
                error_code: INVALID_CARD_DETAILS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /items/{id}:
    parameters:
      - name: id
        in: path
        description: The unique identifier of the item.
        required: true
        schema:
          type: integer
          format: int64
          example: 449
    put:
      tags:
        - Items
      summary: Update Item Details
      description: |
        Updates attributes of a specific billable item, such as its name, pricing, or tax information,
        often within the context of a price deck.
        This operation is typically restricted to users with administrative privileges for managing pricing and service definitions.
      operationId: updateItemById
      requestBody:
        description: Item attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemUpdateRequest'
            example:
              name: Emergency Call Service (E911) - Updated
              item_price: '1.75'
              tax_category: 60
              tax_code: 9
      responses:
        '200':
          description: Item updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
              example:
                id: 449
                name: Emergency Call Service (E911) - Updated
                item_type: service_fee
                item_rules: e911_access
                item_price: '1.75'
                currency: USD
                price_deck_id: 10
                tax_category: 60
                tax_code: 9
                links:
                  - href: /items/449
                    rel: self
                    method: GET
        '400':
          description: Bad Request - Invalid data provided for the item update (e.g., validation errors).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/items_components-schemas-Error'
              example:
                status: error
                error: Invalid item_price format.
                error_code: ITEM_VALIDATION_ERROR
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/items_components-responses-NotFoundError'
  /packages:
    get:
      tags:
        - Packages
      summary: List Packages
      description: Retrieve a list of all available packages, potentially with pagination.
      operationId: listPackages
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: page_size
          in: query
          description: Number of packages per page.
          required: false
          schema:
            type: integer
            default: 25
            example: 10
      responses:
        '200':
          description: A paginated list of packages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPackageListResponse'
              example:
                packages:
                  - id: 94
                    name: Plan Subscription Fee
                    description: Monthly fee for the Unlimited Device Plan.
                    item_type: subscription
                    item_rules: base_fee
                    item_quantity: 1
                    price: '25.00'
                    currency: USD
                    plan_id: 1
                    included: true
                    removable: false
                    category: base_plan
                    renewable: true
                    links:
                      - href: /packages/94
                        rel: self
                        method: GET
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  - href: /packages?page=1&page_size=25
                    rel: self
                    method: GET
        '400':
          $ref: '#/components/responses/packages_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /packages/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Packages
      summary: Get Package Details
      description: Retrieves detailed information for a specific package by its ID.
      operationId: getPackageById
      responses:
        '200':
          description: Successfully retrieved package details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
              example:
                id: 94
                name: Plan Subscription Fee
                description: Monthly fee for the Unlimited Device Plan.
                item_type: subscription
                item_rules: base_fee
                item_quantity: 1
                price: '25.00'
                currency: USD
                plan_id: 1
                included: true
                removable: false
                category: base_plan
                renewable: true
                features: null
                links:
                  - href: /packages/94
                    rel: self
                    method: GET
                  - href: /plans/1
                    rel: relatedPlan
                    method: GET
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/packages_components-responses-NotFoundError'
  /payments:
    get:
      tags:
        - Payments
      summary: List Payments
      description: |
        Retrieves a paginated list of payments made on the authenticated account.
        The list is typically ordered by creation date, with the most recent payments first.
      operationId: listPayments
      parameters:
        - name: page_size
          in: query
          description: The number of payment entries to return per page.
          required: false
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 100
            example: 25
        - name: page
          in: query
          description: The page number of the result set to return.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
            example: 1
      responses:
        '200':
          description: A list of payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
              example:
                payments:
                  - id: 7001
                    amount_in_dollars: '50.00'
                    currency: USD
                    status: succeeded
                    payment_method_summary: Visa ending in 1111
                    transaction_id: ch_1JaelG2eZvKYlo2CiHq9D3S7
                    created_at: '2023-10-26T10:00:00Z'
                    links:
                      - href: /payments/7001
                        rel: self
                        method: GET
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  - href: /payments?page=1&page_size=25
                    rel: self
        '400':
          description: Bad Request - Invalid pagination parameters or other query issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payments_components-schemas-Error'
              example:
                status: error
                error: Invalid page_size parameter. Must be between 1 and 100.
                error_code: INVALID_PAGINATION_PARAMS
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      tags:
        - Payments
      summary: Create a Payment
      description: |
        Initiates a new payment on the authenticated account.
        The payment is typically made using the account's default or highest priority verified payment method.
        The request specifies the amount to be paid.
      operationId: createPayment
      requestBody:
        description: The amount for the payment.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount_in_dollars:
                  type: number
                  format: double
                  description: The amount of the payment in dollars.
                  example: 50.25
              required:
                - amount_in_dollars
              example:
                amount_in_dollars: 75.5
      responses:
        '201':
          description: Payment created successfully. The response includes details of the processed payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              example:
                id: 7002
                amount_in_dollars: '50.25'
                currency: USD
                status: succeeded
                success: true
                payment_method_summary: Visa ending in 1111
                transaction_id: pi_1JaelH2eZvKYlo2CkmN9E4T6
                created_at: '2023-10-26T10:05:00Z'
                links:
                  - href: /payments/7002
                    rel: self
                    method: GET
        '400':
          description: |
            Bad Request.
            Could be due to an invalid amount, no active payment method on file, or other processing issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payments_components-schemas-Error'
              example:
                status: error
                error: 'Payment failed: No verified payment method found on account.'
                error_code: PAYMENT_METHOD_REQUIRED
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          description: Payment Failed - The payment attempt was declined by the payment processor or failed for other reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payments_components-schemas-Error'
              example:
                status: error
                error: Payment declined by the bank. Please try a different payment method.
                error_code: PAYMENT_DECLINED
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /plans:
    get:
      tags:
        - Plans
      summary: List Current Account Plan(s)
      description: |
        Retrieves a paginated list of plan(s) currently active on the authenticated customer's account.
        Typically, an account has one primary active plan.
      operationId: listAccountPlans
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: page_size
          in: query
          description: Number of plans per page.
          required: false
          schema:
            type: integer
            default: 25
            example: 10
      responses:
        '200':
          description: A paginated list of currently active plans for the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanListResponse'
              example:
                plans:
                  - id: 1
                    name: Standard Business Plan
                    description: Includes core calling features, 1000 domestic minutes, and basic voicemail.
                    total_cost: '49.99'
                    currency: USD
                    removable: true
                    active: true
                    approved: true
                    finalized: true
                    items: null
                    packages: {}
                    links:
                      - href: /plans/1
                        rel: self
                        method: GET
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  - href: /plans?page=1&page_size=25
                    rel: self
                    method: GET
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /plans/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Plans
      summary: Get Plan Details
      description: Retrieves detailed information for a specific subscription plan by its ID.
      operationId: getPlanById
      responses:
        '200':
          description: Successfully retrieved plan details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
              example:
                id: 1
                name: Standard Business Plan
                description: Includes core calling features, 1000 domestic minutes, and basic voicemail.
                total_cost: '49.99'
                currency: USD
                removable: true
                active: true
                approved: true
                finalized: true
                items: null
                packages: {}
                links:
                  - href: /plans/1
                    rel: self
                    method: GET
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/plans_components-responses-NotFoundError'
  /sites:
    get:
      tags:
        - Sites
      summary: List Sites
      description: Retrieves a list of all sites associated with the authenticated customer's account.
      operationId: listSites
      responses:
        '200':
          description: A list of sites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      tags:
        - Sites
      summary: Create a New Site
      description: Creates a new site with the specified configurations.
      operationId: createSite
      requestBody:
        description: Configuration details for the new site.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteRequest'
      responses:
        '201':
          description: Site created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
        '400':
          $ref: '#/components/responses/sites_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /sites/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Sites
      summary: Get Site Details
      description: Retrieves detailed information for a specific site by its ID.
      operationId: getSiteById
      responses:
        '200':
          description: Successfully retrieved site details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
    put:
      tags:
        - Sites
      summary: Update Site Configuration
      description: Updates the configuration for an existing site by its ID.
      operationId: updateSiteById
      requestBody:
        description: Site attributes to update.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SiteRequest'
      responses:
        '200':
          description: Site updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
        '400':
          $ref: '#/components/responses/sites_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
    delete:
      tags:
        - Sites
      summary: Delete a Site
      description: |
        Permanently deletes a specific site and all its associated telephony features (e.g., devices, numbers, menus).
        This action cannot be undone.
      operationId: deleteSiteById
      responses:
        '204':
          description: Site deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
  /sites/{id}/rebuild:
    post:
      tags:
      - Sites
      summary: Rebuild Site
      operationId: rebuildSite
      description: >-
        Rebuild a site. Can be used if newly added calling features did not automatically get registered.
        Rebuild, will synchronize your site with the associated thin client and refresh the Site.
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Successfully retrieved site details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
  /sites/{id}/potential_destinations:
    get:
      tags:
      - Sites
      summary: Destinations for a Site of a certain type
      operationId: potentialDestinationsSitesClassName
      description: >-
        Retrieve all potential destinations on a site that are of a certain type.
      parameters:
        - in: query
          name: class_name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Successfully retrieved site details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteDestinationList'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
  /sites/{id}/potential_fail_overs:
    get:
      tags:
      - Sites
      summary: Failovers for a Site of a certain type
      operationId: potential_fail_overs_sites_class_name
      description: >-
        Retrieve all potential fail overs on a site that are of a certain type
      parameters:
        - $ref: '#/components/parameters/Id'
        - in: query
          name: class_name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved site details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteFailOverList'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-SiteNotFoundError'
  /sites/{site_id}/call-blocks:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Call Blocking
      summary: List Call Block Rules for a Site
      operationId: listSiteCallBlocks
      description: Retrieves a list of all call blocking rules configured for the specified site.
      responses:
        '200':
          description: An array of Call Block rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBlockListResponse'
              example:
                data:
                  - data:
                      id: '101'
                      type: call-block
                      attributes:
                        name: Block nuisance caller
                        phone_number: '+15551234567'
                        direction: inbound
                        status: active
                        site_id: 6
                        created_at: '2023-01-01T12:00:00Z'
                        updated_at: '2023-01-01T12:00:00Z'
                    links:
                      self:
                        href: /sites/6/call-blocks/101
                        rel: self
                        method: GET
                  - data:
                      id: '102'
                      type: call-block
                      attributes:
                        name: Another Block Rule
                        phone_number: '+15550001111'
                        direction: inbound
                        status: active
                        site_id: 6
                        created_at: '2023-01-02T14:00:00Z'
                        updated_at: '2023-01-02T14:00:00Z'
                    links:
                      self:
                        href: /sites/6/call-blocks/102
                        rel: self
                        method: GET
                links:
                  self:
                    href: /sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25
                    rel: self
                    method: GET
                  first:
                    href: /sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25
                    rel: first
                    method: GET
                  last:
                    href: /sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25
                    rel: last
                    method: GET
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
    post:
      tags:
        - Site Features - Call Blocking
      summary: Create a Call Block Rule
      operationId: createSiteCallBlock
      description: Adds a new call blocking rule to the specified site.
      requestBody:
        description: Call Block rule attributes.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBlockCreateRequest'
            example:
              data:
                type: call-block
                attributes:
                  name: Marketing Block
                  phone_number: +1800MARKETER
                  direction: inbound
                  status: active
      responses:
        '201':
          description: Call Block rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-CallBlockResponse'
              example:
                data:
                  id: '103'
                  type: call-block
                  attributes:
                    name: Marketing Block
                    phone_number: +1800MARKETER
                    direction: inbound
                    status: active
                    site_id: 6
                    created_at: '2023-01-15T10:30:00Z'
                    updated_at: '2023-01-15T10:30:00Z'
                links:
                  self:
                    href: /sites/6/call-blocks/103
                    rel: self
                    method: GET
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
  /sites/{site_id}/call-blocks/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - Call Blocking
      summary: Get Call Block Rule Details
      operationId: getSiteCallBlockById
      description: Retrieves the details of a specific Call Block rule.
      responses:
        '200':
          description: Call Block rule details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-CallBlockResponse'
              example:
                data:
                  type: call-block
                  id: '101'
                  attributes:
                    name: Marketing Block Rule
                    phone_number: '+18005551234'
                    direction: inbound
                    status: active
                  links:
                    self: /sites/6/call-blocks/101
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/call-block_components-responses-NotFoundError'
    put:
      tags:
        - Site Features - Call Blocking
      summary: Update Call Block Rule
      operationId: updateSiteCallBlockById
      description: Updates an existing Call Block rule. Only attributes provided in the request body will be updated.
      requestBody:
        description: Call Block rule attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBlockUpdateRequest'
            example:
              data:
                type: call-block
                attributes:
                  name: Updated Marketing Block
                  status: inactive
      responses:
        '200':
          description: Call Block rule updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-CallBlockResponse'
              example:
                data:
                  type: call-block
                  id: '101'
                  attributes:
                    name: Updated Marketing Block
                    phone_number: '+18005551234'
                    direction: inbound
                    status: inactive
                  links:
                    self: /sites/6/call-blocks/101
        '400':
          $ref: '#/components/responses/call-block_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/call-block_components-responses-NotFoundError'
        '409':
          $ref: '#/components/responses/responses-ConflictError'
    delete:
      tags:
        - Site Features - Call Blocking
      summary: Delete a Call Block Rule
      operationId: deleteSiteCallBlockById
      description: Permanently deletes a Call Block rule.
      responses:
        '204':
          description: Call Block rule deleted successfully. No content returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/call-block_components-responses-NotFoundError'
  /sites/{site_id}/conference-rooms:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Conference Rooms
      summary: List Conference Rooms for a Site
      description: Retrieves a list of all conference rooms configured for the specified site.
      operationId: listSiteConferenceRooms
      responses:
        '200':
          description: A list of conference rooms for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
    post:
      tags:
        - Site Features - Conference Rooms
      summary: Create a Conference Room for a Site
      description: |
        Adds a new conference room to the specified site.
        Requires providing a name, participant PIN, and moderator PIN.
        Greeting and music-on-hold audio files can also be uploaded during creation.
      operationId: createSiteConferenceRoom
      requestBody:
        description: Configuration details for the new conference room.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ConferenceRoomRequest'
      responses:
        '201':
          description: Conference room created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
  /sites/{site_id}/conference-rooms/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - Conference Rooms
      summary: Get Conference Room Details
      description: Retrieves detailed information for a specific conference room by its ID, belonging to the specified site.
      operationId: getSiteConferenceRoomById
      responses:
        '200':
          description: Successfully retrieved conference room details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ConferenceRoomNotFoundError'
    put:
      tags:
        - Site Features - Conference Rooms
      summary: Update Conference Room Configuration
      description: |
        Updates the configuration for a specific conference room on a site.
        Allows changing the name, PINs, profile, and audio files (greeting, music on hold).
      operationId: updateSiteConferenceRoomById
      requestBody:
        description: Conference room attributes to update.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ConferenceRoomRequest'
      responses:
        '200':
          description: Conference room updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ConferenceRoomNotFoundError'
    delete:
      tags:
        - Site Features - Conference Rooms
      summary: Delete a Conference Room
      description: Permanently deletes a specific conference room from the site.
      operationId: deleteSiteConferenceRoomById
      responses:
        '204':
          description: Conference room deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ConferenceRoomNotFoundError'
  /sites/{site_id}/conference-rooms/{id}/transfer:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    post:
      tags:
        - Site Features - Conference Rooms
      summary: Transfer Conference Room to Another Site
      description: |
        Moves a conference room from its current site (specified in the path)
        to a new target site (specified in the request body) within the same customer account.
      operationId: transferConferenceRoomToNewSite
      requestBody:
        description: The identifier of the new site to which the conference room should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the conference room.
                  example: 7
              required:
                - new_site_id
              example:
                new_site_id: 7
      responses:
        '200':
          description: Conference room transferred successfully. The response includes the conference room details in its new site context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Not Found - The original conference room, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Conference room, current site, or target site not found.
                error_code: RESOURCE_NOT_FOUND_FOR_TRANSFER
  /sites/{site_id}/conference-rooms/{id}/upload:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    patch:
      tags:
        - Site Features - Conference Rooms
      summary: Upload Conference Room Audio Files
      description: |
        Uploads or updates the greeting and/or music on hold audio files for a specific conference room.
        This is a PATCH operation as it modifies specific parts of the conference room resource (its audio files).
        The original Teliax API had this as PATCH.
      operationId: uploadSiteConferenceRoomAudio
      requestBody:
        description: Audio files for greeting and/or music on hold.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                greeting:
                  type: string
                  format: binary
                  nullable: true
                  description: Audio file for the menu greeting (e.g., .mp3, .wav).
                music_on_hold:
                  type: string
                  format: binary
                  nullable: true
                  description: Audio file for music on hold. If not provided, existing music is unchanged.
              example: {}
      responses:
        '200':
          description: Audio file(s) uploaded successfully. Returns the updated conference room details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceRoomResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ConferenceRoomNotFoundError'
  /sites/{site_id}/devices:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Devices
      summary: List Devices for a Site
      description: Retrieves a list of all devices (e.g., IP phones, softphones) configured for the specified site.
      operationId: listSiteDevices
      responses:
        '200':
          description: A list of devices for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/components-responses-SiteNotFoundError'
    post:
      tags:
        - Site Features - Devices
      summary: Create a Device for a Site
      description: |
        Adds a new device to the specified site.
        The system will generate login credentials (login and password) for the device.
      operationId: createSiteDevice
      requestBody:
        description: Configuration details for the new device.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-DeviceCore'
      responses:
        '201':
          description: Device created successfully. The response includes the generated password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400':
          $ref: '#/components/responses/index_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/components-responses-SiteNotFoundError'
        '409':
          description: Conflict - A device with the specified login already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/index_components-schemas-Error'
              example:
                status: error
                error: Device login 'confroom1.site6' already exists.
                error_code: DEVICE_LOGIN_CONFLICT
  /sites/{site_id}/devices/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - Devices
      summary: Get Device Details
      description: Retrieves detailed information for a specific device by its ID, belonging to the specified site.
      operationId: getSiteDeviceById
      responses:
        '200':
          description: Successfully retrieved device details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-DeviceNotFoundError'
    put:
      tags:
        - Site Features - Devices
      summary: Update Device Configuration
      description: |
        Updates the configuration for a specific device on a site.
        Note: The SIP password cannot be updated via this endpoint; use the dedicated regenerate-password endpoint for that.
      operationId: updateSiteDeviceById
      requestBody:
        description: Device attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-DeviceCore'
      responses:
        '200':
          description: Device updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400':
          $ref: '#/components/responses/device_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-DeviceNotFoundError'
        '409':
          description: Conflict - The updated login name already exists for another device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device_components-schemas-Error'
              example:
                status: error
                error: Device login 'john.doe.phone1' already exists.
                error_code: DEVICE_LOGIN_CONFLICT
    delete:
      tags:
        - Site Features - Devices
      summary: Delete a Device
      description: Permanently deletes a specific device from the site.
      operationId: deleteSiteDeviceById
      responses:
        '204':
          description: Device deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-DeviceNotFoundError'
  /sites/{site_id}/devices/status:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Devices
      summary: List Device Registration Statuses for a Site
      description: |
        Retrieves the registration status for all devices configured on the specified site.
        Indicates which devices are currently online and registered with the call processing services.
      operationId: getSiteDeviceStatuses
      responses:
        '200':
          description: A list of device registration statuses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
  /sites/{site_id}/devices/{id}/regenerate-password:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    patch:
      tags:
        - Site Features - Devices
      summary: Regenerate Device SIP Password
      description: |
        Generates a new random SIP password for the specified device.
        The old password will no longer be valid.
        The device will need to be updated with the new password to re-register.
        The new password is included in the response.
      operationId: regenerateSiteDevicePassword
      responses:
        '200':
          description: Device password regenerated successfully. The new password is included in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponseWithPassword'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/DeviceNotFoundError'
  /sites/{site_id}/devices/{id}/transfer:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    post:
      tags:
        - Site Features - Devices
      summary: Transfer Device to Another Site
      description: |
        Moves a device from its current site (specified in the path) to a new target site
        (specified in the request body) within the same customer account.
        The device configuration (apart from its site association) generally remains the same.
      operationId: transferDeviceToNewSite
      requestBody:
        description: The identifier of the new site to which the device should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the device.
                  example: 7
              required:
                - new_site_id
              example:
                new_site_id: 7
      responses:
        '200':
          description: Device transferred successfully. The response includes the device details in its new site context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Not Found - The original device, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Device, current site, or target site not found.
                error_code: RESOURCE_NOT_FOUND_FOR_TRANSFER
  /sites/{site_id}/e911s:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - E911
      summary: List E911 Records for a Site
      description: Retrieves a list of all E911 records (validated emergency addresses) associated with the specified site.
      operationId: listSiteE911Records
      responses:
        '200':
          description: A list of E911 records for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E911ListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
  /sites/{site_id}/e911s/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - E911
      summary: Get E911 Record Details
      description: Retrieves detailed information for a specific E911 record by its ID, belonging to the specified site.
      operationId: getSiteE911RecordById
      responses:
        '200':
          description: Successfully retrieved E911 record details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E911Response'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/E911NotFoundError'
    put:
      tags:
        - Site Features - E911
      summary: Update E911 Record
      description: |
        Updates the details of an existing E911 record.
        This typically involves providing address information for validation with emergency services.
      operationId: updateSiteE911RecordById
      requestBody:
        description: E911 record attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/E911UpdateRequest'
      responses:
        '200':
          description: E911 record updated and re-validated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E911Response'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/E911NotFoundError'
    delete:
      tags:
        - Site Features - E911
      summary: Delete E911 Record
      description: |
        Deletes a specific E911 record.
        This action may also unregister the associated address from emergency services.
        Ensure no phone numbers or devices are solely reliant on this E911 record for emergency calling.
      operationId: deleteSiteE911RecordById
      responses:
        '204':
          description: E911 record deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/E911NotFoundError'
        '409':
          description: Conflict - E911 record cannot be deleted as it is actively linked to essential services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sites/{site_id}/extensions:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Extensions
      summary: List Extensions for a Site
      description: Retrieve a paginated list of all extensions that belong to a site.
      operationId: listSiteExtensions
      responses:
        '200':
          description: A paginated list of extensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/index_components-responses-SiteNotFoundError'
    post:
      tags:
        - Site Features - Extensions
      summary: Create Extension for a Site
      description: Add a new extension to the specified site.
      operationId: createSiteExtension
      requestBody:
        description: Details for the new extension.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionRequest'
      responses:
        '201':
          description: Extension Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResponse'
        '400':
          $ref: '#/components/responses/index_components-responses-BadRequestError-2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/index_components-responses-SiteNotFoundError'
        '409':
          $ref: '#/components/responses/components-responses-ConflictError'
  /sites/{site_id}/extensions/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - Extensions
      summary: Get Extension Details
      description: Retrieves detailed information for a specific extension by its ID, belonging to the specified site.
      operationId: getSiteExtensionById
      responses:
        '200':
          description: Successfully retrieved extension details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/extension_components-responses-NotFoundError'
    put:
      tags:
        - Site Features - Extensions
      summary: Update Extension Configuration
      description: Updates the configuration for a specific extension on a site, such as its name, number, or call routing destination.
      operationId: updateSiteExtensionById
      requestBody:
        description: Extension attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionRequest'
      responses:
        '200':
          description: Extension updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResponse'
        '400':
          $ref: '#/components/responses/extension_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/extension_components-responses-NotFoundError'
        '409':
          description: Conflict - The updated extension number already exists on this site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension_components-schemas-Error'
              example:
                status: error
                error: Extension number '2005' already exists on this site.
                error_code: EXTENSION_NUMBER_CONFLICT
    delete:
      tags:
        - Site Features - Extensions
      summary: Delete an Extension
      description: Permanently deletes a specific extension from the site.
      operationId: deleteSiteExtensionById
      responses:
        '204':
          description: Extension deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/extension_components-responses-NotFoundError'
  /sites/{site_id}/extensions/{id}/transfer:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    post:
      tags:
        - Site Features - Extensions
      summary: Transfer Extension to Another Site
      description: Moves an extension from its current site to a new target site.
      operationId: transferSiteExtension
      requestBody:
        description: The identifier of the new site for the extension.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site.
                  example: 8
              required:
                - new_site_id
              example:
                new_site_id: 8
      responses:
        '200':
          description: Extension transferred successfully. Returns the extension details in its new site context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResponse'
              example:
                id: 14
                site_id: 8
                name: Sales Hotline Ext Moved
                number: '1001'
                destination_code: ringgroup:rg_sales
                destination_name: Sales Ring Group
                user_id: 5
                links:
                  - href: /sites/8/extensions/14
                    rel: self
                    method: GET
        '400':
          $ref: '#/components/responses/transfer_components-responses-BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/transfer_components-responses-NotFoundError'
  /sites/{site_id}/fax-machines:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Fax Machines
      summary: List Fax Machines for a Site
      description: Retrieves a list of all fax machine (Fax to Email) configurations for the specified site.
      operationId: listSiteFaxMachines
      responses:
        '200':
          description: A list of fax machines for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
    post:
      tags:
        - Site Features - Fax Machines
      summary: Create a Fax Machine for a Site
      description: |
        Adds a new fax machine (Fax to Email) configuration to the specified site.
        Requires a name and one or more notification email addresses where received faxes (as PDFs) will be sent.
      operationId: createSiteFaxMachine
      requestBody:
        description: Configuration details for the new fax machine.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxMachineCreateRequest'
            example:
              name: Legal Department Fax
              notification_emails: legal@example.com
      responses:
        '201':
          description: Fax machine created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
  /sites/{site_id}/fax-machines/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/Id'
    get:
      tags:
        - Site Features - Fax Machines
      summary: Get Fax Machine Details
      description: Retrieves detailed information for a specific fax machine configuration by its ID, belonging to the specified site.
      operationId: getSiteFaxMachineById
      responses:
        '200':
          description: Successfully retrieved fax machine details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/FaxMachineNotFoundError'
    put:
      tags:
        - Site Features - Fax Machines
      summary: Update Fax Machine Configuration
      description: Updates the configuration for a specific fax machine on a site, such as its name or notification email addresses.
      operationId: updateSiteFaxMachineById
      requestBody:
        description: Fax machine attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxMachineUpdateRequest'
      responses:
        '200':
          description: Fax machine configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/FaxMachineNotFoundError'
    delete:
      tags:
        - Site Features - Fax Machines
      summary: Delete a Fax Machine Configuration
      description: Permanently deletes a specific fax machine configuration from the site.
      operationId: deleteSiteFaxMachineById
      responses:
        '204':
          description: Fax machine configuration deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/FaxMachineNotFoundError'
[...]
