openapi: 3.0.3
info:
  title: Ringer Business API - Site Available Forwards
  description: |
    Endpoint for listing available and assigned forwards for a site in your Ringer Business account.
    
    ## Authentication
    This API uses OAuth 2.0 for authentication. To obtain an access token:
    
    1. Make a POST request to the `/auth/token` endpoint with your client credentials
    2. Include the access token in subsequent requests using the Authorization header:
       `Authorization: Bearer YOUR_ACCESS_TOKEN`
       
    Contact your account manager to obtain client credentials.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Forwards
    description: "Managing call forwards associated with sites."

paths:
  /sites/{siteId}/forwards/available:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Forwards
      summary: List Available Forwards for a Site/User
      description: >-
        Retrieve all the available and assigned forwards for the site.
        Optionally filter by user ID to show forwards assigned to a specific user.
      operationId: listSiteAvailableForwards
      security:
        - oAuth2: [read]
      parameters:
        - name: userId
          in: query
          description: ID of the user to filter forwards by
          required: false
          schema:
            type: integer
            format: int64
            example: 42
      responses:
        '200':
          description: An array of available Forwards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableForwardListResponse'
              example:
                forwards:
                  - id: 77
                    site_id: 6
                    name: "After Hours"
                    destination_dial_string: "+13125559876"
                    active: true
                    timeout: 30
                    fail_over_destination_code: "voicemailbox:vm_general"
                    assigned: true
                    assigned_to: 42
                    user_id: 10
                    links:
                      - href: "/sites/6/forwards/77"
                        rel: "self"
                        method: "GET"
                  - id: 78
                    site_id: 6
                    name: "Lunch Break"
                    destination_dial_string: "+13125559877"
                    active: false
                    timeout: 20
                    fail_over_destination_code: null
                    assigned: false
                    assigned_to: null
                    user_id: null
                    links:
                      - href: "/sites/6/forwards/78"
                        rel: "self"
                        method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    AvailableForwardListResponse:
      type: object
      properties:
        forwards:
          type: array
          description: Array of Forwards considered available or assigned in this context.
          items:
            $ref: '#/components/schemas/AvailableForward'
      required:
        - forwards
      example:
        forwards:
          - id: 77
            site_id: 6
            name: "After Hours"
            destination_dial_string: "+13125559876"
            active: true
            timeout: 30
            fail_over_destination_code: "voicemailbox:vm_general"
            assigned: true
            assigned_to: 42
            user_id: 10
            links:
              - href: "/sites/6/forwards/77"
                rel: "self"
                method: "GET"
          - id: 78
            site_id: 6
            name: "Lunch Break"
            destination_dial_string: "+13125559877"
            active: false
            timeout: 20
            fail_over_destination_code: null
            assigned: false
            assigned_to: null
            user_id: null
            links:
              - href: "/sites/6/forwards/78"
                rel: "self"
                method: "GET"
    
    AvailableForward:
      type: object
      allOf:
        - $ref: './index.yaml#/components/schemas/ForwardResponse'
        - type: object
          properties:
            assigned:
              type: boolean
              description: Whether the forward is currently assigned (e.g., to the user specified in query).
              example: true
            assigned_to:
              type: integer
              format: int64
              nullable: true
              description: ID of the user this forward is assigned to in this context, if any.
              example: 42
          required: 
            - assigned

    # Link and Error schemas are expected to be in common components dir
    # Link: 
    #   $ref: '../../../components/schemas/link.yaml'
    # Error:
    #   $ref: '../../../components/schemas/error.yaml' 