openapi: 3.0.3
info:
  title: Ringer Business API - Site Forward Transfer
  description: |
    Endpoint for transferring forwards between sites in your Ringer Business account.
    
    ## Authentication
    This API uses OAuth 2.0 for authentication. To obtain an access token:
    
    1. Make a POST request to the `/auth/token` endpoint with your client credentials
    2. Include the access token in subsequent requests using the Authorization header:
       `Authorization: Bearer YOUR_ACCESS_TOKEN`
       
    Contact your account manager to obtain client credentials.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Site Features - Forwards
    description: "Manage forwards associated with sites."

paths:
  /sites/{siteId}/forwards/{forwardId}/transfer:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/ForwardIdPath'
    post:
      tags:
        - Site Features - Forwards
      summary: Transfer Site Forward
      description: Transfer a call forward to a different site.
      operationId: transferSiteForward
      security:
        - oAuth2: [write]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  description: ID of the site to transfer the forward to
                  example: 7
              required:
                - new_site_id
              example:
                new_site_id: 7
      responses:
        '200':
          description: Forward Transferred Successfully
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ForwardResponse'
              example:
                id: 77
                site_id: 7
                name: "Transferred Forward"
                destination_dial_string: "+13125551234"
                active: true
                timeout: 20
                fail_over_destination_code: "voicemailbox:general_vm"
                user_id: null
                links:
                  - href: "/sites/7/forwards/77"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

# Removed local Link and Error schemas as they should be in common_components.yaml 