openapi: 3.0.3
info:
  title: Ringer Business API - Site Extension (Individual Operations)
  description: |
    Endpoints for managing an individual extension associated with a specific site.
    Allows retrieving, updating, and deleting a specific extension.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Extensions
    description: Managing internal extensions for call routing within a site.

paths:
  /sites/{siteId}/extensions/{extensionId}:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/ExtensionIdPath'
    get:
      tags:
        - Site Features - Extensions
      summary: Get Extension Details
      description: Retrieves detailed information for a specific extension by its ID, belonging to the specified site.
      operationId: getSiteExtensionById 
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Successfully retrieved extension details.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ExtensionResponse'
              example:
                id: 14
                site_id: 6
                name: "Sales Hotline Ext"
                number: "1001"
                destination_code: "ringgroup:rg_sales"
                destination_name: "Sales Ring Group"
                user_id: 5
                links: 
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags:
        - Site Features - Extensions
      summary: Update Extension Configuration
      description: Updates the configuration for a specific extension on a site, such as its name, number, or call routing destination.
      operationId: updateSiteExtensionById 
      security:
        - oAuth2: [write]
      requestBody:
        description: Extension attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionUpdateRequest'
            example:
              name: "Marketing Hotdesk"
              number: "2005"
              destination_code: "user:jane_doe_vm"
              user_id: null
      responses:
        '200':
          description: Extension updated successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ExtensionResponse'
              example:
                id: 14
                site_id: 6
                name: "Marketing Hotdesk"
                number: "2005"
                destination_code: "user:jane_doe_vm"
                destination_name: "Support Desk Main Phone"
                user_id: 10
                links: 
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409': 
          description: Conflict - The updated extension number already exists on this site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Extension number '2005' already exists on this site."
                error_code: "EXTENSION_NUMBER_CONFLICT"

    delete:
      tags:
        - Site Features - Extensions
      summary: Delete an Extension
      description: Permanently deletes a specific extension from the site.
      operationId: deleteSiteExtensionById 
      security:
        - oAuth2: [write, admin]
      responses:
        '204':
          description: Extension deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

components:
  parameters:
    ExtensionIdPath:
      name: extensionId
      in: path
      description: The unique identifier of the extension record.
      required: true
      schema:
        type: integer
        format: int64
        example: 14

  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authentication for securing API endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

  schemas:
    ExtensionUpdateRequest:
      allOf:
        - $ref: './index.yaml#/components/schemas/ExtensionCore'
        - type: object
          properties:
            user_id:
              type: integer
              format: int64
              nullable: true
              description: Optional user ID to associate with this extension.
              example: 10
      description: Data for updating an existing extension. Only provide fields to be changed.
      example:
        name: "Marketing Hotdesk"
        number: "2005"
        destination_code: "user:jane_doe_vm"
        user_id: null

    Error:
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
        error_code:
          type: string
        details:
          type: array
          nullable: true
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "An individual extension operation error occurred."
        error_code: "EXTENSION_DETAIL_ERROR"

  responses:
    UnauthorizedError:
      description: Unauthorized - Authentication token is missing, invalid, or does not have permissions for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Authentication token is missing or invalid."
            error_code: "UNAUTHORIZED"
    ForbiddenError:
      description: Forbidden - The authenticated user does not have the necessary permissions to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "You do not have permission for this action."
            error_code: "FORBIDDEN"
    NotFoundError: 
      description: Not Found - The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Extension not found."
            error_code: "RESOURCE_NOT_FOUND"
    BadRequestError:
      description: Bad Request - The request was malformed or contained invalid data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Invalid request parameters for extension."
            error_code: "INVALID_REQUEST" 