openapi: 3.0.3
info:
  title: Ringer Business API - Site Available Schedules
  description: API endpoint for listing available schedules for a site, optionally filtered by user.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - Schedules
    description: "Managing time-based routing schedules for a site."

paths:
  /sites/{siteId}/schedules/available:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      tags:
        - Site Features - Schedules
      summary: List Available Schedules for a Site
      operationId: listSiteAvailableSchedules
      description: >-
        Retrieves available and (if applicable) assigned Schedules that could be used by the Site or a User on the Site.
      security:
        - oAuth2: [read]
      parameters:
        - name: userId
          in: query
          description: Optional. User ID to filter or contextualize available schedules.
          required: false
          schema:
            type: integer
            format: int64
            example: 10
      responses:
        '200':
          description: A list of available schedules.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/PaginatedScheduleListResponse' 
              example:
                schedules:
                  - id: "15"
                    type: "schedule"
                    attributes:
                      name: "Company Holiday Schedule Template"
                      time_zone: "America/New_York"
                      start_hour: "00"
                      start_minute: "00"
                      end_hour: "23"
                      end_minute: "59"
                      start_weekday: "Mon"
                      end_weekday: "Sun"
                      exceptions: "12/25,01/01"
                      positive_destination_code: "menu:holiday_closed"
                      negative_destination_code: "menu:holiday_closed"
                      site_id: null 
                    links:
                      self:
                        href: "/schedules/templates/15"
                        rel: "self"
                        method: "GET"
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  self:
                    href: "/sites/6/schedules/available?page=1&page_size=25"
                    rel: "self"
                    method: "GET"
                  first:
                    href: "/sites/6/schedules/available?page=1&page_size=25"
                    rel: "first"
                    method: "GET"
                  last:
                    href: "/sites/6/schedules/available?page=1&page_size=25"
                    rel: "last"
                    method: "GET"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'

components:
  parameters:
    SiteIdPath:
      name: siteId
      in: path
      description: The unique identifier of the site.
      required: true
      schema:
        type: integer
        format: int64
        example: 6

  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authentication for securing API endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

  schemas:
    Error:
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
          description: A human-readable description of the error.
        error_code:
          type: string
          description: A machine-parsable error code.
        details:
          type: array
          nullable: true
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "An error occurred while retrieving available schedules."
        error_code: "AVAILABLE_SCHEDULES_ERROR"

  responses:
    UnauthorizedError:
      description: Unauthorized - Authentication token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Authentication required."
            error_code: "UNAUTHORIZED"
    ForbiddenError:
      description: Forbidden - The authenticated user does not have permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Permission denied."
            error_code: "FORBIDDEN"
    SiteNotFoundError:
      description: Not Found - The specified site could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Site not found."
            error_code: "SITE_NOT_FOUND" 