openapi: 3.0.3
info:
  title: Ringer Business API - Site Available Phone Numbers
  description: |
    Endpoint for listing phone numbers that are available for assignment to a specific site, 
    optionally filtered by user context.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Phone Numbers # Standardized tag
    description: "Managing phone numbers associated with sites."

paths:
  /sites/{siteId}/phone-numbers/available: # Standardized siteId
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId' # MODIFIED PATH
    get:
      tags:
        - Site Features - Phone Numbers
      summary: List Available Phone Numbers for a Site
      description: >-
        Retrieves phone numbers that are available for assignment to the specified site. 
        Can be optionally filtered by user ID.
      operationId: listSiteAvailablePhoneNumbers # Renamed
      security:
        - oAuth2: [read]
      parameters:
        - name: userId # Standardized from user_id
          in: query
          description: Optional. ID of the user to filter available phone numbers by.
          required: false
          schema:
            type: integer
            format: int64
            example: 42
      responses:
        '200':
          description: A list of available phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePhoneNumberListResponse' # New schema name
              example:
                phone_numbers: # Field name from the new schema
                  - id: 125 # Example of an unassigned or available number
                    site_id: null # Or inventory site_id
                    name: "Inventory DID 1"
                    number: "+17205551000"
                    destination_code: "" # Added destination_code
                    destination: null # Not yet routed
                    fail_over_destination_code: null # Added based on schema example
                    fail_over_destination: null
                    e911_id: null
                    user_id: null
                    assigned: false
                    assigned_to: null
                    links:
                      - href: "/phone-number-inventory/125" # Example link to inventory details
                        rel: "inventoryDetails"
                        method: "GET"
                  - id: 123 # Example of an already assigned number, but shown for context if user_id matches
                    site_id: 6
                    name: "Main Office"
                    number: "+13125551234"
                    destination_code: "ring_group:10" # Added destination_code for completeness
                    destination:
                      code: "ring_group:10"
                      name: "Sales Team"
                    fail_over_destination:
                      code: "voicemailbox:vm_sales"
                      name: "Sales Voicemail"
                    e911_id: 45
                    user_id: 42
                    assigned: true
                    assigned_to: 42
                    links:
                      - href: "/sites/6/phone-numbers/123"
                        rel: "self"
                        method: "GET"
                # Add pagination links if this list becomes paginated
                # links:
                #   - href: "/sites/6/phone-numbers/available?page=1&page_size=25"
                #     rel: "self"
                #     method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError' # MODIFIED PATH

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH

  schemas:
    AvailablePhoneNumber: # Schema for items in the list
      type: object
      allOf:
        - $ref: './index.yaml#/components/schemas/PhoneNumberResponse' # Uses full PhoneNumberResponse from index
        - type: object
          properties:
            assigned:
              type: boolean
              description: Whether the phone number is currently assigned (e.g. to the specified user or any user on the site).
              example: true
            assigned_to:
              type: integer
              format: int64
              nullable: true
              description: ID of the user this phone number is assigned to, if any.
              example: 42
          required:
            - assigned

    AvailablePhoneNumberListResponse: # New schema for the list response
      type: object
      description: A list of available or contextually relevant phone numbers.
      properties:
        phone_numbers: # Changed from 'forwards' to 'phone_numbers' for consistency
          type: array
          items:
            $ref: '#/components/schemas/AvailablePhoneNumber'
        # links: # For pagination or self links if applicable
        #   type: array
        #   items:
        #     $ref: '../../common_components.yaml#/components/schemas/Link' # MODIFIED PATH FOR COMMON LINK IF USED
      required:
        - phone_numbers
      example:
        phone_numbers:
          - id: 125 
            site_id: null 
            name: "Inventory DID 1"
            number: "+17205551000"
            destination_code: "" # Added destination_code
            destination: null 
            fail_over_destination_code: null # Added based on schema example
            fail_over_destination: null
            e911_id: null
            user_id: null
            assigned: false
            assigned_to: null
            links:
              - href: "/phone-number-inventory/125" 
                rel: "inventoryDetails"
                method: "GET"
          - id: 123 
            site_id: 6
            name: "Main Office"
            number: "+13125551234"
            destination_code: "ring_group:10" # Added destination_code for completeness
            destination:
              code: "ring_group:10"
              name: "Sales Team"
            fail_over_destination:
              code: "voicemailbox:vm_sales"
              name: "Sales Voicemail"
            e911_id: 45
            user_id: 42
            assigned: true
            assigned_to: 42
            links:
              - href: "/sites/6/phone-numbers/123"
                rel: "self"
                method: "GET"

    # Removed local, unused PhoneNumber, Link, Error schemas 