openapi: 3.0.3
info:
  title: Ringer Business API - Site Phone Number (Individual Operations)
  description: |
    Endpoints for retrieving, updating, and deleting individual phone numbers assigned to a specific site.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Phone Numbers # Standardized tag
    description: "Managing phone numbers associated with sites."

paths:
  /sites/{siteId}/phone-numbers/{phoneNumberId}:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/PhoneNumberIdPath'
    get:
      tags:
        - Site Features - Phone Numbers
      summary: Get Phone Number Details
      description: Retrieves detailed information for a specific phone number assigned to a site.
      operationId: getSitePhoneNumberById # Renamed
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Successfully retrieved phone number details.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/PhoneNumberResponse'
              example:
                id: 123
                site_id: 6
                name: "Main Office Line"
                number: "+13035551212"
                destination_code: "ring_group:10"
                destination:
                  name: "Sales Team Ring Group"
                  code: "ring_group:10"
                fail_over_destination_code: "voicemailbox:vm_sales"
                fail_over_destination:
                  name: "Sales Voicemail"
                  code: "voicemailbox:vm_sales"
                e911_id: 45
                user_id: null
                links:
                  - href: "/sites/6/phone-numbers/123"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/PhoneNumberNotFoundError'
    
    put:
      tags:
        - Site Features - Phone Numbers
      summary: Update Phone Number Configuration
      description: Updates configuration for a specific phone number. Only provided fields are changed.
      operationId: updateSitePhoneNumberById # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: Phone number attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberUpdateRequest'
      responses:
        '200':
          description: Phone number configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/PhoneNumberResponse'
              example:
                id: 127
                site_id: 6
                name: "Main Sales Line (Overflow)"
                number: "+13035551234"
                destination_code: "ringgroup:sales_team_rg"
                destination:
                  name: "Sales Team Ring Group"
                  code: "ringgroup:sales_team_rg"
                fail_over_destination_code: "voicemailbox:vm_sales"
                fail_over_destination:
                  name: "Sales Voicemail"
                  code: "voicemailbox:vm_sales"
                e911_id: 45
                user_id: 5
                links:
                  - href: "/sites/6/phone-numbers/127"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/PhoneNumberNotFoundError'
    
    delete:
      tags:
        - Site Features - Phone Numbers
      summary: Unassign/Delete Phone Number from Site
      description: Removes a phone number assignment from the site. The number may return to inventory.
      operationId: deleteSitePhoneNumberById # Renamed
      security:
        - oAuth2: [write]
      responses:
        '204':
          description: Phone number unassigned/deleted successfully. No content is returned.
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/PhoneNumberNotFoundError'

components:
  parameters:
    phoneNumberId: # Corrected casing from spectral error if it was different
      name: phoneNumberId
      in: path
      description: The unique identifier of the phone number record.
      required: true
      schema:
        type: integer
        format: int64
        example: 127

  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    PhoneNumberUpdateRequest:
      type: object
      description: Data for updating an existing phone number's configuration on a site.
      properties:
        name:
          type: string
          nullable: true
          description: New user-friendly name for the phone number.
          example: "Support Hotline - Updated"
        destination_code:
          type: string
          nullable: true
          description: New system code for the call routing destination.
          example: "voicemailbox:support_general_vm"
        fail_over_destination_code:
          type: string
          nullable: true
          description: New system code for the failover destination.
          example: "menu:after_hours_support_menu"
        e911_id:
          type: integer
          format: int64
          nullable: true
          description: New E911 record ID to associate.
          example: 47
        user_id:
          type: integer
          format: int64
          nullable: true
          description: New user ID to associate with the phone number.
          example: 103
      example:
        name: "Main Office Line (Primary - Updated)"
        destination_code: "device:reception_phone_new"

    # Removed local PhoneNumberResponse as it should be defined in and referenced from index.yaml
    # Link and Error schemas are expected to be in common components dir 