openapi: 3.0.3
info:
  title: Ringer Business API - Site Call Blocks (Collection)
  description: |
    Endpoints for listing Call Block rules associated with a specific site and creating new rules.
    Call blocking allows customers to prevent inbound calls from specified numbers.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Site Features - Call Blocking
    description: Managing Call Block rules for a site.

paths:
  /sites/{siteId}/call-blocks:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Call Blocking
      summary: List Call Block Rules for a Site
      operationId: listSiteCallBlocks
      description: Retrieves a list of all call blocking rules configured for the specified site.
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: An array of Call Block rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBlockListResponse'
              example:
                data:
                  - data:
                      id: "101"
                      type: "call-block"
                      attributes:
                        name: "Block nuisance caller"
                        phone_number: "+15551234567"
                        direction: "inbound"
                        status: "active"
                        site_id: 6
                        created_at: "2023-01-01T12:00:00Z"
                        updated_at: "2023-01-01T12:00:00Z"
                    links:
                      self:
                        href: "/sites/6/call-blocks/101"
                        rel: "self"
                        method: "GET"
                  - data:
                      id: "102"
                      type: "call-block"
                      attributes:
                        name: "Another Block Rule"
                        phone_number: "+15550001111"
                        direction: "inbound"
                        status: "active"
                        site_id: 6
                        created_at: "2023-01-02T14:00:00Z"
                        updated_at: "2023-01-02T14:00:00Z"
                    links:
                      self:
                        href: "/sites/6/call-blocks/102"
                        rel: "self"
                        method: "GET"
                links:
                  self:
                    href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
                    rel: "self"
                    method: "GET"
                  first:
                    href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
                    rel: "first"
                    method: "GET"
                  last:
                    href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
                    rel: "last"
                    method: "GET"
                  next: null
                  prev: null
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

    post:
      tags:
        - Site Features - Call Blocking
      summary: Create a Call Block Rule
      operationId: createSiteCallBlock
      description: Adds a new call blocking rule to the specified site.
      security:
        - oAuth2: [write]
      requestBody:
        description: Call Block rule attributes.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBlockCreateRequest'
            example:
              data:
                type: "call-block"
                attributes:
                  name: "Marketing Block"
                  phone_number: "+1800MARKETER"
                  direction: "inbound"
                  status: "active"
      responses:
        '201':
          description: Call Block rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBlockResponse'
              example:
                data:
                  id: "103"
                  type: "call-block"
                  attributes:
                    name: "Marketing Block"
                    phone_number: "+1800MARKETER"
                    direction: "inbound"
                    status: "active"
                    site_id: 6
                    created_at: "2023-01-15T10:30:00Z"
                    updated_at: "2023-01-15T10:30:00Z"
                links:
                  self:
                    href: "/sites/6/call-blocks/103"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'
        '409':
          $ref: '../../common_components.yaml#/components/responses/ConflictError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    CallBlockAttributes:
      type: object
      properties:
        name:
          type: string
          description: Name of the Call Block rule.
        phone_number:
          type: string
          description: Phone number pattern to block.
        direction:
          type: string
          enum: [inbound, outbound, both]
          default: "inbound"
          description: Direction of calls to block.
        status:
          type: string
          enum: [active, inactive]
          default: "active"
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Creation timestamp.
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Last update timestamp.
      required:
        - name
        - phone_number

    CallBlockCreateRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            type:
              type: string
              enum: [call-block]
            attributes:
              $ref: '#/components/schemas/CallBlockAttributes'
      example:
        data:
          type: "call-block"
          attributes:
            name: "Block Robocalls"
            phone_number: "+1234567xxxx"
            direction: "inbound"
            status: "active"

    CallBlockResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: int64
              description: Unique identifier for the Call Block rule.
            type:
              type: string
              enum: [call-block]
            attributes:
              allOf:
                - $ref: '#/components/schemas/CallBlockAttributes'
                - type: object
                  properties:
                    site_id:
                      type: integer
                      format: int64
                      readOnly: true
        links:
          $ref: '../../common_components.yaml#/components/schemas/LinkObject'
      example:
        data:
          id: "101"
          type: "call-block"
          attributes:
            name: "Example Block Rule"
            phone_number: "+15558675309"
            direction: "inbound"
            status: "active"
            site_id: 6
            created_at: "2023-01-15T10:00:00Z"
            updated_at: "2023-01-15T10:00:00Z"
          links:
            self:
              href: "/sites/6/call-blocks/101"
              rel: "self"
              method: "GET"

    CallBlockListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CallBlockResponse'
        links:
          $ref: '../../common_components.yaml#/components/schemas/PaginationLinks'
      example:
        data:
          - data:
              id: "101"
              type: "call-block"
              attributes:
                name: "Block nuisance caller"
                phone_number: "+15551234567"
                direction: "inbound"
                status: "active"
                site_id: 6
                created_at: "2023-01-01T12:00:00Z"
                updated_at: "2023-01-01T12:00:00Z"
            links:
              self:
                href: "/sites/6/call-blocks/101"
                rel: "self"
                method: "GET"
          - data:
              id: "102"
              type: "call-block"
              attributes:
                name: "Another Block Rule"
                phone_number: "+15550001111"
                direction: "inbound"
                status: "active"
                site_id: 6
                created_at: "2023-01-02T14:00:00Z"
                updated_at: "2023-01-02T14:00:00Z"
            links:
              self:
                href: "/sites/6/call-blocks/102"
                rel: "self"
                method: "GET"
        links:
          self:
            href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
            rel: "self"
            method: "GET"
          first:
            href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
            rel: "first"
            method: "GET"
          last:
            href: "/sites/6/call-blocks?page%5Bnumber%5D=1&page_size=25"
            rel: "last"
            method: "GET"
          next: null
          prev: null 