openapi: 3.0.3
info:
  title: Ringer Business API - Regenerate Device Password
  description: |
    Endpoint for regenerating the SIP password for a specific device associated with a site.
    This is a security operation and should be used when a device password needs to be reset.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Devices
    description: Managing SIP devices (phones, softphones) associated with a site.

paths:
  /sites/{siteId}/devices/{deviceId}/regenerate-password:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/DeviceIdPath'
    patch:
      tags:
        - Site Features - Devices
      summary: Regenerate Device SIP Password
      description: |
        Generates a new random SIP password for the specified device.
        The old password will no longer be valid.
        The device will need to be updated with the new password to re-register.
        The new password is included in the response.
      operationId: regenerateSiteDevicePassword
      security:
        - oAuth2: [write] # Requires write access to modify device credentials
      responses:
        '200':
          description: Device password regenerated successfully. The new password is included in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponseWithPassword' # A specific schema variant for this response
              example:
                id: 1763
                site_id: 6
                name: "John Doe Desk Phone"
                login: "john.doe.phone1"
                password: "newStrongPassword123!"
                active: true
                channel_limit: 2
                timeout: 120
                caller_id_name: "John Doe"
                caller_id_number: "+13035551234"
                acl: "0.0.0.0/0"
                fail_over_destination_code: "voicemailbox:vm_john_doe"
                fail_over_destination:
                  name: "Voicemail for John Doe"
                  code: "voicemailbox:vm_john_doe"
                user_id: 5
                links:
                  - href: "/sites/6/devices/1763"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/DeviceNotFoundError'

components:
  schemas:
    DeviceResponseWithPassword: # Variant of DeviceResponse that explicitly includes the password
      allOf:
        - $ref: './index.yaml#/components/schemas/DeviceResponse' # It uses the full DeviceResponse
        - type: object
          properties:
            password: # This is already in DeviceResponse from index.yaml if returned on create
              type: string
              description: The newly generated SIP password for the device.
              example: "newS3cureP@ssw0rd"
          required:
            - password # Only password needs to be added as required here if DeviceResponse handles the rest
      description: Device details including the newly regenerated SIP password.
      example:
        id: 1763
        site_id: 6
        name: "John Doe Desk Phone"
        login: "john.doe.phone1"
        password: "newGeneratedS3cur3P@ss!"
        active: true
        channel_limit: 2
        timeout: 120
        caller_id_name: "John Doe"
        caller_id_number: "+13035551234"
        acl: "0.0.0.0/0"
        fail_over_destination_code: "voicemailbox:vm_john_doe"
        fail_over_destination:
          name: "Voicemail for John Doe"
          code: "voicemailbox:vm_john_doe"
        user_id: 5
        links:
          - href: "/sites/6/devices/1763"
            rel: "self"
            method: "GET"

  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

# Removed duplicated components.schemas block that defined Device, Link, Error locally and were unused. 