openapi: 3.0.3
info:
  title: Ringer Business API - Site Menus (Collection)
  description: |
    Endpoints for listing menus (auto attendants) associated with a specific site and creating new menus.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Menus # Standardized tag
    description: "Managing menus (auto attendants) associated with sites."

paths:
  /sites/{siteId}/menus: # Standardized siteId
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId' # MODIFIED PATH
    get:
      tags:
        - Site Features - Menus
      summary: List Menus for a Site
      description: Retrieve a paginated list of all menus (auto attendants) that belong to a site.
      operationId: listSiteMenus # Renamed
      security:
        - oAuth2: [read]
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Number of menus per page.
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: A paginated list of menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMenuListResponse' # Updated schema name
              example:
                menus:
                  - id: 55
                    site_id: 6 # Added for context
                    name: "Main Menu"
                    pin: "****" # Masked for list view
                    fail_over_destination_code: "voicemailbox:42"
                    options:
                      "0": "ring_group:10"
                      "1": "extension:101"
                    greeting_url: "https://cdn.example.com/greetings/menu_55.mp3"
                    links:
                      - href: "/sites/6/menus/55"
                        rel: "self"
                        method: "GET"
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  - href: "/sites/6/menus?page=1&page_size=25"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError' # MODIFIED PATH
    
    post:
      tags:
        - Site Features - Menus
      summary: Create Menu for a Site
      description: Add a new menu (auto attendant) to your site. Greeting can be uploaded.
      operationId: createSiteMenu # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: Configuration details for the new menu.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MenuCreateRequest' # Updated schema name
            # Example for multipart/form-data includes form fields for each property in MenuCreateRequest
            # e.g., name="Support Menu", pin="9876", fail_over_destination_code="voicemailbox:43", greeting=@path/to/file.mp3, option_routes[0]="ring_group:11"
      responses:
        '201':
          description: Menu Created Successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuResponse' # MODIFIED: Point to local MenuResponse
              example:
                id: 56
                site_id: 6
                name: "Support Menu"
                pin: "****" # Masked in response ideally, or only shown once
                fail_over_destination_code: "voicemailbox:43"
                options:
                  "0": "ring_group:11"
                  "1": "extension:102"
                greeting_url: "https://cdn.example.com/greetings/menu_56_greeting.wav"
                links:
                  - href: "/sites/6/menus/56"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError' # MODIFIED PATH

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH

  schemas:
    MenuCore: # For common properties of a menu
      type: object
      properties:
        name:
          type: string
          description: A user-friendly name for the menu.
          example: "Main Business Hours Menu"
        pin:
          type: string
          nullable: true # PIN might be optional or for admin access only
          description: Numeric PIN for accessing menu options or management features (if applicable).
          example: "1234"
        fail_over_destination_code: # Changed from fail_over for consistency
          type: string
          description: System code for the destination if no option is selected or an error occurs.
          example: "voicemailbox:general_vm"
        # Option routes are handled by specific properties in MenuCreateRequest for multipart/form-data
        # and by an 'options' object in MenuResponse.
      required:
        - name
        - fail_over_destination_code
      example: # <--- ADDED
        name: "After Hours Menu"
        pin: "9999"
        fail_over_destination_code: "extension:operator"

    MenuCreateRequest: # Based on original MenuCreate and MenuParams
      type: object
      # For multipart/form-data, properties are typically flat
      properties:
        name:
          type: string
        pin:
          type: string
          nullable: true
        fail_over_destination_code: # Changed from fail_over
          type: string
        greeting: # File upload
          type: string
          format: binary
          nullable: true
          description: Audio file for the menu greeting.
        option_routes[0]: # Consistent with original MenuParamOptionRoute0
          type: string
          nullable: true
          description: Destination code for key '0'.
        option_routes[1]:
          type: string
          nullable: true
        option_routes[2]:
          type: string
          nullable: true
        option_routes[3]:
          type: string
          nullable: true
        option_routes[4]:
          type: string
          nullable: true
        option_routes[5]:
          type: string
          nullable: true
        option_routes[6]:
          type: string
          nullable: true
        option_routes[7]:
          type: string
          nullable: true
        option_routes[8]:
          type: string
          nullable: true
        option_routes[9]:
          type: string
          nullable: true
        option_routes[*]: # Consistent with original MenuParamOptionRouteStar (for key *)
          type: string
          nullable: true
          description: Destination code for key '*'.
      required:
        - name
        - fail_over_destination_code
      example: # <--- ADDED
        name: "New Support IVR"
        pin: "5678"
        fail_over_destination_code: "voicemailbox:support_vm"
        option_routes[0]: "ring_group:tech_support"
        option_routes[1]: "extension:105"
      # Note: Greeting and option_routes are optional but key to menu functionality.

    MenuResponseOptions: # Structure for the 'options' object in response
      type: object
      additionalProperties:
        type: string # Destination codes
        nullable: true
      example:
        "0": "ring_group:sales_rg"
        "1": "extension:1001"
        "*": "voicemailbox:operator_vm"

    MenuResponse: # Local definition, referenced by ./menu.yaml
      allOf:
        - $ref: '#/components/schemas/MenuCore'
        - type: object
          properties:
            id:
              type: integer
              format: int64
              description: Unique identifier for the menu.
              example: 55
            site_id:
              type: integer
              format: int64
              description: Identifier of the site this menu belongs to.
              example: 6
            options:
              $ref: '#/components/schemas/MenuResponseOptions'
            greeting_url:
              type: string
              format: uri
              nullable: true
              description: URL to the current greeting audio file.
              example: "https://cdn.example.com/greetings/menu_55.mp3"
            links:
              type: array
              items:
                $ref: '../../common_components.yaml#/components/schemas/Link' # MODIFIED PATH
              nullable: true
          required:
            - id
            - site_id
            - name
            - fail_over_destination_code
      example: # Added example for MenuResponse
        id: 55
        site_id: 6
        name: "Main Business Hours Menu"
        pin: "1234"
        fail_over_destination_code: "voicemailbox:general_vm"
        options:
          "0": "ring_group:sales_rg"
          "1": "extension:1001"
          "*": "voicemailbox:operator_vm"
        greeting_url: "https://cdn.example.com/greetings/menu_55.mp3"
        links:
          - href: "/sites/6/menus/55"
            rel: "self"
            method: "GET"

    PaginatedMenuListResponse: # New schema for paginated list
      type: object
      description: A paginated list of menus.
      properties:
        menus:
          type: array
          items:
            $ref: '#/components/schemas/MenuResponse' 
        total_items:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 2
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 10
        links:
          type: array
          items:
            $ref: '../../common_components.yaml#/components/schemas/Link' # MODIFIED PATH
          nullable: true
      required:
        - menus
        - total_items
        - total_pages
        - current_page
        - per_page
      example: # <--- ADDED
        menus:
          - id: 55
            site_id: 6 
            name: "Main Menu"
            pin: "****" 
            fail_over_destination_code: "voicemailbox:42"
            options:
              "0": "ring_group:10"
              "1": "extension:101"
            greeting_url: "https://cdn.example.com/greetings/menu_55.mp3"
            links:
              - href: "/sites/6/menus/55"
                rel: "self"
                method: "GET"
        total_items: 1
        total_pages: 1
        current_page: 1
        per_page: 25
        links:
          - href: "/sites/6/menus?page=1&page_size=25"
            rel: "self"
            method: "GET"

    # Error schema is common
    # Link schema is common 

  parameters:
    SiteIdPath:
      $ref: '../../common_components.yaml#/components/parameters/SiteId' # Ensuring consistency
    MenuIdPath: # ADDING MenuId
      name: menuId
      in: path
      description: The unique identifier of the menu.
      required: true
      schema:
        type: integer
        format: int64
        example: 55 