openapi: 3.0.3
info:
  title: Ringer Business API - Country Codes
  version: 1.0.0
  description: Lists country codes.
  license:
    name: MIT
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1

# Global security removed

tags:
  - name: Country Codes
    description: Endpoint for listing supported country codes and their regions.

paths:
  /country-codes:
    get:
      tags:
        - Country Codes
      summary: List Available Country Codes
      description: |
        Retrieves a list of all country codes supported by the system, often grouped by region or zone.
        This information is useful for configuring features like outbound call permissions on Sites.
      operationId: listAvailableCountryCodes
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: A list of available country codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryCodeListResponse'
              example:
                country_codes:
                  - id: "US"
                    name: "United States - 1"
                    code: "INTERSTATE|INTRASTATE|LOCAL|TOLLFREE"
                    region: "Zone 1: North America"
                  - id: "EG"
                    name: "Egypt - 20"
                    code: "20"
                    region: "Zone 2: Africa"
                  - id: "CA"
                    name: "Canada - 1"
                    code: "1"
                    region: "Zone 1: North America"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authentication for securing API endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read

  schemas:
    CountryCode:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        region:
          type: string
          nullable: true
      required:
        - id
        - name
        - code
      example:
        id: "GB"
        name: "United Kingdom - 44"
        code: "44"
        region: "Europe"

    CountryCodeListResponse:
      type: object
      description: "A list of available country codes."
      properties:
        country_codes:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'
      required:
        - country_codes
      example:
        country_codes:
          - id: "US"
            name: "United States - 1"
            code: "INTERSTATE|INTRASTATE|LOCAL|TOLLFREE"
            region: "Zone 1: North America"
          - id: "CA"
            name: "Canada - 1"
            code: "1"
            region: "Zone 1: North America"
          - id: "GB"
            name: "United Kingdom - 44"
            code: "44"
            region: "Europe"

    Error:
      type: object
      description: "Standard error response format."
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
          example: "Failed to retrieve country codes."
        error_code:
          type: string
          example: "COUNTRY_CODE_LIST_ERROR"
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "An error occurred with country codes."
        error_code: "COUNTRY_CODE_GENERIC_ERROR"

  responses:
    UnauthorizedError:
      description: "Unauthorized - Authentication token is missing, invalid, or does not have permissions for this resource."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Authentication required for country codes."
            error_code: "UNAUTHORIZED_COUNTRY_CODES"
    ForbiddenError:
      description: "Forbidden - The authenticated user does not have the necessary permissions to perform this action."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Permission denied for country codes."
            error_code: "FORBIDDEN_COUNTRY_CODES" 
