openapi: 3.0.3
info:
  title: Ringer Business API - Phone Number Management
  description: |
    This API provides endpoints for managing phone numbers within a Ringer Business account and its sites.
    Phone numbers are essential for making and receiving calls and can be routed to various features like devices, menus, or voicemail.

    Functionality includes:
    - Listing phone numbers associated with a specific site.
    - Assigning (creating) a new phone number to a site.
    - Retrieving details of a specific phone number.
    - Updating a phone number's configuration (e.g., its routing destination).
    - Deleting/unassigning a phone number from a site.
    - Transferring a phone number between sites.
    - Listing available phone numbers for assignment to a site (from inventory or search).
    - Searching for available phone numbers based on criteria like area code, city, etc.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

security:
  - oAuth2: [read, write]

tags:
  - name: Phone Numbers
    description: Endpoints for managing and searching for phone numbers.

paths:
  # Phone Number Search (was /phone-numbers/search in original)
  /phone-number-search:
    get:
      tags:
        - Phone Numbers
      summary: Search for Available Phone Numbers
      description: |
        Searches for available phone numbers that can be acquired and assigned to an account/site.
        Search criteria can include area code, city, state/province, country, and other number attributes.
        The original Teliax API path was `/phone-numbers/search`.
      operationId: searchAvailablePhoneNumbers # was lookup_dids
      security:
        - oAuth2: [read]
      parameters:
        - name: search_category
          in: query
          description: "Type of number to search: international or domestic."
          required: true
          schema:
            type: string
            enum: [international, domestic]
            example: "domestic"
        - name: country
          in: query
          description: "Three-letter ISO country code (e.g., AUS). Required for international searches."
          required: false
          schema:
            type: string
            example: "AUS"
        - name: city
          in: query
          description: "City name for domestic US number search."
          required: false
          schema:
            type: string
            example: "Denver"
        - name: state_prov
          in: query
          description: "Two-letter state/province code for domestic US number search. Required for some domestic searches."
          required: false
          schema:
            type: string
            example: "CO"
        - name: area_code
          in: query
          description: "Area code (NPA) for domestic US number search."
          required: false
          schema:
            type: string
            example: "303"
        - name: npanxx
          in: query
          description: "NPA-NXX for domestic US number search (first 6 digits). Requires state_prov."
          required: false
          schema:
            type: string
            example: "303555"
        - name: zip
          in: query
          description: "Postal/ZIP code for domestic US number search. Requires state_prov."
          required: false
          schema:
            type: string
            example: "80202"
      responses:
        '200':
          description: A list of available phone numbers matching the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberAvailabilityListResponse' # Based on NumbersAndLocations
              example:
                available_numbers:
                  - number: "+13035551234"
                    location: "Denver, CO"
                    type: "local"
                    features: ["voice", "sms"]
                  - number: "+17205555678"
                    location: "Denver, CO"
                    type: "local"
                    features: ["voice"]
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /sites/{siteId}/phone-numbers:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      tags:
        - Phone Numbers
      summary: List Phone Numbers for a Site
      description: Retrieves a list of all phone numbers currently assigned to the specified site.
      operationId: listSitePhoneNumbers # was list_phone_numbers
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: A list of phone numbers for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberListResponse' # Renamed from PhoneNumberList
              example:
                phone_numbers:
                  - id: 127
                    name: "Main Sales Line"
                    number: "+13035551234"
                    site_id: 6
                    destination_code: "menu:main_sales_ivr"
                    destination:
                      name: "Sales IVR (Menu: main_sales_ivr)"
                      code: "menu:main_sales_ivr"
                    fail_over_destination_code: null
                    fail_over_destination: null
                    e911_id: null
                    user_id: null
                    links:
                      self:
                        href: "/sites/6/phone-numbers/127"
                        rel: "self"
                        method: "GET"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'

    post:
      tags:
        - Phone Numbers
      summary: Assign a Phone Number to a Site
      description: Assigns an available phone number (e.g., from search or inventory) to the specified site and configures its initial routing.
      operationId: assignPhoneNumberToSite # was create_phone-number
      security:
        - oAuth2: [write]
      requestBody:
        description: Details of the phone number to assign and its configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberAssignRequest' # Based on PhoneNumberParams
            example:
              name: "Main Sales Line"
              number: "+13035551234" # The number being assigned
              destination_code: "menu:main_sales_ivr"
              # category: "domestic" # From original PhoneNumberParams, might be derived from number format
      responses:
        '201':
          description: Phone number assigned and configured successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse' # Based on PhoneNumber definition
              example:
                id: 128
                name: "Main Sales Line"
                number: "+13035551234"
                site_id: 6
                destination_code: "menu:main_sales_ivr"
                destination:
                  name: "Sales IVR (Menu: main_sales_ivr)"
                  code: "menu:main_sales_ivr"
                fail_over_destination_code: null
                fail_over_destination: null
                e911_id: null
                user_id: null
                links:
                  self:
                    href: "/sites/6/phone-numbers/128"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '#/components/responses/BadRequestError' # e.g., number already assigned, invalid destination
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'
        '409': # If the number is already in use on another site, or not available
          description: Conflict - The phone number is not available for assignment or is already in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Phone number +13035551234 is already assigned or not available."
                error_code: "PHONE_NUMBER_CONFLICT"

  /sites/{siteId}/phone-numbers/{phoneNumberId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - name: phoneNumberId
        in: path
        description: The unique identifier of the phone number record (not the E.164 number itself necessarily).
        required: true
        schema:
          type: integer
          format: int64
          example: 127
    get:
      tags:
        - Phone Numbers
      summary: Get Phone Number Details
      description: Retrieves detailed information and configuration for a specific phone number assigned to a site.
      operationId: getSitePhoneNumberById # was show_phone-number
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Successfully retrieved phone number details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
              example:
                id: 127
                name: "Main Sales Line"
                number: "+13035551234"
                site_id: 6
                destination_code: "menu:main_sales_ivr"
                destination:
                  name: "Sales IVR (Menu: main_sales_ivr)"
                  code: "menu:main_sales_ivr"
                links:
                  self:
                    href: "/sites/6/phone-numbers/127"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/PhoneNumberNotFoundError' # Specific not found for this resource

    put:
      tags:
        - Phone Numbers
      summary: Update Phone Number Configuration
      description: Updates the configuration for a specific phone number on a site, such as its friendly name or call routing destination.
      operationId: updateSitePhoneNumberById # was update_phone-number
      security:
        - oAuth2: [write]
      requestBody:
        description: Phone number attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberUpdateRequest' # Based on PhoneNumberParams
            example:
              name: "Main Sales Line (Overflow)"
              destination_code: "ringgroup:sales_team_rg"
      responses:
        '200':
          description: Phone number configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
              example:
                id: 127
                name: "Main Sales Line (Overflow)"
                number: "+13035551234"
                site_id: 6
                destination:
                  name: "Sales Team Ring Group"
                  code: "ringgroup:sales_team_rg"
                links:
                  self:
                    href: "/sites/6/phone-numbers/127"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/PhoneNumberNotFoundError'

    delete:
      tags:
        - Phone Numbers
      summary: Unassign/Delete Phone Number from Site
      description: Removes a phone number assignment from the specified site. The number may return to inventory or be released.
      operationId: deleteSitePhoneNumberById # was delete_phone-number
      security:
        - oAuth2: [write]
      responses:
        '204':
          description: Phone number unassigned/deleted successfully. No content is returned.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/PhoneNumberNotFoundError'

  /sites/{siteId}/phone-numbers/{phoneNumberId}/transfer:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - name: phoneNumberId
        in: path
        description: Identifier of the phone number to transfer.
        required: true
        schema:
          type: integer
          format: int64
          example: 127
    post:
      tags:
        - Phone Numbers
      summary: Transfer Phone Number to Another Site
      description: Transfers a phone number from its current site to a different site within the same account.
      operationId: transferPhoneNumberToSite # was transfer_phone-number
      security:
        - oAuth2: [write, admin] # Transferring might require broader permissions
      requestBody:
        description: The ID of the target site to transfer the phone number to.
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the destination site.
                  example: 7
              required:
                - new_site_id
              example:
                new_site_id: 7 
      responses:
        '200':
          description: Phone number transferred successfully. Returns the phone number details in its new site context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
              example:
                id: 127
                name: "Main Sales Line"
                number: "+13035551234"
                site_id: 7
                destination_code: "menu:main_sales_ivr"
                destination:
                  name: "Sales IVR (Menu: main_sales_ivr)"
                  code: "menu:main_sales_ivr"
                links:
                  self:
                    href: "/sites/7/phone-numbers/127"
                    rel: "self"
                    method: "GET"
        '400':
          description: Bad Request - e.g., target site cannot accept the number, or number cannot be transferred.
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Target site 7 cannot accept this phone number type."
                error_code: "TRANSFER_TARGET_SITE_INVALID"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Not Found - Original phone number or target site not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Original phone number or target site not found for transfer."
                error_code: "TRANSFER_RESOURCE_NOT_FOUND"

  /sites/{siteId}/phone-numbers/available:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      tags:
        - Phone Numbers
      summary: List Available Phone Numbers for a Site
      description: |
        Retrieves phone numbers that are available to be assigned to the specified site.
        This might include numbers already in the account's inventory but not yet assigned to this particular site.
        The `user_id` parameter from original spec seems out of place for listing numbers *for a site*.
      operationId: listSiteAvailablePhoneNumbers # was available_phone_numbers
      security:
        - oAuth2: [read]
      # parameters:
      #   - name: user_id # From original Teliax Swagger, purpose here is unclear if listing for a site
      #     in: query
      #     description: User ID - Identifier of the User (Purpose for site-available numbers unclear).\n      #     required: false
      #     schema:
      #       type: integer
      responses:
        '200':
          description: A list of phone numbers available for assignment to the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberListResponse' # Reuses the same list structure
              example:
                phone_numbers:
                  - id: 129
                    name: "Available Number Option 1"
                    number: "+17205550100"
                    site_id: null
                    destination_code: ""
                    destination: null
                    fail_over_destination_code: null
                    fail_over_destination: null
                    e911_id: null
                    user_id: null
                    assigned: false
                    assigned_to: null
                    links: {}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SiteNotFoundError'

components:
  parameters:
    SiteIdPath:
      name: siteId
      in: path
      description: The unique identifier of the site.
      required: true
      schema:
        type: integer
        format: int64
        example: 6

  schemas:
    PhoneNumberCore: # Common attributes for a phone number
      type: object
      properties:
        id: # This is the ID of the phone number *record* or *assignment*, not the E.164 number itself
          type: integer
          format: int64
          description: Unique identifier for the phone number record/assignment.
          example: 127
        name:
          type: string
          description: A user-friendly name or label for the phone number (e.g., "Main Line", "Sales Dept").
          example: "Main Sales Line"
        number:
          type: string
          description: The actual phone number in E.164 format (e.g., +13035551212).
          example: "+13035551234"
        site_id: # Added site_id definition
          type: integer
          format: int64
          description: Identifier of the site the phone number is associated with. Can be null if the number is available but not yet assigned to a specific site.
          nullable: true
          example: 6
        destination_code: # Simplified from nested destination object for requests
          type: string
          nullable: true
          description: System code for the destination where calls to this number are routed (e.g., "device:dev_xyz", "menu:ivr_main").
          example: "menu:main_sales_ivr"
        # category from original PhoneNumberParams - often determined by the number itself
        # category:
        #   type: string
        #   enum: [domestic, international, toll_free]
        #   description: Category of the phone number.
        #   example: "domestic"
      required:
        - name
        - number

    PhoneNumberAssignRequest: # Based on PhoneNumberParams for POST
      allOf:
        - $ref: '#/components/schemas/PhoneNumberCore' # id would not be provided by client here
        - type: object
          properties:
            id: # Override id from PhoneNumberCore to not be present in request
              type: integer
              readOnly: true # Client does not provide ID for new assignment
      required: 
        - name # from PhoneNumberCore
        - number # from PhoneNumberCore
        - destination_code
      description: Data required to assign a new phone number to a site.
      # `number` here is the actual E.164 number to be assigned.
      # `name` is the label for this assignment.
      # `destination_code` is how it's routed.
      example:
        name: "Customer Support Line"
        number: "+18005550100"
        destination_code: "ringgroup:support_team"

    PhoneNumberUpdateRequest: # Based on PhoneNumberParams for PUT
      type: object
      description: Data for updating an existing phone number's configuration on a site.
      properties:
        name:
          type: string
          nullable: true 
          description: New user-friendly name for the phone number.
          example: "Support Hotline"
        destination_code:
          type: string
          nullable: true 
          description: New system code for the call routing destination.
          example: "voicemailbox:general_support_vm"
      example:
        name: "Main Support Line"
        destination_code: "menu:support_ivr"

    PhoneNumberResponse: # Based on PhoneNumber definition
      allOf:
        - $ref: '#/components/schemas/PhoneNumberCore'
        - type: object
          properties:
            site_id: # Ensure site_id is well-defined for responses
              type: integer
              format: int64
              description: Identifier of the site this phone number is assigned to.
              example: 6
            destination: # Full destination object in responses
              oneOf: 
                - $ref: './common_components.yaml#/components/schemas/SiteDestination'
                - type: object 
                  nullable: true
                  properties: {}
                  additionalProperties: false
            fail_over_destination: # Correcting this field
              oneOf: 
                - $ref: './common_components.yaml#/components/schemas/SiteDestination'
                - type: object
                  nullable: true
                  properties: {}
                  additionalProperties: false
            links:
              $ref: './common_components.yaml#/components/schemas/LinkObject' # Corrected path
          required: # Added required for response consistency
            - id
            - name
            - number
            - site_id
            - destination_code # from PhoneNumberCore
      example:
        id: 127
        name: "Main Sales Line"
        number: "+13035551234"
        site_id: 6
        destination:
          name: "Sales IVR (Menu: main_sales_ivr)"
          code: "menu:main_sales_ivr"
        links:
          self:
            href: "/sites/6/phone-numbers/127"
            rel: "self"
            method: "GET"

    PhoneNumberListResponse: # Based on PhoneNumberList definition
      type: object
      description: A list of phone numbers.
      properties:
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumberResponse'
        # Add pagination fields if applicable (total_items, total_pages, etc.)
      required:
        - phone_numbers
      example:
        phone_numbers:
          - id: 127
            name: "Main Sales Line"
            number: "+13035551234"
            site_id: 6
            destination_code: "menu:main_sales_ivr"
            destination:
              name: "Sales IVR (Menu: main_sales_ivr)"
              code: "menu:main_sales_ivr"
            fail_over_destination_code: null
            fail_over_destination: null
            e911_id: null
            user_id: null
            links:
              self:
                href: "/sites/6/phone-numbers/127"
                rel: "self"
                method: "GET"

    PhoneNumberAvailability: # Based on NumberAndLocation from Teliax Swagger
      type: object
      description: Represents an available phone number that can be acquired.
      properties:
        number:
          type: string
          description: The available phone number in E.164 format.
          example: "+13035551234"
        location:
          type: string
          nullable: true
          description: Geographic location or rate center associated with the number.
          example: "Denver, CO"
        type:
          type: string
          nullable: true
          description: Type of number (e.g., local, toll-free, mobile).
          example: "local"
        features: 
          type: array
          items:
            type: string
          description: Supported features for this number (e.g., voice, sms, mms).
          example: ["voice", "sms"]
        # Other fields like setup_fee, monthly_cost could be added if part of search results
      required:
        - number

    PhoneNumberAvailabilityListResponse: # Based on NumbersAndLocations
      type: object
      description: A list of available phone numbers from a search.
      properties:
        available_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumberAvailability'
      required:
        - available_numbers
      example:
        available_numbers:
          - number: "+17205550100"
            location: "Denver, CO"
            type: "local"
            features: ["voice", "sms"]
          - number: "+18005550199"
            location: "Toll-Free"
            type: "toll-free"
            features: ["voice"]

    Link: # Standard Link object
      type: object
      description: Represents a HATEOAS link.
      properties:
        href:
          type: string
          format: uri-reference
        rel:
          type: string
        title:
          type: string
          nullable: true
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
      required:
        - href
        - rel

    Error: # Consistent Error schema
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
          example: "Phone number operation failed."
        error_code:
          type: string
          example: "PHONE_NUMBER_ERROR"
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "A generic phone number error occurred."
        error_code: "PHONE_NUMBER_GENERIC_ERROR"

  responses: # Reusable response components
    UnauthorizedError:
      description: Unauthorized - Authentication token is missing, invalid, or does not have permissions for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Authentication required for phone number operations."
            error_code: "UNAUTHORIZED_PHONE_NUMBER"
    ForbiddenError:
      description: Forbidden - The authenticated user does not have the necessary permissions to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Permission denied for this phone number operation."
            error_code: "FORBIDDEN_PHONE_NUMBER"
    SiteNotFoundError:
      description: Not Found - The specified site could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "The specified site was not found."
            error_code: "SITE_NOT_FOUND"
    PhoneNumberNotFoundError:
      description: Not Found - The requested phone number could not be found or is not associated with the specified site.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "The requested phone number was not found."
            error_code: "PHONE_NUMBER_NOT_FOUND"
    BadRequestError:
      description: Bad Request - The request was malformed or contained invalid data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Invalid data provided for phone number operation."
            error_code: "PHONE_NUMBER_VALIDATION_ERROR"

  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authentication for securing API endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access.
