openapi: 3.0.3
info:
  title: Ringer Business API
  description: |
    This API provides comprehensive endpoints for the Ringer Business system.
    It includes functionality for managing customer accounts, addresses, sites, 
    phone numbers, payments, users, and other business resources.

    Operations typically require authentication and appropriate permissions.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Accounts
    description: Endpoints for managing customer accounts and their associated details.
  - name: Addresses
    description: Endpoints for managing address records.
  - name: Authentication
    description: Authentication and authorization endpoints.
  - name: Call Blocks
    description: Manage call blocking rules and settings.
  - name: Call Records
    description: Access and manage call history and records.
  - name: Country Codes
    description: Information about country codes and dialing prefixes.
  - name: Credit Cards
    description: Manage credit card payment methods.
  - name: Items
    description: Manage inventory and service items.
  - name: Packages
    description: Manage service packages and bundles.
  - name: Payments
    description: Process and manage payments and transactions.
  - name: Phone Numbers
    description: Manage phone numbers and associated services.
  - name: Plans
    description: Manage service plans and subscription options.
  - name: Sites
    description: Manage customer sites and associated resources.
  - name: Statements
    description: Access and manage billing statements.
  - name: Templates
    description: Manage templates for various system components.
  - name: Thin Clients
    description: Manage thin client devices and configurations.
  - name: Timezones
    description: Access timezone information and settings.
  - name: Users
    description: Manage users and their permissions.

paths:
  # Top-level Paths
  
  # Account paths
  /account:
    $ref: './account.yaml#/paths/~1account'
  
  # Addresses paths
  /addresses/{addressId}:
    $ref: './addresses.yaml#/paths/~1addresses~1{addressId}'

  # Authentication paths
  /auth/token:
    $ref: './oauth.yaml#/paths/~1auth~1token'
  /auth/revoke:
    $ref: './oauth.yaml#/paths/~1auth~1revoke'
  
  # Confirmation paths
  /confirmation:
    $ref: './confirmation.yaml#/paths/~1confirmation'
  
  # Password paths
  /password/reset:
    $ref: './password.yaml#/paths/~1password~1reset'
  /password/forgot:
    $ref: './password.yaml#/paths/~1password~1forgot'
  
  # Sign-up paths
  /sign-up:
    $ref: './sign-up.yaml#/paths/~1sign-up'
  
  # Call Blocks paths
  /call-blocks:
    $ref: './call-blocks.yaml#/paths/~1call-blocks'
  /call-blocks/{callBlockId}:
    $ref: './call-blocks.yaml#/paths/~1call-blocks~1{callBlockId}'
  
  # Call Records paths
  /call-records:
    $ref: './call-records.yaml#/paths/~1call-records'
  /call-records/{callRecordId}:
    $ref: './call-records.yaml#/paths/~1call-records~1{callRecordId}'
  
  # Country Codes paths
  /country-codes:
    $ref: './country-codes.yaml#/paths/~1country-codes'
  
  # Credit Cards paths
  /credit-cards:
    $ref: './credit-cards.yaml#/paths/~1credit-cards'
  /credit-cards/{creditCardId}:
    $ref: './credit-cards.yaml#/paths/~1credit-cards~1{creditCardId}'
  
  # Items paths
  /items:
    $ref: './items.yaml#/paths/~1items'
  /items/{itemId}:
    $ref: './items.yaml#/paths/~1items~1{itemId}'
  
  # Packages paths
  /packages:
    $ref: './packages.yaml#/paths/~1packages'
  /packages/{packageId}:
    $ref: './packages.yaml#/paths/~1packages~1{packageId}'
  
  # Payments paths
  /payments:
    $ref: './payments.yaml#/paths/~1payments'
  /payments/{paymentId}:
    $ref: './payments.yaml#/paths/~1payments~1{paymentId}'
  
  # Phone Numbers paths
  /phone-numbers:
    $ref: './phone-numbers.yaml#/paths/~1phone-numbers'
  /phone-numbers/{phoneNumberId}:
    $ref: './phone-numbers.yaml#/paths/~1phone-numbers~1{phoneNumberId}'
  /phone-numbers/available:
    $ref: './phone-numbers.yaml#/paths/~1phone-numbers~1available'
  /phone-numbers/port:
    $ref: './phone-numbers.yaml#/paths/~1phone-numbers~1port'
  
  # Plans paths
  /plans:
    $ref: './plans.yaml#/paths/~1plans'
  /plans/{planId}:
    $ref: './plans.yaml#/paths/~1plans~1{planId}'
  
  # Sites paths
  /sites:
    $ref: './sites.yaml#/paths/~1sites'
  /sites/{siteId}:
    $ref: './sites.yaml#/paths/~1sites~1{siteId}'
  
  # Sites subpaths (nested resources)
  
  # Sites Call Blocks paths
  /sites/{siteId}/call-blocks:
    $ref: './sites/call-blocks/index.yaml#/paths/~1sites~1{siteId}~1call-blocks'
  /sites/{siteId}/call-blocks/{callBlockId}:
    $ref: './sites/call-blocks/call-block.yaml#/paths/~1sites~1{siteId}~1call-blocks~1{callBlockId}'
  
  # Sites Conference Rooms paths
  /sites/{siteId}/conference-rooms:
    $ref: './sites/conference-rooms/index.yaml#/paths/~1sites~1{siteId}~1conference-rooms'
  /sites/{siteId}/conference-rooms/{conferenceRoomId}:
    $ref: './sites/conference-rooms/conference-room.yaml#/paths/~1sites~1{siteId}~1conference-rooms~1{conferenceRoomId}'
  /sites/{siteId}/conference-rooms/available:
    $ref: './sites/conference-rooms/available.yaml#/paths/~1sites~1{siteId}~1conference-rooms~1available'
  /sites/{siteId}/conference-rooms/{conferenceRoomId}/transfer:
    $ref: './sites/conference-rooms/transfer.yaml#/paths/~1sites~1{siteId}~1conference-rooms~1{conferenceRoomId}~1transfer'
  /sites/{siteId}/conference-rooms/{conferenceRoomId}/upload:
    $ref: './sites/conference-rooms/upload.yaml#/paths/~1sites~1{siteId}~1conference-rooms~1{conferenceRoomId}~1upload'
  
  # Sites Devices paths
  /sites/{siteId}/devices:
    $ref: './sites/devices/index.yaml#/paths/~1sites~1{siteId}~1devices'
  /sites/{siteId}/devices/{deviceId}:
    $ref: './sites/devices/device.yaml#/paths/~1sites~1{siteId}~1devices~1{deviceId}'
  /sites/{siteId}/devices/available:
    $ref: './sites/devices/available.yaml#/paths/~1sites~1{siteId}~1devices~1available'
  /sites/{siteId}/devices/{deviceId}/regenerate-password:
    $ref: './sites/devices/regenerate-password.yaml#/paths/~1sites~1{siteId}~1devices~1{deviceId}~1regenerate-password'
  /sites/{siteId}/devices/{deviceId}/status:
    $ref: './sites/devices/status.yaml#/paths/~1sites~1{siteId}~1devices~1{deviceId}~1status'
  /sites/{siteId}/devices/{deviceId}/transfer:
    $ref: './sites/devices/transfer.yaml#/paths/~1sites~1{siteId}~1devices~1{deviceId}~1transfer'
  
  # Sites E911s paths
  /sites/{siteId}/e911s:
    $ref: './sites/e911s/index.yaml#/paths/~1sites~1{siteId}~1e911s'
  /sites/{siteId}/e911s/{e911Id}:
    $ref: './sites/e911s/e911.yaml#/paths/~1sites~1{siteId}~1e911s~1{e911Id}'
  
  # Sites Extensions paths
  /sites/{siteId}/extensions:
    $ref: './sites/extensions/index.yaml#/paths/~1sites~1{siteId}~1extensions'
  /sites/{siteId}/extensions/{extensionId}:
    $ref: './sites/extensions/extension.yaml#/paths/~1sites~1{siteId}~1extensions~1{extensionId}'
  /sites/{siteId}/extensions/available:
    $ref: './sites/extensions/available.yaml#/paths/~1sites~1{siteId}~1extensions~1available'
  /sites/{siteId}/extensions/{extensionId}/transfer:
    $ref: './sites/extensions/transfer.yaml#/paths/~1sites~1{siteId}~1extensions~1{extensionId}~1transfer'
  
  # Sites Fax Machines paths
  /sites/{siteId}/fax-machines:
    $ref: './sites/fax-machines/index.yaml#/paths/~1sites~1{siteId}~1fax-machines'
  /sites/{siteId}/fax-machines/{faxMachineId}:
    $ref: './sites/fax-machines/fax-machine.yaml#/paths/~1sites~1{siteId}~1fax-machines~1{faxMachineId}'
  /sites/{siteId}/fax-machines/available:
    $ref: './sites/fax-machines/available.yaml#/paths/~1sites~1{siteId}~1fax-machines~1available'
  /sites/{siteId}/fax-machines/{faxMachineId}/transfer:
    $ref: './sites/fax-machines/transfer.yaml#/paths/~1sites~1{siteId}~1fax-machines~1{faxMachineId}~1transfer'
  
  # Sites Forwards paths
  /sites/{siteId}/forwards:
    $ref: './sites/forwards/index.yaml#/paths/~1sites~1{siteId}~1forwards'
  /sites/{siteId}/forwards/{forwardId}:
    $ref: './sites/forwards/forward.yaml#/paths/~1sites~1{siteId}~1forwards~1{forwardId}'
  /sites/{siteId}/forwards/available:
    $ref: './sites/forwards/available.yaml#/paths/~1sites~1{siteId}~1forwards~1available'
  /sites/{siteId}/forwards/{forwardId}/transfer:
    $ref: './sites/forwards/transfer.yaml#/paths/~1sites~1{siteId}~1forwards~1{forwardId}~1transfer'
  
  # Sites Locations paths
  /sites/{siteId}/locations:
    $ref: './sites/locations/index.yaml#/paths/~1sites~1{siteId}~1locations'
  /sites/{siteId}/locations/{locationId}:
    $ref: './sites/locations/location.yaml#/paths/~1sites~1{siteId}~1locations~1{locationId}'
  
  # Sites Menus paths
  /sites/{siteId}/menus:
    $ref: './sites/menus/index.yaml#/paths/~1sites~1{siteId}~1menus'
  /sites/{siteId}/menus/{menuId}:
    $ref: './sites/menus/menu.yaml#/paths/~1sites~1{siteId}~1menus~1{menuId}'
  /sites/{siteId}/menus/{menuId}/transfer:
    $ref: './sites/menus/transfer.yaml#/paths/~1sites~1{siteId}~1menus~1{menuId}~1transfer'
  /sites/{siteId}/menus/{menuId}/upload:
    $ref: './sites/menus/upload.yaml#/paths/~1sites~1{siteId}~1menus~1{menuId}~1upload'
  
  # Sites Phone Numbers paths
  /sites/{siteId}/phone-numbers:
    $ref: './sites/phone-numbers/index.yaml#/paths/~1sites~1{siteId}~1phone-numbers'
  /sites/{siteId}/phone-numbers/{phoneNumberId}:
    $ref: './sites/phone-numbers/phone-number.yaml#/paths/~1sites~1{siteId}~1phone-numbers~1{phoneNumberId}'
  /sites/{siteId}/phone-numbers/available:
    $ref: './sites/phone-numbers/available.yaml#/paths/~1sites~1{siteId}~1phone-numbers~1available'
  /sites/{siteId}/phone-numbers/{phoneNumberId}/transfer:
    $ref: './sites/phone-numbers/transfer.yaml#/paths/~1sites~1{siteId}~1phone-numbers~1{phoneNumberId}~1transfer'
  
  # Sites Ring Groups paths
  /sites/{siteId}/ring-groups:
    $ref: './sites/ring-groups/index.yaml#/paths/~1sites~1{siteId}~1ring-groups'
  /sites/{siteId}/ring-groups/{ringGroupId}:
    $ref: './sites/ring-groups/ring-group.yaml#/paths/~1sites~1{siteId}~1ring-groups~1{ringGroupId}'
  /sites/{siteId}/ring-groups/{ringGroupId}/transfer:
    $ref: './sites/ring-groups/transfer.yaml#/paths/~1sites~1{siteId}~1ring-groups~1{ringGroupId}~1transfer'
  
  # Sites Schedules paths
  /sites/{siteId}/schedules:
    $ref: './sites/schedules/index.yaml#/paths/~1sites~1{siteId}~1schedules'
  /sites/{siteId}/schedules/{scheduleId}:
    $ref: './sites/schedules/schedule.yaml#/paths/~1sites~1{siteId}~1schedules~1{scheduleId}'
  /sites/{siteId}/schedules/available:
    $ref: './sites/schedules/available.yaml#/paths/~1sites~1{siteId}~1schedules~1available'
  /sites/{siteId}/schedules/{scheduleId}/transfer:
    $ref: './sites/schedules/transfer.yaml#/paths/~1sites~1{siteId}~1schedules~1{scheduleId}~1transfer'
  
  # Sites Seats paths
  /sites/{siteId}/seats:
    $ref: './sites/seats/index.yaml#/paths/~1sites~1{siteId}~1seats'
  /sites/{siteId}/seats/{seatId}:
    $ref: './sites/seats/seat.yaml#/paths/~1sites~1{siteId}~1seats~1{seatId}'
  /sites/{siteId}/seats/{seatId}/transfer:
    $ref: './sites/seats/transfer.yaml#/paths/~1sites~1{siteId}~1seats~1{seatId}~1transfer'
  
  # Sites SIP Trunks paths
  /sites/{siteId}/sip-trunks:
    $ref: './sites/sip-trunks/index.yaml#/paths/~1sites~1{siteId}~1sip-trunks'
  /sites/{siteId}/sip-trunks/{sipTrunkId}:
    $ref: './sites/sip-trunks/sip-trunk.yaml#/paths/~1sites~1{siteId}~1sip-trunks~1{sipTrunkId}'
  /sites/{siteId}/sip-trunks/{sipTrunkId}/regenerate-password:
    $ref: './sites/sip-trunks/regenerate-password.yaml#/paths/~1sites~1{siteId}~1sip-trunks~1{sipTrunkId}~1regenerate-password'
  /sites/{siteId}/sip-trunks/{sipTrunkId}/status:
    $ref: './sites/sip-trunks/status.yaml#/paths/~1sites~1{siteId}~1sip-trunks~1{sipTrunkId}~1status'
  /sites/{siteId}/sip-trunks/{sipTrunkId}/transfer:
    $ref: './sites/sip-trunks/transfer.yaml#/paths/~1sites~1{siteId}~1sip-trunks~1{sipTrunkId}~1transfer'
  
  # Sites Voice Mail Boxes paths
  /sites/{siteId}/voice-mail-boxes:
    $ref: './sites/voice-mail-boxes/index.yaml#/paths/~1sites~1{siteId}~1voice-mail-boxes'
  /sites/{siteId}/voice-mail-boxes/{voiceMailBoxId}:
    $ref: './sites/voice-mail-boxes/voice-mail-box.yaml#/paths/~1sites~1{siteId}~1voice-mail-boxes~1{voiceMailBoxId}'
  /sites/{siteId}/voice-mail-boxes/available:
    $ref: './sites/voice-mail-boxes/available.yaml#/paths/~1sites~1{siteId}~1voice-mail-boxes~1available'
  /sites/{siteId}/voice-mail-boxes/{voiceMailBoxId}/transfer:
    $ref: './sites/voice-mail-boxes/transfer.yaml#/paths/~1sites~1{siteId}~1voice-mail-boxes~1{voiceMailBoxId}~1transfer'
  /sites/{siteId}/voice-mail-boxes/{voiceMailBoxId}/upload:
    $ref: './sites/voice-mail-boxes/upload.yaml#/paths/~1sites~1{siteId}~1voice-mail-boxes~1{voiceMailBoxId}~1upload'
  
  # Sites Voicemails paths
  /sites/{siteId}/voicemails:
    $ref: './sites/voicemails/index.yaml#/paths/~1sites~1{siteId}~1voicemails'
  /sites/{siteId}/voicemails/{voicemailId}/transfer:
    $ref: './sites/voicemails/transfer.yaml#/paths/~1sites~1{siteId}~1voicemails~1{voicemailId}~1transfer'
  /sites/{siteId}/voicemails/{voicemailId}/upload:
    $ref: './sites/voicemails/upload.yaml#/paths/~1sites~1{siteId}~1voicemails~1{voicemailId}~1upload'
  
  # Statements paths
  /statements:
    $ref: './statements.yaml#/paths/~1statements'
  /statements/{statementId}:
    $ref: './statements.yaml#/paths/~1statements~1{statementId}'
  
  # Templates paths
  /templates:
    $ref: './templates.yaml#/paths/~1templates'
  /templates/{templateId}:
    $ref: './templates.yaml#/paths/~1templates~1{templateId}'
  
  # Thin Clients paths
  /thin-clients:
    $ref: './thin-clients.yaml#/paths/~1thin-clients'
  /thin-clients/{thinClientId}:
    $ref: './thin-clients.yaml#/paths/~1thin-clients~1{thinClientId}'
  
  # Timezones paths
  /timezones:
    $ref: './timezones.yaml#/paths/~1timezones'
  
  # Users paths
  /users:
    $ref: './users.yaml#/paths/~1users'
  /users/{userId}:
    $ref: './users.yaml#/paths/~1users~1{userId}'

components:
  securitySchemes:
    oAuth2:
      $ref: 'common_components.yaml#/components/securitySchemes/oAuth2'
  
  schemas:
    # Account schemas
    AccountUpdateRequest:
      $ref: './account.yaml#/components/schemas/AccountUpdateRequest'
    AccountResponse:
      $ref: './account.yaml#/components/schemas/AccountResponse'
    UserSummary:
      $ref: './account.yaml#/components/schemas/UserSummary'
    
    # Address schemas  
    AddressCore:
      $ref: './addresses.yaml#/components/schemas/AddressCore'
    AddressUpdateRequest:
      $ref: './addresses.yaml#/components/schemas/AddressUpdateRequest'
    AddressResponse:
      $ref: './addresses.yaml#/components/schemas/AddressResponse'

    # Authentication schemas
    TokenRequest:
      $ref: './oauth.yaml#/components/schemas/TokenRequest'
    TokenResponse:
      $ref: './oauth.yaml#/components/schemas/TokenResponse'
    RevokeRequest:
      $ref: './oauth.yaml#/components/schemas/RevokeRequest'
    
    # Confirmation schemas
    ConfirmationRequest:
      $ref: './confirmation.yaml#/components/schemas/ConfirmationRequest'
    
    # Password schemas
    PasswordResetRequest:
      $ref: './password.yaml#/components/schemas/PasswordResetRequest'
    
    # Sign-up schemas
    SignUpRequest:
      $ref: './sign-up.yaml#/components/schemas/SignUpRequest'
    
    # Call Blocks schemas
    CallBlockRequest:
      $ref: './call-blocks.yaml#/components/schemas/CallBlockRequest'
    CallBlockResponse:
      $ref: './call-blocks.yaml#/components/schemas/CallBlockResponse'
    
    # Call Records schemas
    CallRecordResponse:
      $ref: './call-records.yaml#/components/schemas/CallRecordResponse'
    
    # Country Codes schemas
    CountryCodeResponse:
      $ref: './country-codes.yaml#/components/schemas/CountryCodeResponse'
    
    # Credit Card schemas
    CreditCardRequest:
      $ref: './credit-cards.yaml#/components/schemas/CreditCardRequest'
    CreditCardResponse:
      $ref: './credit-cards.yaml#/components/schemas/CreditCardResponse'
    
    # Items schemas
    ItemRequest:
      $ref: './items.yaml#/components/schemas/ItemRequest'
    ItemResponse:
      $ref: './items.yaml#/components/schemas/ItemResponse'
    
    # Packages schemas
    PackageRequest:
      $ref: './packages.yaml#/components/schemas/PackageRequest'
    PackageResponse:
      $ref: './packages.yaml#/components/schemas/PackageResponse'
    
    # Payments schemas
    PaymentRequest:
      $ref: './payments.yaml#/components/schemas/PaymentRequest'
    PaymentResponse:
      $ref: './payments.yaml#/components/schemas/PaymentResponse'
    
    # Phone Number schemas
    PhoneNumberRequest:
      $ref: './phone-numbers.yaml#/components/schemas/PhoneNumberRequest'
    PhoneNumberResponse:
      $ref: './phone-numbers.yaml#/components/schemas/PhoneNumberResponse'
    
    # Plan schemas
    PlanResponse:
      $ref: './plans.yaml#/components/schemas/PlanResponse'
    
    # Site schemas
    SiteRequest:
      $ref: './sites.yaml#/components/schemas/SiteRequest'
    SiteResponse:
      $ref: './sites.yaml#/components/schemas/SiteResponse'
    
    # Statement schemas
    StatementResponse:
      $ref: './statements.yaml#/components/schemas/StatementResponse'
    
    # Template schemas
    TemplateRequest:
      $ref: './templates.yaml#/components/schemas/TemplateRequest'
    TemplateResponse:
      $ref: './templates.yaml#/components/schemas/TemplateResponse'
    
    # Thin Client schemas
    ThinClientRequest:
      $ref: './thin-clients.yaml#/components/schemas/ThinClientRequest'
    ThinClientResponse:
      $ref: './thin-clients.yaml#/components/schemas/ThinClientResponse'
    
    # Timezone schemas
    TimezoneResponse:
      $ref: './timezones.yaml#/components/schemas/TimezoneResponse'
    
    # User schemas
    UserRequest:
      $ref: './users.yaml#/components/schemas/UserRequest'
    UserResponse:
      $ref: './users.yaml#/components/schemas/UserResponse'
    
    # Common components
    Error:
      $ref: 'common_components.yaml#/components/schemas/Error'
    Link:
      $ref: 'common_components.yaml#/components/schemas/Link'
    LinkObject:
      $ref: 'common_components.yaml#/components/schemas/LinkObject'
    PaginationLinks:
      $ref: 'common_components.yaml#/components/schemas/PaginationLinks'
    SiteDestination:
      $ref: 'common_components.yaml#/components/schemas/SiteDestination'
    DeviceCore:
      $ref: 'common_components.yaml#/components/schemas/DeviceCore'
    
  parameters:
    # Common parameters
    Page:
      $ref: 'common_components.yaml#/components/parameters/Page'
    PerPage:
      $ref: 'common_components.yaml#/components/parameters/PerPage'
    SortBy:
      $ref: 'common_components.yaml#/components/parameters/SortBy'
    SortOrder:
      $ref: 'common_components.yaml#/components/parameters/SortOrder'
    Query:
      $ref: 'common_components.yaml#/components/parameters/Query'
    Include:
      $ref: 'common_components.yaml#/components/parameters/Include'
    SiteId:
      $ref: 'common_components.yaml#/components/parameters/SiteId'
    
  responses:
    # Common responses
    BadRequestError:
      $ref: 'common_components.yaml#/components/responses/BadRequestError'
    UnauthorizedError:
      $ref: 'common_components.yaml#/components/responses/UnauthorizedError'
    ForbiddenError:
      $ref: 'common_components.yaml#/components/responses/ForbiddenError'
    NotFoundError:
      $ref: 'common_components.yaml#/components/responses/NotFoundError'
    SiteNotFoundError:
      $ref: 'common_components.yaml#/components/responses/SiteNotFoundError'
    DeviceNotFoundError:
      $ref: 'common_components.yaml#/components/responses/DeviceNotFoundError'
    ConferenceRoomNotFoundError:
      $ref: 'common_components.yaml#/components/responses/ConferenceRoomNotFoundError'
    E911NotFoundError:
      $ref: 'common_components.yaml#/components/responses/E911NotFoundError'
    MenuNotFoundError:
      $ref: 'common_components.yaml#/components/responses/MenuNotFoundError'
    RingGroupNotFoundError:
      $ref: 'common_components.yaml#/components/responses/RingGroupNotFoundError'
    ScheduleNotFoundError:
      $ref: 'common_components.yaml#/components/responses/ScheduleNotFoundError'
    VoicemailBoxNotFoundError:
      $ref: 'common_components.yaml#/components/responses/VoicemailBoxNotFoundError' 