openapi: 3.0.3
info:
  title: Ringer Business API - Sign Up
  description: |
    This API provides the endpoint for new customers to sign up for the Ringer Business service.
    Successful sign-up creates a new customer account and provides a confirmation token that is typically used in a subsequent step to activate the account (see Confirmation API).
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Sign Up
    description: Endpoint for new customer registration.

paths:
  /sign-up:
    post:
      tags:
        - Sign Up
      summary: Register a new Customer Account
      description: |
        Allows a new customer to register for the Ringer Business service by providing their company name and detailed contact information.
        Upon successful registration, the system creates an account and returns the account details along with a `confirmation_token`.
        This token is essential for the account confirmation process.
      operationId: signUpCustomer # Converted from sign_up
      security: [] # MODIFIED to be an array
      requestBody:
        description: Customer registration details including company name and address information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegistrationRequest' # Renamed from CustomerRegistrationParams for clarity
            example:
              name: "Example Innovations Inc."
              address:
                email: "contact@exampleinnovations.com"
                street_address: "123 Innovation Drive, Suite 400"
                country: "US"
                city: "Techville"
                state_province: "CA"
                postal_code: "90210"
                contact_number: "18005551212"
      responses:
        '201':
          description: Customer account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRegistrationResponse' # Renamed from CustomerRegistration
              example:
                id: 123
                name: "Example Innovations Inc."
                active: false # Typically accounts start inactive until confirmed
                locale: "en" # Assuming a default or derived locale
                international_enabled: false # Assuming default
                # price_deck: "Default Consumer Deck" # This was in original, may need clarification if it applies at sign-up
                balance_preference_in_dollars: "0.00" # Default or initial value
                recharge_preference_in_dollars: "0.00" # Default or initial value
                address:
                  id: 672
                  email: "contact@exampleinnovations.com"
                  street_address: "123 Innovation Drive, Suite 400"
                  country: "US"
                  city: "Techville"
                  state_province: "CA"
                  postal_code: "90210"
                  contact_number: "18005551212"
                confirmation_token: "abcdef123456ghijkl7890mnopqrst"
                links:
                  - href: "/confirmation"
                    rel: "confirmAccount"
                    title: "Confirm Account"
                    method: "POST"
                  - href: "/account/123" # Example link to the newly created account
                    rel: "self"
                    title: "View Account Details"
                    method: "GET"
        '400':
          description: |
            Bad Request.
            The registration data provided was invalid or incomplete. 
            Check the response body for specific field errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Validation failed: Email is invalid, Postal code is required for the selected country."
                error_code: "VALIDATION_ERROR"
                # Potentially include a details array as per original Swagger if field-specific errors are returned
                # details: [
                #   { "field": "address.email", "issue": "must be a valid email address" },
                #   { "field": "address.postal_code", "issue": "is required for country US" }
                # ]
        # 401 & 404 from original swagger seem less likely for a public sign-up endpoint
        # but included here if there are specific scenarios (e.g. trying to sign up a pre-existing domain under certain rules)
        '409': # More appropriate than 404 for an existing conflicting resource
          description: Conflict - An account with some of the provided unique identifiers (e.g., email or company name under certain rules) might already exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "An account with this email address already exists."
                error_code: "ACCOUNT_ALREADY_EXISTS"

components:
  schemas:
    CustomerRegistrationRequest: # Based on CustomerRegistrationParams from Teliax Swagger
      type: object
      description: Information required to register a new customer account.
      properties:
        name:
          type: string
          description: The legal name of the company or business.
          example: "Example Innovations Inc."
        address:
          $ref: '#/components/schemas/AddressUserProvided' # Using a specific version for request
      required:
        - name
        - address
      example:
        name: "Global Solutions Ltd."
        address:
          email: "info@globalsolutions.com"
          street_address: "456 Enterprise Ave"
          country: "GB"
          city: "London"
          postal_code: "SW1A 1AA"
          contact_number: "+442079460958"

    CustomerRegistrationResponse: # Based on CustomerRegistration from Teliax Swagger
      type: object
      description: Details of the newly created customer account, including a confirmation token.
      properties:
        id:
          type: integer
          format: int64 # Assuming ID can be large
          description: Unique identifier for the newly created account.
          example: 123
        name:
          type: string
          description: The name of the registered company.
          example: "Example Innovations Inc."
        active:
          type: boolean
          description: Indicates if the account is active. Typically false until confirmed.
          example: false
        locale:
          type: string
          description: The locale preference for the account (e.g., "en" for English).
          example: "en"
        international_enabled:
          type: boolean
          description: Indicates if international services are enabled for this account.
          example: false
        # price_deck: # From original example, might be too detailed for sign-up response, or could be a default
        #   type: string
        #   description: The name of the default price deck assigned to the account.
        #   example: "Sample Price Deck"
        balance_preference_in_dollars: # From original example
          type: string # Or number with format: double
          description: Preferred account balance threshold (in dollars).
          example: "10.00"
        recharge_preference_in_dollars: # From original example
          type: string # Or number with format: double
          description: Preferred auto-recharge amount (in dollars).
          example: "20.00"
        address:
          $ref: '#/components/schemas/AddressRegistered' # Using a specific version for response, includes ID
        confirmation_token:
          type: string
          description: A unique token required to confirm and activate the account.
          example: "abcdef123456ghijkl7890mnopqrst"
        links:
          type: array
          description: HATEOAS links related to the new account.
          items:
            $ref: '#/components/schemas/Link'
          example:
            - href: "/confirmation"
              rel: "confirmAccount"
              title: "Confirm Account"
              method: "POST"
            - href: "/account/123"
              rel: "self"
              title: "View Account Details"
              method: "GET"
      required:
        - id
        - name
        - active
        - address
        - confirmation_token
      example:
        id: 123
        name: "Example Innovations Inc."
        active: false
        locale: "en"
        international_enabled: false
        balance_preference_in_dollars: "0.00"
        recharge_preference_in_dollars: "0.00"
        address:
          id: 672
          email: "contact@exampleinnovations.com"
          street_address: "123 Innovation Drive, Suite 400"
          country: "US"
          city: "Techville"
          state_province: "CA"
          postal_code: "90210"
          contact_number: "18005551212"
        confirmation_token: "abcdef123456ghijkl7890mnopqrst"
        links:
          - href: "/confirmation"
            rel: "confirmAccount"
            title: "Confirm Account"
            method: "POST"

    AddressUserProvided: # Based on AddressParams from Teliax Swagger for request
      type: object
      description: Address information provided by the user during sign-up.
      properties:
        email:
          type: string
          format: email
          description: Primary contact email address for the account.
          example: "contact@exampleinnovations.com"
        street_address:
          type: string
          description: Street name and number, including suite or apartment if applicable.
          example: "123 Innovation Drive, Suite 400"
        country:
          type: string
          description: Two-letter ISO 3166-1 alpha-2 country code (e.g., US, GB, CA).
          example: "US"
        city:
          type: string
          description: City name.
          example: "Techville"
        state_province:
          type: string
          description: State or province name or code, as applicable for the country.
          example: "CA"
        postal_code:
          type: string
          description: Postal or ZIP code.
          example: "90210"
        contact_number:
          type: string
          description: Primary contact phone number, preferably in E.164 format.
          example: "+18005551212"
      required:
        - email
        - street_address
        - country
        - city
        - postal_code # Generally required
        - contact_number
      example:
        email: "newuser@domain.com"
        street_address: "789 Startup Street"
        country: "US"
        city: "Anytown"
        state_province: "NY"
        postal_code: "10001"
        contact_number: "+12125550100"

    AddressRegistered: # Based on Address definition for response, including ID
      allOf:
        - $ref: '#/components/schemas/AddressUserProvided'
        - type: object
          properties:
            id:
              type: integer
              format: int64
              description: Unique identifier for the address record.
              example: 672
          required:
            - id
            - email
            - street_address
            - country
            - city
            - postal_code
            - contact_number
      description: Registered address information, including its unique ID.
      example:
        id: 672
        email: "contact@exampleinnovations.com"
        street_address: "123 Innovation Drive, Suite 400"
        country: "US"
        city: "Techville"
        state_province: "CA"
        postal_code: "90210"
        contact_number: "18005551212"

    Link: # Standard Link object as per template/best practices
      type: object
      description: Represents a HATEOAS link.
      properties:
        href:
          type: string
          format: uri-reference
          description: The target URI of the link.
        rel:
          type: string
          description: The relation type of the link.
        title:
          type: string
          nullable: true
          description: A human-readable title for the link.
        method:
          type: string
          description: The HTTP method to use for the link's action.
          enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
      required:
        - href
        - rel
      example:
        href: "/account/123"
        rel: "self"
        title: "View Account Details"
        method: "GET"

    Error: # Consistent Error schema from ringer_business_template.yaml
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          description: General error status.
          example: "error"
        error:
          type: string
          description: A human-readable description of the error.
          example: "Invalid input parameters provided."
        error_code:
          type: string
          description: A machine-parsable code for the error.
          example: "VALIDATION_ERROR"
        # details: # Optional field for more granular error reporting
        #   type: array
        #   items:
        #     type: object
        #     properties:
        #       field:
        #         type: string
        #         description: JSON pointer to the field that caused the error.
        #         example: "/address/postal_code"
        #       issue:
        #         type: string
        #         description: Specific issue with the field.
        #         example: "Postal code is required for the selected country."
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "An account with the provided email already exists."
        error_code: "ACCOUNT_ALREADY_EXISTS"

  securitySchemes:
    oAuth2: # Copied from ringer_business_template.yaml for completeness if this file were standalone
      type: oauth2
      description: |
        OAuth 2.0 Authentication using Client Credentials.
        The token URL for this flow is /auth/token.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

# No global security on this file, as sign-up is usually public.
# Endpoints within this file also have security:  explicitly set.
