openapi: 3.0.3
info:
  title: Ringer Business API - Timezones
  description: |
    This API provides an endpoint for listing available Timezones.
    Timezones are crucial for configuring time-sensitive features within the phone system, such as schedules, business hours, and call logging timestamps.
    This endpoint allows developers to retrieve a comprehensive list of supported IANA timezone identifiers.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Timezones
    description: Endpoint for listing supported IANA timezone identifiers.

paths:
  /timezones:
    get:
      tags:
        - Timezones
      summary: List Available Timezones
      description: |
        Retrieves a list of all IANA timezone identifiers supported by the system.
        This information is essential for accurately configuring any time-dependent settings or features.
      operationId: listAvailableTimezones
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: A list of available IANA timezone identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimezoneListResponse'
              example:
                timezones:
                  - "America/New_York"
                  - "America/Chicago"
                  - "America/Denver"
                  - "America/Los_Angeles"
                  - "Europe/London"
                  - "Etc/UTC"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authentication for securing API endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access.
    
  schemas:
    Timezone:
      type: string
      description: |
        A time zone identifier from the IANA Time Zone Database (tz database), e.g., "America/New_York", "Europe/London", "Etc/UTC".
        It is recommended to use these standard identifiers to avoid ambiguity. Avoid using abbreviations like "EST" or "PST".
      minLength: 1
      maxLength: 127
      example: "America/Los_Angeles"

    TimezoneListResponse:
      type: object
      description: A list of available IANA timezone identifiers.
      properties:
        timezones:
          type: array
          items:
            $ref: '#/components/schemas/Timezone'
      required:
        - timezones
      example:
        timezones:
          - "America/New_York"
          - "America/Chicago"
          - "America/Denver"
          - "America/Los_Angeles"
          - "Europe/London"
          - "Etc/UTC"

    Error:
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
          example: "Failed to retrieve timezone list."
        error_code:
          type: string
          example: "TIMEZONE_LIST_ERROR"
      required:
        - status
        - error
        - error_code

  responses:
    UnauthorizedError:
      description: Unauthorized - Authentication token is missing, invalid, or does not have permissions for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ForbiddenError:
      description: Forbidden - The authenticated user does not have the necessary permissions to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
