openapi: 3.0.3
info:
  title: Ringer Business API - Site Voicemail Box Greeting Upload
  description: API endpoint for uploading greeting messages to a Voicemail Box.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - Voicemail Boxes
    description: "Managing voicemail boxes for a site."

paths:
  /sites/{siteId}/voice-mail-boxes/{voicemailBoxId}/upload:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/VoicemailBoxIdPath'
    patch:
      tags:
        - Site Features - Voicemail Boxes
      summary: Upload Voicemail Box Greeting
      operationId: uploadSiteVoicemailBoxGreeting
      description: Uploads or updates the announcement greeting for the specified Voicemail Box.
      security:
        - oAuth2: [write]
      requestBody:
        description: The announcement audio file to upload.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - announcement
              properties:
                announcement:
                  type: string
                  format: binary
                  description: Audio file for the voicemail announcement (e.g., .mp3, .wav).
              example:
                announcement: "(binary audio file content)"
      responses:
        '200':
          description: Voicemail Box greeting uploaded successfully. Returns updated Voicemail Box details.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/VoicemailBoxResponseData'
              example:
                id: "553"
                type: "voicemail-box"
                attributes:
                  name: "Sales Team Voicemail"
                  pin: "****"
                  notification_emails: "sales@example.com,manager@example.com"
                  status: "active"
                  site_id: 6
                  announcement_url: "https://cdn.example.com/greetings/vm553_new.mp3"
                links:
                  self:
                    href: "/sites/6/voice-mail-boxes/553"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'
  # No local schemas needed as they are referenced 