openapi: 3.0.3
info:
  title: Ringer Business API - Site Seat Transfer
  description: |
    Endpoint for transferring a user seat from one site to another within the same account.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - Seats # Standardized tag
    description: "Managing user seats and their provisioned features on a site."

paths:
  /sites/{siteId}/seats/{seatId}/transfer: # Standardized params
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/SeatIdPath' # MODIFIED to ./index.yaml
    post:
      tags:
        - Site Features - Seats
      summary: Transfer Seat to Another Site
      description: |
        Moves a seat (and its provisioned features) from its current site 
        to a new target site within the same customer account.
      operationId: transferSiteSeat # Renamed
      security:
        - oAuth2: [write, admin] # Transferring is an admin-level operation
      requestBody:
        description: The identifier of the new site to which the seat should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded: # As per original Teliax Swagger style for transfers
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the seat.
                  example: 7
              required:
                - new_site_id
              example: # <--- ADDED
                new_site_id: 7
      responses:
        '200':
          description: Seat transferred successfully. The response includes the seat details in its new site context.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/SeatResponse' # Referenced from index
              example:
                id: 25
                site_id: 7 # Note: site_id now reflects the new_site_id
                name: "Basic User Seat"
                template_id: 10
                user_id: 42
                # ... other seat fields consistent with SeatResponse ...
                switchables:
                  - id: 123
                    feature_type: "voicemailbox"
                    feature_id: 15
                    name: "User Voicemail"
                links:
                  - href: "/sites/7/seats/25" # Link reflects new site context
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          description: Not Found - The original seat, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '../../common_components.yaml#/components/schemas/Error' # MODIFIED PATH & target
              example:
                status: "error"
                error: "Seat, current site, or target site not found."
                error_code: "RESOURCE_NOT_FOUND_FOR_TRANSFER"

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH
  # No local schemas needed as they are referenced from index.yaml or common components. 