openapi: 3.0.3
info:
  title: Ringer Business API - Site Menu (Individual Operations)
  description: |
    Endpoints for retrieving, updating, and deleting individual menus (auto attendants) associated with a specific site.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Menus # Standardized tag
    description: "Managing menus (auto attendants) associated with sites."

paths:
  /sites/{siteId}/menus/{menuId}: # Standardized path params
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/MenuIdPath'
    get:
      tags:
        - Site Features - Menus
      summary: Get Menu Details
      description: Retrieve the details of a specific menu.
      operationId: getSiteMenuById # Renamed
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Menu details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/MenuResponse' # Referenced from index
              example:
                id: 55
                site_id: 6
                name: "Main Menu"
                pin: "****"
                fail_over_destination_code: "voicemailbox:42"
                options:
                  "0": "ring_group:10"
                  "1": "extension:101"
                greeting_url: "https://cdn.example.com/greetings/menu_55.mp3"
                links:
                  - href: "/sites/6/menus/55"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'
    
    put:
      tags:
        - Site Features - Menus
      summary: Update Menu Configuration
      description: Updates an existing menu. For `multipart/form-data`, provide only the fields to change. Audio files can be updated.
      operationId: updateSiteMenuById # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: Menu attributes to update. Only include fields that need to be changed.
        required: true # Usually true, but for multipart, client might send only changes.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MenuUpdateRequest' # Local schema for update
            # Example for multipart/form-data:
            # name=Updated Main Menu, pin=4321, greeting=@new_greeting.mp3, option_routes[4]=extension:102
      responses:
        '200':
          description: Menu Updated Successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/MenuResponse' # Referenced from index
              example:
                id: 55
                site_id: 6
                name: "Updated Main Menu"
                pin: "****"
                fail_over_destination_code: "voicemailbox:43"
                options:
                  "0": "ring_group:sales_updated"
                  "1": "extension:105"
                greeting_url: "https://cdn.example.com/greetings/menu_55_updated.mp3"
                links:
                  - href: "/sites/6/menus/55"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'
    
    delete:
      tags:
        - Site Features - Menus
      summary: Delete Menu
      description: Permanently delete a specific menu.
      operationId: deleteSiteMenuById # Renamed
      security:
        - oAuth2: [write]
      responses:
        '204':
          description: Menu Deleted Successfully.
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    MenuUpdateRequest: # For multipart/form-data, all fields are optional in practice
      type: object
      properties:
        name:
          type: string
          nullable: true
        pin:
          type: string
          nullable: true
        fail_over_destination_code: # Corresponds to MenuCore.fail_over_destination_code
          type: string
          nullable: true
        greeting:
          type: string
          format: binary
          nullable: true
          description: New audio file for the menu greeting.
        option_routes[0]: 
          type: string
          nullable: true
        option_routes[1]:
          type: string
          nullable: true
        option_routes[2]:
          type: string
          nullable: true
        option_routes[3]:
          type: string
          nullable: true
        option_routes[4]:
          type: string
          nullable: true
        option_routes[5]:
          type: string
          nullable: true
        option_routes[6]:
          type: string
          nullable: true
        option_routes[7]:
          type: string
          nullable: true
        option_routes[8]:
          type: string
          nullable: true
        option_routes[9]:
          type: string
          nullable: true
        option_routes[*]:
          type: string
          nullable: true
      description: Attributes for updating a menu. For multipart/form-data, only include fields to change.
      example:
        name: "Holiday Menu"
        pin: "2024"
        fail_over_destination_code: "extension:holiday_info"
        option_routes[1]: "extension:santa"

    # MenuResponse schema is referenced from ./index.yaml#/components/schemas/MenuResponse
    # Link and Error schemas are referenced from common components dir 