openapi: 3.0.3
info:
  title: Ringer Business API - Site Menu Greeting Upload
  description: |
    Endpoint for uploading a greeting audio file for a specific menu associated with a site.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Menus # Standardized tag
    description: "Managing menus (auto attendants) associated with sites."

paths:
  /sites/{siteId}/menus/{menuId}/upload: # Standardized path params
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/MenuIdPath'
    patch:
      tags:
        - Site Features - Menus
      summary: Upload Menu Greeting
      description: Upload or update the greeting audio file for the specified menu.
      operationId: uploadSiteMenuGreeting # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: The greeting audio file to upload.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                greeting:
                  type: string
                  format: binary
                  description: Audio file for the menu greeting (e.g., .mp3, .wav).
              required:
                - greeting
              example:
                greeting: "(binary audio file content)"
      responses:
        '200':
          description: Menu greeting uploaded successfully. Returns the updated menu details.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/MenuResponse'
              example:
                id: 55
                site_id: 6
                name: "Main Menu"
                pin: "1234"
                fail_over_destination_code: "voicemailbox:general_vm"
                options:
                  "0": "ring_group:sales_rg"
                  "1": "extension:1001"
                greeting_url: "https://cdn.example.com/greetings/menu_55_new_greeting.mp3"
                links:
                  - href: "/sites/6/menus/55"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'
  # No local schemas (Menu, Link, Error) needed as they are referenced from index.yaml or common components. 