openapi: 3.0.3
info:
  title: Ringer Business API - Transfer Conference Room Between Sites
  description: |
    Endpoint for transferring a conference room from one site to another within the same account.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Conference Rooms
    description: Managing conference rooms (audio bridges) associated with a site.

paths:
  /sites/{siteId}/conference-rooms/{conferenceRoomId}/transfer:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/ConferenceRoomIdPath' # MODIFIED
    post:
      tags:
        - Site Features - Conference Rooms
      summary: Transfer Conference Room to Another Site
      description: |
        Moves a conference room from its current site (specified in the path) 
        to a new target site (specified in the request body) within the same customer account.
      operationId: transferConferenceRoomToNewSite # was transfer_conference-room
      security:
        - oAuth2: [write, admin] # Transferring might be an admin-level operation
      requestBody:
        description: The identifier of the new site to which the conference room should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded: # As per original Teliax Swagger
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the conference room.
                  example: 7
              required:
                - new_site_id
              example: # <--- ADDED
                new_site_id: 7
      responses:
        '200':
          description: Conference room transferred successfully. The response includes the conference room details in its new site context.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ConferenceRoomResponse'
              example:
                id: 3
                site_id: 7 # Note: site_id now reflects the new_site_id
                name: "Weekly Sales Meeting"
                pin: "****" # ADDED
                moderator_pin: "****" # ADDED
                profile: "default" # ADDED
                user_id: 1 # ADDED
                greeting_url: "https://cdn.example.com/greetings/conf_3_moved.mp3"
                music_on_hold_url: null
                links:
                  - href: "/sites/7/conference-rooms/3" # Link reflects new site context
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          description: Not Found - The original conference room, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '../../common_components.yaml#/components/schemas/Error' # MODIFIED PATH
              example:
                status: "error"
                error: "Conference room, current site, or target site not found."
                error_code: "RESOURCE_NOT_FOUND_FOR_TRANSFER"

components:
  # Security Schemes and common responses would be referenced from a higher level
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH 