openapi: 3.0.3
info:
  title: Ringer Business API - Site SIP Trunks (Collection)
  description: |
    Endpoints for listing SIP Trunks associated with a specific site and creating new SIP Trunks.
    SIP Trunks allow connecting external PBX systems to the Ringer platform.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - SIP Trunks
    description: "Managing SIP Trunks for a site."

paths:
  /sites/{siteId}/sip-trunks:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - SIP Trunks
      summary: List SIP Trunks for a Site
      description: Retrieve a paginated list of all SIP Trunks configured for the specified site.
      operationId: listSiteSipTrunks
      security:
        - oAuth2: [read]
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: page_size
          in: query
          description: Number of SIP Trunks per page.
          required: false
          schema:
            type: integer
            default: 25
            example: 10
      responses:
        '200':
          description: A paginated list of SIP Trunks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSipTrunkListResponse'
              example:
                sip_trunks:
                  - id: 161
                    site_id: 6
                    name: "Main Office SIP Trunk"
                    login: "main_trunk_user"
                    active: true
                    channel_limit: 10
                    contact_ip: "1.2.3.4:5060"
                    acl: "0.0.0.0/0"
                    caller_id_name: "Teliax HQ"
                    caller_id_number: "+13035551212"
                    disable_comfort_noise: false
                    timeout: 120
                    fail_over_destination_code: "menu:main_ivr"
                    user_id: null
                    links:
                      - href: "/sites/6/sip-trunks/161"
                        rel: "self"
                        method: "GET"
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  self: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "self", method: "GET" }
                  first: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "first", method: "GET" }
                  last: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "last", method: "GET" }
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'
    post:
      tags:
        - Site Features - SIP Trunks
      summary: Create SIP Trunk for a Site
      description: Adds a new SIP Trunk to the specified site. Login and password will be generated if not provided.
      operationId: createSiteSipTrunk
      security:
        - oAuth2: [write]
      requestBody:
        description: Configuration details for the new SIP Trunk.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipTrunkCreateRequest'
            example:
              name: "Branch Office Trunk"
              login: "branch_user"
              active: true
              channel_limit: 5
              contact_ip: "2.3.4.5:5060"
              acl: "192.168.2.0/24"
              caller_id_name: "Branch Office"
              caller_id_number: "+17205550102"
              disable_comfort_noise: false
              timeout: 60
              fail_over_destination_code: "voicemailbox:branch_main_vm"
      responses:
        '201':
          description: SIP Trunk Created Successfully. Includes generated credentials if applicable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunkResponse'
              example:
                id: 162
                site_id: 6
                name: "Branch Office Trunk"
                login: "branch_user_generated"
                password: "newlyGeneratedSipPassword"
                active: true
                channel_limit: 5
                contact_ip: "2.3.4.5:5060"
                acl: "192.168.2.0/24"
                caller_id_name: "Branch Office"
                caller_id_number: "+17205550102"
                disable_comfort_noise: false
                timeout: 60
                fail_over_destination_code: "voicemailbox:branch_main_vm"
                user_id: null
                links:
                  - href: "/sites/6/sip-trunks/162"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'
        '409':
          $ref: '../../common_components.yaml#/components/responses/ConflictError'

components:
  parameters:
    SipTrunkIdPath:
      name: sipTrunkId
      in: path
      description: The unique identifier of the SIP trunk.
      required: true
      schema:
        type: integer
        format: int64
        example: 301
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    SipTrunkCore:
      type: object
      properties:
        name:
          type: string
          description: A user-friendly name for the SIP Trunk.
          example: "Primary Outbound Trunk"
        login:
          type: string
          description: Username for SIP registration/authentication. Can be system-generated if omitted on create.
          example: "primary_trunk_user"
        password:
          type: string
          format: password
          nullable: true
          writeOnly: true
          description: Password for SIP registration. System-generated if omitted on create. Not returned on GET.
          example: "s3cureTrunkP@ss!"
        active:
          type: boolean
          description: Indicates if the SIP Trunk is active.
          default: true
          example: true
        channel_limit:
          type: integer
          description: Maximum number of concurrent call channels allowed for this trunk.
          default: 10
          example: 10
        contact_ip:
          type: string
          nullable: true
          description: "Optional. IP address and port (e.g., 63.211.239.14:5060) to send inbound calls to, bypassing registration."
          example: "1.2.3.4:5060"
        acl:
          type: string
          nullable: true
          description: Access Control List (IP address or range) restricting where this trunk can connect from/to.
          default: "0.0.0.0/0"
          example: "0.0.0.0/0"
        caller_id_name:
          type: string
          nullable: true
          description: Default Caller ID name for outbound calls from this trunk.
          example: "My Company Inc."
        caller_id_number:
          type: string
          nullable: true
          description: Default Caller ID number for outbound calls from this trunk.
          example: "+18005551212"
        disable_comfort_noise:
          type: boolean
          default: false
          description: Disable RFC3389 Comfort Noise if hardware does not support it.
          example: false
        timeout:
          type: integer
          default: 120
          description: Timeout in seconds for call attempts or registration.
          example: 120
        fail_over_destination_code:
          type: string
          nullable: true
          description: System code for the failover destination if the trunk is unavailable.
          example: "menu:main_ivr"
        user_id:
          type: integer
          format: int64
          nullable: true
          description: Optional. Identifier of a user primarily associated with this SIP trunk.
          example: 11
      required:
        - name
      example:
        name: "Backup Outbound Trunk"
        login: "backup_trunk_user"
        active: true
        channel_limit: 5
        contact_ip: "4.3.2.1:5060"
        acl: "10.0.0.0/8"
        caller_id_name: "Backup Line"
        caller_id_number: "+18005551213"
        disable_comfort_noise: true
        timeout: 90
        fail_over_destination_code: "voicemailbox:general_backup_vm"
        user_id: 12

    SipTrunkCreateRequest:
      allOf:
        - $ref: '#/components/schemas/SipTrunkCore'
      required:
        - name
      description: Data required to create a new SIP Trunk.
      example:
        name: "New Office Trunk"
        login: "newoffice_user"
        active: true
        channel_limit: 20
        caller_id_name: "New Office Main"
        caller_id_number: "+17205559999"

    SipTrunkResponse:
      allOf:
        - $ref: '#/components/schemas/SipTrunkCore'
        - type: object
          properties:
            id:
              type: integer
              format: int64
            site_id:
              type: integer
              format: int64
            password:
              type: string
              format: password
              readOnly: true
              description: The SIP password (only returned on creation if generated by system).
            login:
              type: string
            fail_over_destination:
              type: object
              nullable: true
              allOf:
                - $ref: '../../common_components.yaml#/components/schemas/SiteDestination'
            links:
              type: array
              items:
                $ref: '../../common_components.yaml#/components/schemas/Link'
              nullable: true
          required:
            - id
            - site_id
            - login
            - name
      description: Detailed information about a SIP Trunk.
      example:
        id: 161
        site_id: 6
        name: "Main Office SIP Trunk"
        login: "main_trunk_user"
        active: true
        channel_limit: 10
        contact_ip: "1.2.3.4:5060"
        acl: "0.0.0.0/0"
        caller_id_name: "Teliax HQ"
        caller_id_number: "+13035551212"
        disable_comfort_noise: false
        timeout: 120
        fail_over_destination_code: "menu:main_ivr"
        fail_over_destination:
          name: "Main IVR Menu"
          code: "menu:main_ivr"
        user_id: null
        links:
          - href: "/sites/6/sip-trunks/161"
            rel: "self"
            method: "GET"

    PaginatedSipTrunkListResponse:
      type: object
      description: A paginated list of SIP Trunks.
      properties:
        sip_trunks:
          type: array
          items:
            $ref: '#/components/schemas/SipTrunkResponse'
        total_items:
          type: integer
          example: 10
        total_pages:
          type: integer
          example: 1
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 25
        links:
          $ref: '../../common_components.yaml#/components/schemas/PaginationLinks'
      required:
        - sip_trunks
        - total_items
        - total_pages
        - current_page
        - per_page
      example:
        sip_trunks:
          - id: 161
            site_id: 6
            name: "Main Office SIP Trunk"
            login: "main_trunk_user"
            active: true
            channel_limit: 10
            contact_ip: "1.2.3.4:5060"
            acl: "0.0.0.0/0"
            caller_id_name: "Teliax HQ"
            caller_id_number: "+13035551212"
            disable_comfort_noise: false
            timeout: 120
            fail_over_destination_code: "menu:main_ivr"
            user_id: null
            links:
              - href: "/sites/6/sip-trunks/161"
                rel: "self"
                method: "GET"
        total_items: 1
        total_pages: 1
        current_page: 1
        per_page: 25
        links:
          self: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "self", method: "GET" }
          first: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "first", method: "GET" }
          last: { href: "/sites/6/sip-trunks?page=1&page_size=25", rel: "last", method: "GET" }

    # Error and Link schemas are common 