# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /account:
        get:
          tags:
            - Account
          summary: Account Details
          description: Details of your account
          operationId: account_details
          parameters:
            - name: Authorization
              in: header
              description: This token is used to authenticate a particular account.
              required: true
              schema:
                type: string
          responses:
            "200":
              description: OK
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/Account'
            "401":
              description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
      
        put:
          tags:
            - Account
          summary: Update Account
          description: Update your account. This includes your name and contact info.
          operationId: update_account
          parameters:
            - name: Authorization
              in: header
              description: This token is used to authenticate a particular account.
              required: true
              schema:
                type: string
          requestBody:
            description: Account Attributes
            required: true
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/AccountParams'
          responses:
            "200":
              description: Update account.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/Account'
            "400":
              description: Bad Request Parameters or Validation Errors
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "401":
              description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "404":
              description: Couldn't find account record
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
      
        delete:
          tags:
            - Account
          summary: Delete Account
          description: Delete your account
          operationId: delete_account
          parameters:
            - name: Authorization
              in: header
              description: This token is used to authenticate a particular account.
              required: true
              schema:
                type: string
          responses:
            "204":
              description: Account Deleted
            "401":
              description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "404":
              description: Couldn't find account record
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
      
        patch:
          tags:
            - Account
          summary: Activate Account
          description: Activate Account. This operation is only allowed if you are in the administrator role.
          operationId: activate_account
          parameters:
            - name: Authorization
              in: header
              description: This token is used to authenticate a particular account.
              required: true
              schema:
                type: string
          responses:
            "200":
              description: Activate an Inactive account once the account is ready for operation.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/Account'
            "400":
              description: Bad Request Parameters or Validation Errors
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "401":
              description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "403":
              description: Forbidden request. This error will occur if the Activation is tried on an Active account
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error'
            "404":
              description: Couldn't find account record
              content:
                application/json:
                  schema:
                    $ref: './components.yaml#/components/schemas/error' 
