# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: IVY API - Uaddresses
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Uaddresses.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Uaddresses
    description: Operations related to Uaddresses
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /addresses/{id}:
    put:
      tags:
        - Uaddresses
      summary: Update address
      description: Updates an existing address.
      operationId: update_address
      parameters:
        - name: id
          in: path
          description: Address ID
          required: true
          schema:
            type: integer
      requestBody:
        description: Address information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/AddressParams'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Address'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Address not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
