openapi: 3.0.3
info:
  title: Ringer Business API - Call Records
  description: |
    This API provides an endpoint for retrieving Call Detail Records (CDRs).
    Call records offer detailed information about calls made or received through the Ringer Business system,
    including source, destination, duration, cost, and timestamps.

    Access to call records can be filtered by time range, paginated, sorted, and filtered by various call attributes.
    Permissions might vary; administrators may see all records for an organization, while individual users might only see their own.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

# Global security removed, defined per operation if needed or by default in a root file.

tags:
  - name: Call Records
    description: Endpoint for retrieving Call Detail Records (CDRs).

paths:
  /call-records:
    get:
      tags:
        - Call Records
      summary: List Call Records
      description: |
        Retrieves a list of Call Detail Records (CDRs) based on specified criteria.
        Allows for time-based querying, pagination, sorting, and filtering by call attributes like DNI, ANI, duration, etc.
        The scope of returned records may depend on the authenticated user's role (e.g., account admin vs. individual user).
        A maximum of 30 days worth of data can be queried at a time.
      operationId: listCallRecords
      security:
        - oAuth2: [read]
      parameters:
        - name: start_time
          in: query
          description: |
            Start timestamp for the query range (ISO 8601 format, e.g., "2021-06-01T00:00:00Z").
            Maximum query window is 30 days.
          required: true
          schema:
            type: string
            format: date-time
            example: "2023-10-01T00:00:00Z"
        - name: end_time
          in: query
          description: End timestamp for the query range (ISO 8601 format). Defaults to current time if omitted.
          required: false
          schema:
            type: string
            format: date-time
            example: "2023-10-30T23:59:59Z"
        - name: page[number]
          in: query
          description: Page number for pagination.
          required: true # Usually true if pagination is supported server-side
          schema:
            type: integer
            default: 1
            minimum: 1
            example: 1
        - name: page[size]
          in: query
          description: Number of records per page.
          required: true # Usually true if pagination is supported server-side
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 100
            example: 50
        - name: sort[column]
          in: query
          description: Column to sort by.
          required: false
          schema:
            type: string
            enum: [dni, dni_name, raw_ani, direction, answer_stamp, duration, customer_balance_adjustment, created_at]
            default: created_at
            example: "answer_stamp"
        - name: sort[type]
          in: query
          description: Sort direction.
          required: false
          schema:
            type: string
            enum: [ASC, DESC]
            default: DESC
            example: "DESC"
        - name: filter[column]
          in: query
          description: Column to filter on.
          required: false
          schema:
            type: string
            enum: [dni, dni_name, raw_ani, direction, answer_stamp, duration, customer_balance_adjustment]
            example: "direction"
        - name: filter[type]
          in: query
          description: |
            Filter operator. `starts_with`, `ends_with`, `contains` only for `raw_ani` or `dni`.
          required: false
          schema:
            type: string
            enum: [greater_than, less_than, equal_to, starts_with, ends_with, contains]
            example: "equal_to"
        - name: filter[value]
          in: query
          description: Value to filter by.
          required: false
          schema:
            type: string
            example: "outbound"
      responses:
        '200':
          description: A list of call records matching the criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordListResponse'
              example:
                call_records:
                  - id: 4332721964
                    item_type: "cdr"
                    item_rules: "intrastate"
                    item_options: { "dni": "+17208888888" }
                    item_summary:
                      id: 27815150409
                      dni: "+17208888888"
                      dni_name: "CO LONGMONT"
                      raw_ani: "+12012222222"
                      name: "Intrastate Call"
                      zone: "intrastate"
                      direction: "outbound"
                      start_stamp: "2020-10-29T06:55:06-06:00"
                      answer_stamp: "2020-10-29T06:55:10-06:00"
                      end_stamp: "2020-10-29T07:02:39-06:00"
                      duration: 449 # Assuming this is seconds
                    humanized_item_name: "Intrastate call"
                    customer_balance_adjustment: "-0.08"
                    links: 
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 50
                links:
                  - href: "/call-records?page%5Bnumber%5D=1&page%5Bsize%5D=50"
                    rel: "self"
                    method: "GET"
        '400':
          description: |
            Bad Request.
            This can be due to invalid date formats, exceeding the 30-day query limit, invalid filter/sort parameters, or other malformed query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordError'
              example:
                error: "Query date range cannot exceed 30 days."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: |
        OAuth 2.0 Authentication
        This API uses OAuth 2.0 for authentication. To obtain an access token:
        1. Make a POST request to the `/auth/token` endpoint with your client credentials
        2. Include the access token in subsequent requests using the Authorization header:
           `Authorization: Bearer YOUR_ACCESS_TOKEN`
        Contact your account manager to obtain client credentials.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access
  
  schemas:
    CallRecordItemSummary:
      type: object
      description: Summary details of a specific call event.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for this call summary record.
        dni:
          type: string
          description: Dialed Number Identifier (DNIS).
        dni_name:
          type: string
          nullable: true
          description: Name associated with the DNI (e.g., location or service).
        raw_ani:
          type: string
          description: Automatic Number Identification (ANI) of the caller.
        name:
          type: string
          nullable: true
          description: A descriptive name for the call type or leg.
        zone:
          type: string
          nullable: true
          description: Dialing zone or rate category for the call.
        direction:
          type: string
          enum: [inbound, outbound]
        start_stamp:
          type: string
          format: date-time
        answer_stamp:
          type: string
          format: date-time
          nullable: true
        end_stamp:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration of the answered part of the call in seconds.
      required:
        - id
        - dni
        - raw_ani
        - direction
        - start_stamp

    CallRecord:
      type: object
      description: Represents a Call Detail Record (CDR).
      properties:
        id:
          type: integer
          format: int64
        item_type:
          type: string
        item_rules:
          type: string
          nullable: true
        item_options:
          type: object
          nullable: true
          additionalProperties: true # Allows for flexible key-value pairs
        item_summary:
          $ref: '#/components/schemas/CallRecordItemSummary'
        humanized_item_name:
          type: string
          nullable: true
        customer_balance_adjustment:
          type: string 
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
      required:
        - id
        - item_type
        - item_summary
        - humanized_item_name

    CallRecordListResponse:
      type: object
      description: A paginated list of call records.
      properties:
        call_records:
          type: array
          items:
            $ref: '#/components/schemas/CallRecord'
        total_items:
          type: integer
          description: Total number of records matching the query.
        total_pages:
          type: integer
          description: Total number of pages based on page_size.
        current_page:
          type: integer
          description: The current page number.
        per_page:
          type: integer
          description: Number of records per page.
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
          nullable: true # Links might be absent for an empty list or last page
      required:
        - call_records
        # Pagination fields might not be present if the list is empty or not paginated by default
      example:
        call_records:
          - id: 4332721964
            item_type: "cdr"
            item_rules: "intrastate"
            item_options: { "dni": "+17208888888" }
            item_summary:
              id: 27815150409
              dni: "+17208888888"
              dni_name: "CO LONGMONT"
              raw_ani: "+12012222222"
              name: "Intrastate Call"
              zone: "intrastate"
              direction: "outbound"
              start_stamp: "2020-10-29T06:55:06-06:00"
              answer_stamp: "2020-10-29T06:55:10-06:00"
              end_stamp: "2020-10-29T07:02:39-06:00"
              duration: 449
            humanized_item_name: "Intrastate call"
            customer_balance_adjustment: "-0.08"
            links: 
        total_items: 1
        total_pages: 1
        current_page: 1
        per_page: 50
        links:
          - href: "/call-records?page%5Bnumber%5D=1&page%5Bsize%5D=50"
            rel: "self"
            method: "GET"

    CallRecordError: # Specific error for this endpoint
      type: object
      description: Describes an error encountered during a call record request.
      properties:
        error:
          type: string
          description: A human-readable message describing the validation error or issue.
      required:
        - error
      example:
        error: "Query date range cannot exceed 30 days."

    Link: # Local Link definition
      type: object
      description: Represents a HATEOAS link.
      properties:
        href:
          type: string
          format: uri-reference
        rel:
          type: string
        title:
          type: string
          nullable: true
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
      required:
        - href
        - rel

    Error: # Local generic Error definition
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          example: "error"
        error:
          type: string
        error_code:
          type: string
        details:
          type: array
          nullable: true
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "A general error occurred while processing call records."
        error_code: "CALL_RECORD_PROCESSING_ERROR"

  responses: # Local response definitions
    UnauthorizedError:
      description: Unauthorized - Authentication token is missing, invalid, or does not have permissions for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "Authentication token is required for call records."
            error_code: "AUTH_TOKEN_MISSING_CDR"
    ForbiddenError:
      description: Forbidden - The authenticated user does not have the necessary permissions to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: "error"
            error: "User does not have permission to access these call records."
            error_code: "FORBIDDEN_CDR_ACCESS"
    # BadRequestError uses CallRecordError schema for this endpoint
