# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /call-blocks:
    get:
      tags:
        - Call Blocks
      summary: List Call Blocks
      description: Retrieve a list of call blocks for your account.
      operationId: list_call_blocks
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of Call Blocks
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CallBlockList'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    
    post:
      tags:
        - Call Blocks
      summary: Create Call Block
      description: Create a new call block for your account.
      operationId: create_call_block
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
      requestBody:
        description: Call Block Attributes
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/CallBlockParams'
      responses:
        "201":
          description: Call Block Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CallBlock'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /call-blocks/{id}:
    delete:
      tags:
        - Call Blocks
      summary: Delete Call Block
      description: Delete a call block from your account.
      operationId: delete_call_block
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of the call block
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Call Block Deleted. No Content
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Couldn't find call block record
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error' 
