openapi: 3.0.3
info:
  title: Ringer Business API - Account Confirmation
  description: |
    This API provides the endpoint for confirming a new user account after registration.
    Confirmation is typically done using a token that was provided during the sign-up process.
    Successfully confirming an account makes it operational.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

tags:
  - name: Confirmation
    description: Endpoint for confirming user accounts.

paths:
  /confirmation:
    post:
      tags:
        - Confirmation
      summary: Confirm a User Account
      description: |
        Confirms a user account using a confirmation token obtained during sign-up.
        If a valid token is provided, the account becomes active and operational.
        This token is typically obtained via an email link sent to the user after they sign up.
      operationId: confirmAccount
      security: [] # MODIFIED to be an array
      requestBody:
        description: The confirmation token provided to the user.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmationRequest' # Renamed from ConfirmationParams
            example:
              confirmation_token: "i2W9OXLqCaKNHoQY07lVAkgPVaI"
      responses:
        '201': # Or 200 OK if no resource is created, but 201 can signify state change to 'confirmed'
          description: Account confirmed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmationResponse' # Renamed from Confirmation
              example:
                message: "Account confirmed successfully. You can now log in."
                # Optionally include links to login or account dashboard
                links:
                  - href: "/auth/token" # Example link to login
                    rel: "login"
                    title: "Login to Account"
                    method: "POST"
        '400':
          description: |
            Bad Request.
            This can occur if the `confirmation_token` is missing, malformed, or invalid (e.g., already used or expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Invalid or expired confirmation token."
                error_code: "INVALID_CONFIRMATION_TOKEN"
        '404': # From original Teliax Swagger
          description: |
            Not Found.
            The account associated with the confirmation token could not be found. 
            This might happen if the token is severely outdated or the account was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Account not found for the provided token."
                error_code: "ACCOUNT_NOT_FOUND"

components:
  schemas:
    ConfirmationRequest: # Based on ConfirmationParams from Teliax Swagger
      type: object
      description: Contains the token needed to confirm a user account.
      properties:
        confirmation_token:
          type: string
          description: The unique token sent to the user after registration, used to verify and activate their account.
          example: "i2W9OXLqCaKNHoQY07lVAkgPVaI"
      required:
        - confirmation_token
      example:
        confirmation_token: "valid_confirmation_token_string"

    ConfirmationResponse: # Based on Confirmation from Teliax Swagger
      type: object
      description: Response message indicating the result of the account confirmation attempt.
      properties:
        message:
          type: string
          description: A success message indicating the account has been confirmed.
          example: "Your account has been successfully confirmed."
        links:
          type: array
          description: HATEOAS links for next actions, like logging in.
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
      required:
        - message
      example:
        message: "Account confirmed successfully. You may now log in."
        links:
          - href: "/auth/token"
            rel: "login"
            title: "Proceed to Login"
            method: "POST"

    Link: # Standard Link object as per template/best practices
      type: object
      description: Represents a HATEOAS link.
      properties:
        href:
          type: string
          format: uri-reference
          description: The target URI of the link.
        rel:
          type: string
          description: The relation type of the link.
        title:
          type: string
          nullable: true
          description: A human-readable title for the link.
        method:
          type: string
          description: The HTTP method to use for the link's action.
          enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
      required:
        - href
        - rel
      example:
        href: "/auth/token"
        rel: "login"
        title: "Login"
        method: "POST"

    Error: # Consistent Error schema from ringer_business_template.yaml
      type: object
      description: Standard error response format.
      properties:
        status:
          type: string
          description: General error status.
          example: "error"
        error:
          type: string
          description: A human-readable description of the error.
          example: "Invalid confirmation token provided."
        error_code:
          type: string
          description: A machine-parsable code for the error.
          example: "INVALID_TOKEN"
      required:
        - status
        - error
        - error_code
      example:
        status: "error"
        error: "Confirmation token has expired or is invalid."
        error_code: "TOKEN_EXPIRED_OR_INVALID"

  securitySchemes:
    oAuth2: # Copied from ringer_business_template.yaml for completeness if this file were standalone
      type: oauth2
      description: |
        OAuth 2.0 Authentication using Client Credentials.
        The token URL for this flow is /auth/token.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

# No global security on this file, as confirmation is usually public (token-based).
# The endpoint within this file also has security:  explicitly set.
