# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: IVY API - Uconfirmation
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Uconfirmation.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Uconfirmation
    description: Operations related to Uconfirmation
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /confirmation:
    post:
      tags:
        - Uconfirmation
      summary: Confirm a new account
      description: Confirms a newly created account using a confirmation token.
      operationId: confirm_account
      requestBody:
        description: Account confirmation information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ConfirmationParams'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Confirmation'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Invalid confirmation token
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
