# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: creditCards
  description: This is a partial file containing path objects for the IVY API. It defines operations related to creditCards.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: creditCards
    description: Operations related to creditCards
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /credit-cards:
    get:
      tags:
        - creditCards
      summary: List all credit cards
      description: Returns a list of all credit cards associated with the account.
      operationId: list_credit_cards
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  credit_cards:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/CreditCard'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    post:
      tags:
        - creditCards
      summary: Add a new credit card
      description: Adds a new credit card to the account.
      operationId: add_credit_card
      requestBody:
        description: Credit card information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/CreditCardParams'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CreditCard'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /credit-cards/{id}:
    get:
      tags:
        - creditCards
      summary: Get credit card details
      description: Returns details for a specific credit card.
      operationId: get_credit_card
      parameters:
        - name: id
          in: path
          description: Credit Card ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CreditCard'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Credit card not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    delete:
      tags:
        - creditCards
      summary: Delete credit card
      description: Deletes a credit card from the account.
      operationId: delete_credit_card
      parameters:
        - name: id
          in: path
          description: Credit Card ID
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Credit card not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /credit-cards/{id}/verify:
    patch:
      tags:
        - creditCards
      summary: Verify credit card
      description: Verifies a credit card with verification code.
      operationId: verify_credit_card
      parameters:
        - name: id
          in: path
          description: Credit Card ID
          required: true
          schema:
            type: integer
      requestBody:
        description: Verification information
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - verification_code
              properties:
                verification_code:
                  type: string
                  example: "123"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CreditCard'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Credit card not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
