# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: IVY API - Upackages
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Upackages.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Upackages
    description: Operations related to Upackages
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /packages:
    get:
      tags:
        - Upackages
      summary: List available Packages
      description: A list of packages available for purchase for your account.
      operationId: list_packages
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of Packages
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/PackageList'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /packages/{id}:
    post:
      tags:
        - Upackages
      summary: Purchase a Package
      description: Purchase an add-on package for your account.
      operationId: purchase_package
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of Package
          required: true
          schema:
            type: integer
      responses:
        "201":
          description: Package purchased
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/PackagePurchase'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    
    delete:
      tags:
        - Upackages
      summary: Remove Package
      description: Remove an add-on package from your account.
      operationId: remove_package
      parameters:
        - name: Authorization
          in: header
          description: This token is used to authenticate a particular account.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of the Package
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Package Deleted. No Content
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Couldn't find site record
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
