# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: IVY API - Upassword
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Upassword.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Upassword
    description: Operations related to Upassword
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /password:
    post:
      tags:
        - Upassword
      summary: Forgot User Password
      description: Enter your email used to login to your account. The response will email you a password reset link.
      operationId: forgot_password
      requestBody:
        description: Email Address Attribute
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ForgotPasswordParams'
      responses:
        "201":
          description: Reset Password token
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ForgotPassword'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /password/reset:
    put:
      tags:
        - Upassword
      summary: Reset User Password
      description: Reset your password with the token that was emailed to you.
      operationId: reset_password
      requestBody:
        description: Reset Password Attributes
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ResetPasswordParams'
      responses:
        "200":
          description: Password successfully reset
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ResetPassword'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Invalid reset token
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
