# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /password:
    post:
      tags:
        - Forgot Password
      summary: Forgot User Password
      description: Enter your email used to login to your account. The response will email you a password reset link.
      operationId: forgot_password
      requestBody:
        description: Email Address Attribute
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ForgotPasswordParams'
      responses:
        "201":
          description: Reset Password token
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ForgotPassword'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /password/reset:
    put:
      tags:
        - Forgot Password
      summary: Reset User Password
      description: Reset your password with the token that was emailed to you.
      operationId: reset_password
      requestBody:
        description: Reset Password Attributes
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ResetPasswordParams'
      responses:
        "200":
          description: Password successfully reset
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ResetPassword'
        "400":
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Invalid reset token
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
