# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Payments
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Payments.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Payments
    description: Operations related to Payments
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /payments:
    get:
      tags:
        - Payments
      summary: List all payments
      description: Returns a list of all payments made on the account.
      operationId: list_payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Payment'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    post:
      tags:
        - Payments
      summary: Make a payment
      description: Makes a payment on the account.
      operationId: make_payment
      requestBody:
        description: Payment information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/PaymentParams'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Payment'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
