# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: phoneNumbers
  description: This is a partial file containing path objects for the IVY API. It defines operations related to phoneNumbers.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: phoneNumbers
    description: Operations related to phoneNumbers
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /phone-numbers:
      get:
        tags:
          - phoneNumbers
        summary: List Phone Numbers
        description: Retrieve information about all phone numbers for your account.
        operationId: list_phone_numbers
        parameters:
          - name: Authorization
            in: header
            description: This token is used to authenticate a particular account.
            required: true
            schema:
              type: string
        responses:
          "200":
            description: Array of Phone Numbers
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/PhoneNumberList'
          "400":
            description: Bad Request Parameters or Validation Errors
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
          "401":
            description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
    
  /phone-numbers/available:
      get:
        tags:
          - phoneNumbers
        summary: List Available Phone Numbers
        description: Retrieve a list of available phone numbers for your account.
        operationId: list_available_phone_numbers
        parameters:
          - name: Authorization
            in: header
            description: This token is used to authenticate a particular account.
            required: true
            schema:
              type: string
          - name: area_code
            in: query
            description: Filter available numbers by area code
            required: false
            schema:
              type: string
          - name: prefix
            in: query
            description: Filter available numbers by prefix
            required: false
            schema:
              type: string
          - name: contains
            in: query
            description: Filter available numbers by contained digits
            required: false
            schema:
              type: string
        responses:
          "200":
            description: Array of Available Phone Numbers
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/AvailablePhoneNumberList'
          "400":
            description: Bad Request Parameters or Validation Errors
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
          "401":
            description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
    
  /phone-numbers/{id}:
      get:
        tags:
          - phoneNumbers
        summary: Phone Number Details
        description: Retrieve detailed information about a specific phone number.
        operationId: show_phone_number
        parameters:
          - name: Authorization
            in: header
            description: This token is used to authenticate a particular account.
            required: true
            schema:
              type: string
          - name: id
            in: path
            description: ID of the phone number
            required: true
            schema:
              type: integer
        responses:
          "200":
            description: Phone Number Detail
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/PhoneNumber'
          "400":
            description: Bad Request Parameters or Validation Errors
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
          "401":
            description: Unauthorized request. This error will occur if the SecurityContext header is not provided or does not include a party_id.
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error'
          "404":
            description: Couldn't find phone number record
            content:
              application/json:
                schema:
                  $ref: './components.yaml#/components/schemas/error' 
