# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /plans:
    get:
      tags:
        - Plans
      summary: List all plans
      description: Returns a list of all available plans.
      operationId: list_plans
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Plan'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /plans/{id}:
    get:
      tags:
        - Plans
      summary: Get plan details
      description: Returns details for a specific plan.
      operationId: get_plan
      parameters:
        - name: id
          in: path
          description: Plan ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Plan'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    post:
      tags:
        - Plans
      summary: Add plan to account
      description: Adds the specified plan to the account.
      operationId: add_plan
      parameters:
        - name: id
          in: path
          description: Plan ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Plan'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    delete:
      tags:
        - Plans
      summary: Remove plan from account
      description: Removes the specified plan from the account.
      operationId: remove_plan
      parameters:
        - name: id
          in: path
          description: Plan ID
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
