# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: IVY API - UsignUup
  description: This is a partial file containing path objects for the IVY API. It defines operations related to UsignUup.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: UsignUup
    description: Operations related to UsignUup
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /sign-up:
    post:
      tags:
        - UsignUup
      summary: Register a new account
      description: Creates a new customer account in the system.
      operationId: register_account
      requestBody:
        description: Account registration information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/CustomerRegistrationParams'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CustomerRegistration'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
