# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /sign-up:
    post:
      tags:
        - Sign Up
      summary: Register a new account
      description: Creates a new customer account in the system.
      operationId: register_account
      requestBody:
        description: Account registration information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/CustomerRegistrationParams'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/CustomerRegistration'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
