# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Statements
  description: This is a partial file containing path objects for the IVY API. It defines operations related to Statements.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
tags:
  - name: Statements
    description: Operations related to Statements
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /statements:
    get:
      tags:
        - Statements
      summary: List all statements
      description: Returns a list of all account statements.
      operationId: list_statements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Statement'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /statements/{id}:
    get:
      tags:
        - Statements
      summary: Get statement details
      description: Returns details for a specific statement.
      operationId: get_statement
      parameters:
        - name: id
          in: path
          description: Statement ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Statement'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Statement not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
