# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /statements:
    get:
      tags:
        - Statements
      summary: List all statements
      description: Returns a list of all account statements.
      operationId: list_statements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Statement'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /statements/{id}:
    get:
      tags:
        - Statements
      summary: Get statement details
      description: Returns details for a specific statement.
      operationId: get_statement
      parameters:
        - name: id
          in: path
          description: Statement ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Statement'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: Statement not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
