# THIS IS A PARTIAL OPENAPI FILE
# This file contains path objects intended to be referenced by main.yaml
# The following structure is added for standalone validation purposes only

openapi: 3.0.3
info:
  title: Partial OpenAPI Document
  description: This is a partial file containing path objects for the IVY API.
  version: 1.0.0
  contact:
    name: IVY API Support
    url: https://ivy.teliax.com/
    email: support@ivy.teliax.com
  x-partial-file: true
servers:
  - url: http://ivy-api.teliax.com
    description: Production server
# Below is the actual content referenced by main.yaml

# THIS IS A PARTIAL OPENAPI FILE
# This file contains only path objects and is not meant to be validated standalone.
# It is referenced by main.yaml which contains the complete OpenAPI document.

paths:
  /users:
    get:
      tags:
        - Users
      summary: List all users
      description: Returns a list of all users for the account.
      operationId: list_users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/UserList'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    post:
      tags:
        - Users
      summary: Create a new user
      description: Creates a new user for the account.
      operationId: create_user
      requestBody:
        description: User information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/UserParams'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/User'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
  
  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user details
      description: Returns details for a specific user.
      operationId: get_user
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/User'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    put:
      tags:
        - Users
      summary: Update user
      description: Updates an existing user.
      operationId: update_user
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: integer
      requestBody:
        description: User information
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/UserParams'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/User'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
    delete:
      tags:
        - Users
      summary: Delete user
      description: Deletes a user.
      operationId: delete_user
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/error'
