openapi: 3.0.3
info:
  title: Ringer Business API - Regenerate SIP Trunk Password
  description: Endpoint for regenerating the SIP password for a specific SIP Trunk associated with a site.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - SIP Trunks
    description: "Managing SIP Trunks for a site."

paths:
  /sites/{siteId}/sip-trunks/{sipTrunkId}/regenerate-password:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/SipTrunkIdPath'
    patch:
      tags:
        - Site Features - SIP Trunks
      summary: Regenerate SIP Trunk Password
      operationId: regenerateSiteSipTrunkPassword
      description: |
        Generates a new random SIP password for the specified SIP Trunk.
        The old password will no longer be valid. The SIP Trunk endpoint will need to be updated.
        The new password is included in the response.
      security:
        - oAuth2: [write]
      responses:
        '200':
          description: SIP Trunk password regenerated successfully. The new password is included.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunkResponseWithPassword'
              example:
                id: 161
                site_id: 6
                name: "Main Office SIP Trunk"
                login: "main_trunk_user"
                password: "newGeneratedS3cur3SipP@ss!"
                active: true
                # ... other relevant fields from SipTrunkCore ...
                links:
                  - href: "/sites/6/sip-trunks/161"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SipTrunkNotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  schemas:
    SipTrunkResponseWithPassword:
      allOf:
        - $ref: './index.yaml#/components/schemas/SipTrunkCore'
        - type: object
          properties:
            id:
              type: integer
              format: int64
            site_id:
              type: integer
              format: int64
            login:
              type: string
            password:
              type: string
              format: password
              description: The newly generated SIP password for the trunk.
            fail_over_destination:
              oneOf:
                - $ref: '../../common_components.yaml#/components/schemas/SiteDestination'
                - type: object
                  nullable: true
                  description: Failover destination, null if not set.
            links:
              type: array
              items:
                $ref: '../../common_components.yaml#/components/schemas/Link'
              nullable: true
          required:
            - id
            - site_id
            - login
            - password
            - name
      description: SIP Trunk details including the newly regenerated SIP password.
      example:
        id: 161
        site_id: 6
        name: "Main Office SIP Trunk"
        login: "main_trunk_user"
        password: "newlyGeneratedS3cur3SipP@ss!"
        active: true
        channel_limit: 10
        contact_ip: "1.2.3.4:5060"
        acl: "0.0.0.0/0"
        caller_id_name: "Teliax HQ"
        caller_id_number: "+13035551212"
        disable_comfort_noise: false
        timeout: 120
        fail_over_destination_code: "menu:main_ivr"
        fail_over_destination:
          name: "Main IVR Menu"
          code: "menu:main_ivr"
        user_id: null
        links:
          - href: "/sites/6/sip-trunks/161"
            rel: "self"
            method: "GET"

    # Error schema is referenced from common components 