openapi: 3.0.3
info:
  title: Telique API
  description: |
    The Ringer Telique API provides access to telecommunications data, 
    including caller name (CNAM) data, line type information, and more.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/
    email: support@ringer.tel
servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server
security:
  - BearerAuth: []
  - ApiKeyAuth: []
tags:
  - name: Lookup
    description: Endpoints for looking up phone number information
  - name: Portability
    description: Endpoints for phone number portability information
  - name: CIC
    description: Operations for Carrier Identification Code
  - name: ROR
    description: Operations for Route of Record
paths:
  /telique/lookup:
    get:
      tags:
        - Lookup
      summary: Look up a phone number
      description: Returns detailed information about a specified phone number.
      operationId: lookupPhoneNumber
      parameters:
        - name: phone_number
          in: query
          description: The phone number to look up in E.164 format (e.g., +18005551234)
          required: true
          schema:
            type: string
            pattern: ^\+[1-9]\d{10,14}$
        - name: include_cnam
          in: query
          description: Whether to include caller name information
          required: false
          schema:
            type: boolean
            default: true
        - name: include_line_type
          in: query
          description: Whether to include line type information
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cnam:
    get:
      tags:
        - Lookup
      summary: CNAM Lookup
      description: Returns Caller Name (CNAM) information for a specified phone number.
      operationId: cnamLookup
      parameters:
        - name: number
          in: query
          description: The phone number to look up (10-15 digits, possibly with a leading +)
          required: true
          schema:
            type: string
            pattern: ^\+?[0-9]{10,15}$
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnamLookupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Lookup
      summary: CNAM Lookup (POST)
      description: Alternative method to perform a CNAM lookup using a POST request with form data.
      operationId: cnamLookupPost
      requestBody:
        description: CNAM lookup request parameters
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - number
              properties:
                number:
                  type: string
                  description: The phone number to look up (10-15 digits, possibly with a leading +)
                  pattern: ^\+?[0-9]{10,15}$
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnamLookupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/bulk-lookup:
    post:
      tags:
        - Lookup
      summary: Look up multiple phone numbers
      description: Returns detailed information about multiple phone numbers in a single request.
      operationId: bulkLookupPhoneNumbers
      requestBody:
        description: Request parameters for bulk lookup
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone_numbers
              properties:
                phone_numbers:
                  type: array
                  description: Array of phone numbers to look up in E.164 format
                  maxItems: 100
                  items:
                    type: string
                    pattern: ^\+[1-9]\d{10,14}$
                include_cnam:
                  type: boolean
                  description: Whether to include caller name information
                  default: true
                include_line_type:
                  type: boolean
                  description: Whether to include line type information
                  default: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkLookupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/lrn/{phoneNumber}:
    get:
      tags:
        - Portability
      summary: Retrieve LRN information for a phone number
      description: |
        Returns the Local Routing Number (LRN) and Service Provider ID (SPID) 
        for a specified 10-digit North American phone number. This information 
        is used to correctly route calls to numbers that have been ported 
        from one carrier to another.
      operationId: getLrnInfo
      parameters:
        - name: phoneNumber
          in: path
          description: 10-digit North American telephone number (NANP format)
          required: true
          schema:
            type: string
            pattern: '^[2-9][0-9]{9}$'
            example: '5551234567'
      responses:
        '200':
          description: Successful LRN lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LrnResponse'
              examples:
                ported:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5552345678'
                    spid: 'AB12'
                    ported: true
                nonPorted:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5551234567'
                    spid: null
                    ported: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Invalid phone number format. Must be a 10-digit NANP number.'
                error_code: 'INVALID_FORMAT'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Forbidden. Your API key does not have permission to access this resource.'
                error_code: 'FORBIDDEN'
        '429':
          description: Too many requests
          headers:
            Retry-After:
              schema:
                type: integer
              description: Time in seconds to wait before making another request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cic/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information
      description: Retrieve Carrier Identification Code (CIC) information for the specified parameters.
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cic/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information (plain text)
      description: Retrieve Carrier Identification Code (CIC) information in plain text format.
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code (4 digits, zero-padded)
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
  /telique/cicror/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information with ROR
      description: Retrieve Carrier Identification Code (CIC) information including Route of Record (ROR) data.
      tags:
        - CIC
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICRORResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cicror/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information with ROR (plain text)
      description: Retrieve Carrier Identification Code (CIC) and Route of Record (ROR) information in plain text format.
      tags:
        - CIC
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code and ROR separated by semicolon
                example: "0123;ROUTE1234"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
  /telique/ror/{crn}:
    get:
      summary: Get ROR information
      description: Retrieve Route of Record (ROR) information for the specified CRN.
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RORResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/ror/{crn}/plain:
    get:
      summary: Get ROR information (plain text)
      description: Retrieve Route of Record (ROR) information in plain text format.
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: Route of Record
                example: "ROUTE1234"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
  schemas:
    LookupResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          example: success
        data:
          type: object
          required:
            - phone_number
          properties:
            phone_number:
              type: string
              example: "+18005551234"
            cnam:
              $ref: '#/components/schemas/CnamData'
            line_type:
              $ref: '#/components/schemas/LineTypeData'
            location:
              $ref: '#/components/schemas/LocationData'
    CnamLookupResponse:
      type: object
      required:
        - phoneNumber
        - name
        - status
      properties:
        phoneNumber:
          type: string
          example: "8005551234"
        name:
          type: string
          example: "ACME CORPORATION"
        status:
          type: string
          example: "success"
        cacheHit:
          type: boolean
          example: true
        error:
          type: string
          description: Error message (only present when status is "error")
    BulkLookupResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          example: success
        data:
          type: array
          items:
            type: object
            required:
              - phone_number
            properties:
              phone_number:
                type: string
                example: "+18005551234"
              cnam:
                $ref: '#/components/schemas/CnamData'
              line_type:
                $ref: '#/components/schemas/LineTypeData'
              location:
                $ref: '#/components/schemas/LocationData'
              error:
                type: string
                description: Error message if the lookup for this phone number failed
    LrnResponse:
      type: object
      properties:
        phoneNumber:
          type: string
          description: The queried telephone number
          example: '5551234567'
        lrn:
          type: string
          description: Local Routing Number for the queried number
          example: '5552345678'
        spid:
          type: string
          nullable: true
          description: Service Provider ID for the carrier serving this number
          example: 'AB12'
        ported:
          type: boolean
          description: Indicates whether the number has been ported (true) or not (false)
          example: true
      required:
        - phoneNumber
        - lrn
        - ported
    CnamData:
      type: object
      properties:
        caller_name:
          type: string
          example: "JOHN SMITH"
        caller_type:
          type: string
          enum: [CONSUMER, BUSINESS, UNKNOWN]
          example: "CONSUMER"
        last_updated:
          type: string
          format: date-time
          example: "2023-05-15T12:34:56Z"
    LineTypeData:
      type: object
      properties:
        type:
          type: string
          enum: [FIXED_LINE, MOBILE, VOIP, TOLL_FREE, PREMIUM_RATE, UNKNOWN]
          example: "FIXED_LINE"
        carrier:
          type: string
          example: "Example Telecom"
    LocationData:
      type: object
      properties:
        country:
          type: string
          example: "US"
        state:
          type: string
          example: "CA"
        city:
          type: string
          example: "Los Angeles"
    Error:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          example: error
        error:
          type: string
          example: Invalid phone number format
        error_code:
          type: string
          example: invalid_phone_number
    CICResponse:
      type: object
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0123"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
    RORResponse:
      type: object
      properties:
        ror:
          type: string
          description: Route of Record
          example: "ROUTE1234"
      required:
        - ror
    CICRORResponse:
      type: object
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0123"
        ror:
          type: string
          description: Route of Record
          example: "ROUTE1234"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
        - ror 