openapi: 3.0.3
info:
  title: Telique API
  description: |
    The Ringer Telique API provides access to telecommunications data, 
    including caller name (CNAM) data, line type information, and more.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/
    email: support@ringer.tel
servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server
security:
  - BearerAuth: []
  - ApiKeyAuth: []
tags:
  - name: CIC
    description: Operations for Carrier Identification Code
  - name: Lookup
    description: Endpoints for looking up phone number information
  - name: Portability
    description: Endpoints for phone number portability information
  - name: ROR
    description: Operations for Route of Record
paths:
  /telique/cnam/{phoneNumber}:
    get:
      tags:
        - Lookup
      summary: CNAM Lookup
      description: |
        Retrieve Caller Name (CNAM) information for a phone number.
        This endpoint performs a CNAM (Caller Name) lookup for a specified phone number.
        It first checks the database cache for existing records, and if not found,
        performs an SS7 network lookup to retrieve the caller name information.
      operationId: getCNAM
      parameters:
        - name: phoneNumber
          in: path
          description: The phone number to lookup
          required: true
          schema:
            type: string
            pattern: '^\+?[0-9]{10,15}$'
            example: "8005551234"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNAMResponse'
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cnam:
    post:
      tags:
        - Lookup
      summary: CNAM Lookup (POST)
      description: |
        Alternative method to perform a CNAM lookup using a POST request with form data.
      operationId: postCNAM
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                number:
                  type: string
                  description: The phone number to lookup
                  pattern: '^\+?[0-9]{10,15}$'
                  example: "8005551234"
              required:
                - number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNAMResponse'
        '400':
          description: Bad request - Missing or invalid phone number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/lrn/{phoneNumber}:
    get:
      tags:
        - Portability
      summary: Retrieve LRN information for a phone number
      description: |
        Returns the Local Routing Number (LRN) and Service Provider ID (SPID) 
        for a specified 10-digit North American phone number. This information 
        is used to correctly route calls to numbers that have been ported 
        from one carrier to another.
      operationId: getLrnInfo
      parameters:
        - name: phoneNumber
          in: path
          description: 10-digit North American telephone number (NANP format)
          required: true
          schema:
            type: string
            pattern: '^[2-9][0-9]{9}$'
            example: '5551234567'
      responses:
        '200':
          description: Successful LRN lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LrnResponse'
              examples:
                ported:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5552345678'
                    spid: 'AB12'
                    ported: true
                nonPorted:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5551234567'
                    spid: null
                    ported: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Invalid phone number format. Must be a 10-digit NANP number.'
                error_code: 'INVALID_FORMAT'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Forbidden. Your API key does not have permission to access this resource.'
                error_code: 'FORBIDDEN'
        '429':
          description: Too many requests
          headers:
            Retry-After:
              schema:
                type: integer
              description: Time in seconds to wait before making another request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cic/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information
      description: Retrieve Carrier Identification Code (CIC) information for the specified parameters.
      operationId: getCicInfo
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cic/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information (plain text)
      description: Retrieve Carrier Identification Code (CIC) information in plain text format.
      operationId: getCicInfoPlainText
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code (4 digits, zero-padded)
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
  /telique/cicror/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information with ROR
      description: Retrieve Carrier Identification Code (CIC) information including Route of Record (ROR) data.
      operationId: getCicRorInfo
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICRORResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/cicror/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information with ROR (plain text)
      description: Retrieve Carrier Identification Code (CIC) and Route of Record (ROR) information in plain text format.
      operationId: getCicRorInfoPlainText
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code and ROR separated by semicolon
                example: "0123;ROUTE1234"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
  /telique/ror/{crn}:
    get:
      summary: Get ROR information
      description: Retrieve Route of Record (ROR) information for the specified CRN.
      operationId: getRorInfo
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RORResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /telique/ror/{crn}/plain:
    get:
      summary: Get ROR information (plain text)
      description: Retrieve Route of Record (ROR) information in plain text format.
      operationId: getRorInfoPlainText
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Customer Record Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: Route of Record
                example: "ROUTE1234"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
  schemas:
    CNAMResponse:
      type: object
      properties:
        phoneNumber:
          type: string
          description: The phone number that was looked up
          example: "8005551234"
        name:
          type: string
          description: The caller name associated with the phone number
          example: "ACME CORPORATION"
        status:
          type: string
          description: Status of the request
          enum: [success, error]
          example: "success"
        error:
          type: string
          description: Error message (only present when status is "error")
          example: "SS7 network not responding"
        cacheHit:
          type: boolean
          description: Indicates whether the result was found in cache (true) or required an SS7 lookup (false)
          example: true
      required:
        - phoneNumber
        - name
        - status
        - cacheHit
    LrnResponse:
      type: object
      properties:
        phoneNumber:
          type: string
          description: The queried telephone number
          example: '5551234567'
        lrn:
          type: string
          description: Local Routing Number for the queried number
          example: '5552345678'
        spid:
          type: string
          nullable: true
          description: Service Provider ID for the carrier serving this number
          example: 'AB12'
        ported:
          type: boolean
          description: Indicates whether the number has been ported (true) or not (false)
          example: true
      required:
        - phoneNumber
        - lrn
        - ported
    Error:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          example: error
        error:
          type: string
          example: Invalid phone number format
        error_code:
          type: string
          example: invalid_phone_number
    CICResponse:
      type: object
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0123"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
    RORResponse:
      type: object
      properties:
        ror:
          type: string
          description: Route of Record
          example: "ROUTE1234"
      required:
        - ror
    CICRORResponse:
      type: object
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0123"
        ror:
          type: string
          description: Route of Record
          example: "ROUTE1234"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
        - ror 