openapi: 3.0.3
info:
  title: Telique API
  description: |
    The Ringer Telique API provides access to telecommunications data, 
    including caller name (CNAM) data, line type information, and more.
    
    The API also includes services for checking phone numbers against 
    Do Not Originate (DNO) and Do Not Call (DNC) databases, as well as 
    STIR/SHAKEN call authentication validation.
    
    ## Authentication
    This API uses IP whitelist authentication. Your server's IP address must be registered with
    Ringer before making API calls. Contact support@ringer.tel to register your IP address.
  version: 1.0.16
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/
    email: support@ringer.tel
servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

# Global security definition for IP whitelist
components:
  securitySchemes:
    ipWhitelist:
      type: apiKey
      name: X-Forwarded-For
      in: header
      description: |
        IP Whitelist Authentication
        
        This API uses IP whitelist authentication. Your server's IP address must be registered with
        Ringer before making API calls. Contact support@ringer.tel to register your IP address.
  schemas:
    CNAMResponse:
      type: object
      example:
        phoneNumber: "8005551234"
        name: "ACME CORPORATION"
        status: "success"
        cacheHit: true
      properties:
        phoneNumber:
          type: string
          description: The phone number that was looked up
          example: "8005551234"
        name:
          type: string
          description: The caller name associated with the phone number
          example: "ACME CORPORATION"
        status:
          type: string
          description: Status of the request
          enum: [success, error]
          example: "success"
        error:
          type: string
          description: Error message (only present when status is "error")
          example: "SS7 network not responding"
        cacheHit:
          type: boolean
          description: Indicates whether the result was found in cache (true) or required an SS7 lookup (false)
          example: true
      required:
        - phoneNumber
        - name
        - status
        - cacheHit
    LrnResponse:
      type: object
      example:
        phoneNumber: "5551234567"
        lrn: "5552345678"
        spid: "AB12"
        ported: true
      properties:
        phoneNumber:
          type: string
          description: The queried telephone number
          example: '5551234567'
        lrn:
          type: string
          description: Local Routing Number for the queried number
          example: '5552345678'
        spid:
          type: string
          nullable: true
          description: Service Provider ID for the carrier serving this number
          example: 'AB12'
        ported:
          type: boolean
          description: Indicates whether the number has been ported (true) or not (false)
          example: true
      required:
        - phoneNumber
        - lrn
        - ported
    Error:
      type: object
      example:
        status: "error"
        error: "Invalid phone number format"
        error_code: "INVALID_FORMAT"
      properties:
        status:
          type: string
          description: Error status
          example: error
        error:
          type: string
          description: Error message
          example: Invalid phone number format
        error_code:
          type: string
          description: Error code for machine processing
          example: invalid_phone_number
      required:
        - status
        - error
    CICResponse:
      type: object
      example:
        carrier: "0518"
        data: {}
        ir: {}
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0518"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
    RORResponse:
      type: object
      example:
        ror: "NEX99"
      properties:
        ror:
          type: string
          description: Responsible Organization
          example: "NEX99"
      required:
        - ror
    CICRORResponse:
      type: object
      example:
        carrier: "0518"
        ror: "NEX99"
        data: {}
        ir: {}
      properties:
        carrier:
          type: string
          description: Carrier Identification Code
          example: "0518"
        ror:
          type: string
          description: Responsible Organization
          example: "NEX99"
        data:
          type: object
          description: Additional data from the interpretation
        ir:
          type: object
          description: Interpretation result data structure
      required:
        - carrier
        - ror
    DnoResponse:
      type: object
      example:
        phoneNumber: "5551234567"
        recordExists: false
      properties:
        phoneNumber:
          type: string
          description: The phone number that was looked up
          example: "5551234567"
        recordExists:
          type: boolean
          description: Indicates whether the number exists in the database
          example: true
      required:
        - phoneNumber
        - recordExists
    DncUpdateReport:
      type: array
      example:
        - npa: 555
          oldCount: 1200
          newCount: 1235
        - npa: 800
          oldCount: 2500
          newCount: 2520
      items:
        type: object
        properties:
          npa:
            type: integer
            description: Area code (NPA)
            example: 555
          oldCount:
            type: integer
            description: Previous count of numbers in this NPA
            example: 1200
          newCount:
            type: integer
            description: Current count of numbers in this NPA
            example: 1235
        required:
          - npa
          - oldCount
          - newCount
    StirShakenRequest:
      type: object
      example:
        token: "eyJhbGciOiJSUzI1NiIsInR5cCI6InBhc3Nwb3J0Iiwic3R..."
        certUrl: "https://cert.example.org/cert.pem"
        algorithm: "RS256"
        ppt: "shaken"
      properties:
        token:
          type: string
          description: The identity token to validate
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6InBhc3Nwb3J0Iiwic3R..."
        certUrl:
          type: string
          description: URL of the certificate
          example: "https://cert.example.org/cert.pem"
        algorithm:
          type: string
          description: Signature algorithm used
          example: "RS256"
        ppt:
          type: string
          description: PASSporT Token Type
          example: "shaken"
      required:
        - token
        - certUrl
        - algorithm
        - ppt
    StirShakenResponse:
      type: object
      example:
        valid: true
      properties:
        valid:
          type: boolean
          description: Whether the provided identity is valid
          example: true
      required:
        - valid

# Apply IP whitelist security globally
security:
  - ipWhitelist: []

tags:
  - name: CIC
    description: Operations for Carrier Identification Code
  - name: DNC
    description: Operations for Do Not Call database lookups
  - name: DNO
    description: Operations for Do Not Originate database lookups
  - name: CNAM
    description: Operations for looking up caller name information
  - name: Local Routing Number (LRN)
    description: Operations for local routing number information
  - name: ROR
    description: Operations for identifying the toll-free Responsible Organization
  - name: STIR/SHAKEN
    description: Operations for call authentication validation
paths:
  /telique/cnam/{phoneNumber}:
    get:
      tags:
        - CNAM
      summary: CNAM Lookup
      description: |
        Retrieve Caller Name (CNAM) information for a phone number.
        This endpoint performs a CNAM (Caller Name) lookup for a specified phone number.
        It first checks the database cache for existing records, and if not found,
        performs an SS7 network lookup to retrieve the caller name information.
      operationId: getCNAM
      security:
        - ipWhitelist: []
      parameters:
        - name: phoneNumber
          in: path
          description: The phone number to lookup
          required: true
          schema:
            type: string
            pattern: '^\+?[0-9]{10,15}$'
            example: "8005551234"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNAMResponse'
              example:
                phoneNumber: "8005551234"
                name: "ACME CORPORATION"
                status: "success"
                cacheHit: true
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Invalid phone number format
                error_code: INVALID_FORMAT
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Phone number not found
                error_code: NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR
  /telique/cnam:
    post:
      tags:
        - CNAM
      summary: CNAM Lookup (POST)
      description: |
        Alternative method to perform a CNAM lookup using a POST request with form data.
      operationId: postCNAM
      security:
        - ipWhitelist: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                number:
                  type: string
                  description: The phone number to lookup
                  pattern: '^\+?[0-9]{10,15}$'
                  example: "8005551234"
              required:
                - number
              example:
                number: "8005551234"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNAMResponse'
              example:
                phoneNumber: "8005551234"
                name: "ACME CORPORATION"
                status: "success"
                cacheHit: true
        '400':
          description: Bad request - Missing or invalid phone number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Missing or invalid phone number
                error_code: INVALID_FORMAT
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Phone number not found
                error_code: NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR
  /telique/lrn/{phoneNumber}:
    get:
      tags:
        - Local Routing Number (LRN)
      summary: Retrieve LRN for a phone number
      description: |
        Returns the Local Routing Number (LRN) and Service Provider ID (SPID) 
        for a specified 10-digit North American phone number. This information 
        is used to correctly route calls to numbers that have been ported 
        from one carrier to another.
      operationId: getLrnInfo
      security:
        - ipWhitelist: []
      parameters:
        - name: phoneNumber
          in: path
          description: 10-digit North American telephone number (NANP format)
          required: true
          schema:
            type: string
            pattern: '^[2-9][0-9]{9}$'
            example: '5551234567'
      responses:
        '200':
          description: Successful LRN lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LrnResponse'
              examples:
                ported:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5552345678'
                    spid: 'AB12'
                    ported: true
                nonPorted:
                  value:
                    phoneNumber: '5551234567'
                    lrn: '5551234567'
                    spid: null
                    ported: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Invalid phone number format. Must be a 10-digit NANP number.'
                error_code: 'INVALID_FORMAT'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Forbidden. Your IP address is not authorized to access this resource.'
                error_code: 'FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: 'Internal server error'
                error_code: 'SERVER_ERROR'
  /telique/cic/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information
      description: Retrieve Carrier Identification Code (CIC) information for the specified parameters.
      operationId: getCicInfo
      security:
        - ipWhitelist: []
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
        - name: ani
          in: path
          description: Valid Calling Party Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 3037312000
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
            example: 656
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICResponse'
              example:
                carrier: "0518"
                data: {}
                ir: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Bad request"
                error_code: "BAD_REQUEST"
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Unknown CRN"
                error_code: "NOT_FOUND"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Internal server error"
                error_code: "SERVER_ERROR"
  /telique/cic/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information (plain text)
      description: Retrieve Carrier Identification Code (CIC) information in plain text format.
      operationId: getCicInfoPlainText
      security:
        - ipWhitelist: []
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
        - name: ani
          in: path
          description: Automatic Number Identification (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 3037312000
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
            example: 656
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code (4 digits, zero-padded)
                example: "0518"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                example: "Bad request"
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
                example: "Server error"
  /telique/cicror/{crn}/{ani}/{lata}:
    get:
      summary: Get CIC information with ROR
      description: Retrieve Carrier Identification Code (CIC) information including Responsible Organization (ROR) data.
      operationId: getCicRorInfo
      security:
        - ipWhitelist: []
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
        - name: ani
          in: path
          description: Valid Calling Party Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 3037312000
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
            example: 656
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICRORResponse'
              example:
                carrier: "0518"
                ror: "NEX99"
                data: {}
                ir: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Bad request"
                error_code: "BAD_REQUEST"
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Unknown CRN"
                error_code: "NOT_FOUND"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Internal server error"
                error_code: "SERVER_ERROR"
  /telique/cicror/{crn}/{ani}/{lata}/plain:
    get:
      summary: Get CIC information with ROR (plain text)
      description: Retrieve Carrier Identification Code (CIC) and Responsible Organization (ROR) information in plain text format.
      operationId: getCicRorInfoPlainText
      security:
        - ipWhitelist: []
      tags:
        - CIC
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
        - name: ani
          in: path
          description: Valid Calling Party Number (10-digit)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 3037312000
        - name: lata
          in: path
          description: Local Access and Transport Area (3-digit)
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 999
            example: 656
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: CIC code and ROR separated by semicolon
                example: "0518;NEX99"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                example: "Bad request"
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
                example: "Server error"
  /telique/ror/{crn}:
    get:
      summary: Get ROR information
      description: Retrieve Responsible Organization (ROR) information for the specified CRN.
      operationId: getRorInfo
      security:
        - ipWhitelist: []
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RORResponse'
              example:
                ror: "NEX99"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Bad request"
                error_code: "BAD_REQUEST"
        '404':
          description: Unknown CRN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Unknown CRN"
                error_code: "NOT_FOUND"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                error: "Internal server error"
                error_code: "SERVER_ERROR"
  /telique/ror/{crn}/plain:
    get:
      summary: Get ROR information (plain text)
      description: Retrieve Responsible Organization (ROR) information in plain text format.
      operationId: getRorInfoPlainText
      security:
        - ipWhitelist: []
      tags:
        - ROR
      parameters:
        - name: crn
          in: path
          description: Complex Routing Number (10-digit toll-free number)
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2000000000
            maximum: 9999999999
            example: 8884835429
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: Responsible Organization
                example: "NEX99"
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
                example: "Bad request"
        '404':
          description: Unknown CRN
          content:
            text/plain:
              schema:
                type: string
                example: Unknown
        '500':
          description: Server error
          content:
            text/plain:
              schema:
                type: string
                example: "Server error"
  /telique/dno/{num}:
    get:
      tags:
        - DNO
      summary: DNO Lookup
      description: |
        Check if a phone number is in the Do Not Originate (DNO) database.
        Returns a JSON response indicating whether the number exists in the database.
      operationId: getDno
      security:
        - ipWhitelist: []
      parameters:
        - name: num
          in: path
          description: 10-digit phone number to check
          required: true
          schema:
            type: string
            pattern: '^[0-9]{10}$'
            example: "5551234567"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnoResponse'
              example:
                phoneNumber: "5551234567"
                recordExists: false
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Invalid phone number format
                error_code: INVALID_FORMAT
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR
  /telique/dno/{num}/xml:
    get:
      tags:
        - DNO
      summary: DNO Lookup (XML)
      description: |
        Check if a phone number is in the Do Not Originate (DNO) database.
        Returns an XML response indicating whether the number exists in the database.
      operationId: getDnoXml
      security:
        - ipWhitelist: []
      parameters:
        - name: num
          in: path
          description: 10-digit phone number to check
          required: true
          schema:
            type: string
            pattern: '^[0-9]{10}$'
            example: "5551234567"
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DnoResponse'
              examples:
                default:
                  summary: Default DNO XML Response
                  value:
                    phoneNumber: "5551234567"
                    recordExists: false
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/xml:
              schema:
                type: string
                example: "<error><status>error</status><message>Invalid phone number format</message><error_code>INVALID_FORMAT</error_code></error>"
        '500':
          description: Internal server error
          content:
            application/xml:
              schema:
                type: string
                example: |
                  <error>
                    <status>error</status>
                    <message>Internal server error</message>
                    <error_code>SERVER_ERROR</error_code>
                  </error>
  /telique/dnc/{num}:
    get:
      tags:
        - DNC
      summary: DNC Lookup
      description: |
        Check if a phone number is in the Do Not Call (DNC) database.
        Returns a JSON response indicating whether the number exists in the database.
      operationId: getDnc
      security:
        - ipWhitelist: []
      parameters:
        - name: num
          in: path
          description: 10-digit phone number to check
          required: true
          schema:
            type: string
            pattern: '^[0-9]{10}$'
            example: "5551234567"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnoResponse'
              example:
                phoneNumber: "5551234567"
                recordExists: true
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Invalid phone number format
                error_code: INVALID_FORMAT
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR
  /telique/dnc/{num}/xml:
    get:
      tags:
        - DNC
      summary: DNC Lookup (XML)
      description: |
        Check if a phone number is in the Do Not Call (DNC) database.
        Returns an XML response indicating whether the number exists in the database.
      operationId: getDncXml
      security:
        - ipWhitelist: []
      parameters:
        - name: num
          in: path
          description: 10-digit phone number to check
          required: true
          schema:
            type: string
            pattern: '^[0-9]{10}$'
            example: "5551234567"
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DnoResponse'
              examples:
                default:
                  summary: Default DNC XML Response
                  value:
                    phoneNumber: "5551234567"
                    recordExists: true
        '400':
          description: Bad request - Invalid phone number format
          content:
            application/xml:
              schema:
                type: string
                example: "<error><status>error</status><message>Invalid phone number format</message><error_code>INVALID_FORMAT</error_code></error>"
        '500':
          description: Internal server error
          content:
            application/xml:
              schema:
                type: string
                example: |
                  <error>
                    <status>error</status>
                    <message>Internal server error</message>
                    <error_code>SERVER_ERROR</error_code>
                  </error>
  /telique/dncreport:
    get:
      tags:
        - DNC
      summary: DNC Update Report
      description: |
        Retrieve a report of DNC updates by area code (NPA).
      operationId: getDncReport
      security:
        - ipWhitelist: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DncUpdateReport'
              example:
                - npa: 555
                  oldCount: 1200
                  newCount: 1235
                - npa: 800
                  oldCount: 2500
                  newCount: 2520
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR
  /telique/stirshaken/validate:
    post:
      tags:
        - STIR/SHAKEN
      summary: Validate STIR/SHAKEN Identity
      description: |
        Validates STIR/SHAKEN call authentication by checking the provided identity token.
      operationId: validateStirShaken
      security:
        - ipWhitelist: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StirShakenRequest'
            example:
              token: "eyJhbGciOiJSUzI1NiIsInR5cCI6InBhc3Nwb3J0Iiwic3R..."
              certUrl: "https://cert.example.org/cert.pem"
              algorithm: "RS256"
              ppt: "shaken"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StirShakenResponse'
              example:
                valid: true
        '400':
          description: Bad request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Invalid request parameters
                error_code: INVALID_REQUEST
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                error: Internal server error
                error_code: SERVER_ERROR 
