openapi: 3.0.3
info:
  title: Ringer Business API - Transfer Site Fax Machine
  description: |
    Endpoint for transferring a fax machine configuration from one site to another within the same account.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Fax Machines
    description: Managing Fax to Email services (Fax Machines) associated with a site.

paths:
  /sites/{siteId}/fax-machines/{faxMachineId}/transfer:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/FaxMachineIdPath' # MODIFIED to ./index.yaml
    post:
      tags:
        - Site Features - Fax Machines
      summary: Transfer Fax Machine to Another Site
      description: |
        Moves a fax machine configuration from its current site (specified in the path)
        to a new target site (specified in the request body) within the same customer account.
      operationId: transferFaxMachineToNewSite # was transfer_fax-machine
      security:
        - oAuth2: [write, admin] # Transferring might be an admin-level operation
      requestBody:
        description: The identifier of the new site to which the fax machine configuration should be transferred.
        required: true
        content:
          application/x-www-form-urlencoded: # As per original Teliax Swagger
            schema:
              type: object
              properties:
                new_site_id:
                  type: integer
                  format: int64
                  description: The unique identifier of the target site for the fax machine.
                  example: 8
              required:
                - new_site_id
              example:
                new_site_id: 8
      responses:
        '200':
          description: Fax machine transferred successfully. The response includes the fax machine details in its new site context.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/FaxMachineResponse'
              example:
                id: 3
                site_id: 8 # Note: site_id now reflects the new_site_id
                code: "fax_machine:3"
                name: "Sales Department Fax"
                notification_emails: "sales-faxes@example.com,manager@example.com"
                user_id: 1
                links:
                  - href: "/sites/8/fax-machines/3" # Link reflects new site context
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          description: Not Found - The original fax machine, its current site, or the new target site was not found.
          content:
            application/json:
              schema:
                $ref: '../../common_components.yaml#/components/schemas/Error' # MODIFIED PATH
              example:
                status: "error"
                error: "Fax machine, current site, or target site not found."
                error_code: "RESOURCE_NOT_FOUND_FOR_TRANSFER"

components:
  # Security Schemes and common responses would be referenced from a higher level
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH 