openapi: 3.0.3
info:
  title: Ringer Business API - Site Conference Room (Individual)
  description: |
    Endpoints for managing an individual conference room associated with a specific site.
    Allows retrieving, updating, and deleting a specific conference room.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 # Should be relative or overridden
    description: Production server

tags:
  - name: Site Features - Conference Rooms
    description: Managing conference rooms (audio bridges) associated with a site.

paths:
  /sites/{siteId}/conference-rooms/{conferenceRoomId}:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/ConferenceRoomIdPath'
    get:
      tags:
        - Site Features - Conference Rooms
      summary: Get Conference Room Details
      description: Retrieves detailed information for a specific conference room by its ID, belonging to the specified site.
      operationId: getSiteConferenceRoomById # was show_conference_room
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Successfully retrieved conference room details.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ConferenceRoomResponse'
              example:
                id: 3
                site_id: 6
                name: "Weekly Sales Meeting"
                pin: "****" # Masked
                moderator_pin: "****" # Masked
                profile: "default"
                greeting_url: "https://cdn.example.com/greetings/conf_3.mp3"
                music_on_hold_url: null
                user_id: 1
                links: 
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/ConferenceRoomNotFoundError'

    put:
      tags:
        - Site Features - Conference Rooms
      summary: Update Conference Room Configuration
      description: |
        Updates the configuration for a specific conference room on a site.
        Allows changing the name, PINs, profile, and audio files (greeting, music on hold).
      operationId: updateSiteConferenceRoomById # was update_conference_room
      security:
        - oAuth2: [write]
      requestBody:
        description: Conference room attributes to update.
        required: true
        content:
          multipart/form-data: # As per original Teliax Swagger
            schema:
              $ref: '#/components/schemas/ConferenceRoomUpdateRequest'
            # Example for multipart/form-data:
            # name=Updated Sales Meeting, pin=1122, moderator_pin=2211, profile=enhanced, greeting=@path/to/new_greeting.mp3
      responses:
        '200':
          description: Conference room updated successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/ConferenceRoomResponse'
              example:
                id: 3
                site_id: 6
                name: "Updated Sales Meeting"
                pin: "****"
                moderator_pin: "****"
                profile: "enhanced_audio"
                greeting_url: "https://cdn.example.com/greetings/new_conf_3.mp3"
                music_on_hold_url: null
                user_id: 1
                links: 
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/ConferenceRoomNotFoundError'

    delete:
      tags:
        - Site Features - Conference Rooms
      summary: Delete a Conference Room
      description: Permanently deletes a specific conference room from the site.
      operationId: deleteSiteConferenceRoomById # was delete_conference_room
      security:
        - oAuth2: [write]
      responses:
        '204':
          description: Conference room deleted successfully. No content is returned.
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/ConferenceRoomNotFoundError'

components:
  schemas:
    ConferenceRoomUpdateRequest:
      allOf:
        - $ref: './index.yaml#/components/schemas/ConferenceRoomCore' # Reuses Core attributes
        - type: object
          properties:
            greeting: # File upload
              type: string
              format: binary
              nullable: true
              description: New audio file for the greeting message. If not provided, existing greeting remains.
            music_on_hold: # File upload
              type: string
              format: binary
              nullable: true
              description: New audio file for music on hold. If not provided, existing music remains.
      description: Data for updating an existing conference room, including optional audio file uploads.
      example:
        name: "Team Sync Room - Updated"

  # Security Schemes and common responses would be referenced from a higher level
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' 