openapi: 3.0.3
info:
  title: Ringer Business API - List Available Site Fax Machines
  description: |
    Endpoint for listing fax machine configurations that are available to be associated with a specific site or user.
    This could include fax configurations in an account's inventory not yet assigned or those fitting a user context.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1 
    description: Production server

tags:
  - name: Site Features - Fax Machines
    description: Managing Fax to Email services (Fax Machines) associated with a site.

paths:
  /sites/{siteId}/fax-machines/available:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Fax Machines
      summary: List Available Fax Machines for a Site/User
      description: |
        Retrieves a list of fax machine configurations available for assignment to the specified site.
        The original Teliax API included an optional `user_id` query parameter, which might imply that availability
        could also be filtered or contextualized by a user. This parameter is included here.
      operationId: listSiteAvailableFaxMachines # was available_fax-machines
      security:
        - oAuth2: [read]
      parameters:
        - name: user_id
          in: query
          description: Optional. Identifier of a user to filter or contextualize available fax machine configurations.
          required: false
          schema:
            type: integer
            format: int64
            example: 25
      responses:
        '200':
          description: A list of available fax machine configurations.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/FaxMachineListResponse' # Reuses FaxMachineListResponse
              example:
                fax_machines:
                  - id: 80 # Example of an unassigned fax machine config from inventory
                    site_id: null # Or a special inventory site_id
                    code: "fax_machine:80"
                    name: "Unassigned Fax Service A"
                    notification_emails: "unassigned-fax-a@example.com"
                    user_id: null
                    links: 
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

components:
  # Security Schemes and common responses would be referenced from a higher level
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' 