openapi: 3.0.3
info:
  title: Ringer Business API - Site Fax Machines (Collection)
  description: |
    Endpoints for listing fax machines associated with a specific site and creating new fax machines (Fax to Email) for that site.
    Fax machines configured here are for receiving faxes, which are then converted to PDF and emailed.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server

tags:
  - name: Site Features - Fax Machines
    description: Managing Fax to Email services (Fax Machines) associated with a site.

paths:
  /sites/{siteId}/fax-machines:
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
    get:
      tags:
        - Site Features - Fax Machines
      summary: List Fax Machines for a Site
      description: Retrieves a list of all fax machine (Fax to Email) configurations for the specified site.
      operationId: listSiteFaxMachines
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: A list of fax machines for the site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineListResponse'
              example:
                fax_machines:
                  - id: 3
                    site_id: 6
                    code: "fax_machine:3"
                    name: "Sales Department Fax"
                    notification_emails: "sales-faxes@example.com,manager@example.com"
                    user_id: 1
                    links:
                      - href: "/sites/6/fax-machines/3"
                        rel: "self"
                        method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

    post:
      tags:
        - Site Features - Fax Machines
      summary: Create a Fax Machine for a Site
      description: |
        Adds a new fax machine (Fax to Email) configuration to the specified site.
        Requires a name and one or more notification email addresses where received faxes (as PDFs) will be sent.
      operationId: createSiteFaxMachine
      security:
        - oAuth2: [write]
      requestBody:
        description: Configuration details for the new fax machine.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxMachineCreateRequest'
            example:
              name: "Legal Department Fax"
              notification_emails: "legal@example.com"
      responses:
        '201':
          description: Fax machine created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxMachineResponse'
              example:
                id: 4
                site_id: 6
                code: "fax_machine:4"
                name: "Legal Department Fax"
                notification_emails: "legal@example.com"
                user_id: null
                links: []
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError'

components:
  parameters:
    SiteIdPath:
      $ref: '../../common_components.yaml#/components/parameters/SiteId'
    FaxMachineIdPath:
      name: faxMachineId
      in: path
      description: The unique identifier of the fax machine configuration.
      required: true
      schema:
        type: integer
        format: int64
        example: 3

  schemas:
    FaxMachineCore:
      type: object
      properties:
        name:
          type: string
          description: A user-friendly name for the fax machine configuration.
          example: "Main Office Fax"
        notification_emails:
          type: string
          description: Comma-separated list of email addresses to which received faxes (as PDF) will be sent.
          example: "incoming-faxes@example.com,admin-faxes@example.com"
        user_id:
          type: integer
          format: int64
          nullable: true
          description: Identifier of the user primarily associated with this fax machine, if any.
          example: 25
      required:
        - name
        - notification_emails
      example:
        name: "Accounting Fax"
        notification_emails: "accounts@example.com"
        user_id: 30

    FaxMachineCreateRequest:
      allOf:
        - $ref: '#/components/schemas/FaxMachineCore'
      description: Data required to create a new fax machine (Fax to Email) configuration.
      required:
        - name
        - notification_emails
      example:
        name: "Customer Service Fax"
        notification_emails: "support-faxes@example.com"
        user_id: null

    FaxMachineResponse:
      allOf:
        - $ref: '#/components/schemas/FaxMachineCore'
        - type: object
          properties:
            id:
              type: integer
              format: int64
              description: Unique identifier for the fax machine configuration.
              example: 3
            site_id:
              type: integer
              format: int64
              description: Identifier of the site this fax machine belongs to.
              example: 6
              nullable: true
            code:
              type: string
              readOnly: true
              description: System-level code for this fax machine, often used in routing configurations.
              example: "fax_machine:3"
            links:
              type: array
              description: HATEOAS links related to this fax machine.
              items:
                $ref: '../../common_components.yaml#/components/schemas/Link'
              nullable: true
          required:
            - id
            - site_id
            - code
            - name
            - notification_emails
      description: Detailed information about a fax machine (Fax to Email) configuration.
      example:
        id: 3
        site_id: 6
        code: "fax_machine:3"
        name: "Sales Department Fax"
        notification_emails: "sales-faxes@example.com,manager@example.com"
        user_id: 1
        links:
          - href: "/sites/6/fax-machines/3"
            rel: "self"
            method: "GET"

    FaxMachineListResponse:
      type: object
      description: A list of fax machines for a site.
      properties:
        fax_machines:
          type: array
          items:
            $ref: '#/components/schemas/FaxMachineResponse'
      required:
        - fax_machines
      example:
        fax_machines:
          - id: 3
            site_id: 6
            code: "fax_machine:3"
            name: "Sales Department Fax"
            notification_emails: "sales-faxes@example.com,manager@example.com"
            user_id: 1
            links:
              - href: "/sites/6/fax-machines/3"
                rel: "self"
                method: "GET"

  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

# Removed invalid nested security, tags, paths, and the entire second components block that was here. 