openapi: 3.0.3
info:
  title: Ringer Business API - Site Voicemails
  description: |
    Endpoints for managing voicemails associated with sites in your Ringer Business account.
    
    ## Authentication
    This API uses OAuth 2.0 for authentication. To obtain an access token:
    
    1. Make a POST request to the `/auth/token` endpoint with your client credentials
    2. Include the access token in subsequent requests using the Authorization header:
       `Authorization: Bearer YOUR_ACCESS_TOKEN`
       
    Contact your account manager to obtain client credentials.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

security:
  - oAuth2: [read, write]

tags:
  - name: Voicemail
    description: "Manage voicemails associated with sites."

paths:
  /sites/{site_id}/voicemails:
    get:
      tags:
        - Voicemail
      summary: List Voicemails for the Site
      description: Retrieve all the voicemails that belong to a site.
      operationId: list_voicemails
      parameters:
        - name: site_id
          in: path
          description: ID of the site
          required: true
          schema:
            type: integer
            example: 6
      responses:
        '200':
          description: Array of Voicemails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicemailList'
              example:
                voicemails:
                  - id: 42
                    name: "Sales Team Voicemail"
                    email: "sales@example.com"
                    pin: "1234"
                    transcription_enabled: true
                    send_email: true
                    links:
                      - href: "/sites/6/voicemails/42"
                        rel: "self"
                        title: "Voicemail Details"
                        method: "GET"
                links:
                  - href: "/sites/6/voicemails"
                    rel: "self"
                    title: "Voicemails"
                    method: "GET"
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      tags:
        - Voicemail
      summary: Create Voicemail
      description: Add a new voicemail to your site.
      operationId: create_voicemail
      parameters:
        - name: site_id
          in: path
          description: ID of the site
          required: true
          schema:
            type: integer
            example: 6
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoicemailCreate'
      responses:
        '201':
          description: Voicemail Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voicemail'
              example:
                id: 43
                name: "Support Team Voicemail"
                email: "support@example.com"
                pin: "5678"
                transcription_enabled: true
                send_email: true
                greeting_url: "https://api.ringer.tel/v1/sites/6/voicemails/43/greeting.wav"
                links:
                  - href: "/sites/6/voicemails/43"
                    rel: "self"
                    title: "Voicemail Details"
                    method: "GET"
        '400':
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: |
        OAuth 2.0 Authentication
        
        This API uses OAuth 2.0 for authentication. To obtain an access token:
        
        1. Make a POST request to the `/auth/token` endpoint with your client credentials
        2. Include the access token in subsequent requests using the Authorization header:
           `Authorization: Bearer YOUR_ACCESS_TOKEN`
           
        Contact your account manager to obtain client credentials.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

  schemas:
    VoicemailList:
      type: object
      properties:
        voicemails:
          type: array
          description: Array of Voicemails
          items:
            $ref: '#/components/schemas/Voicemail'
        links:
          type: array
          description: HATEOAS links
          items:
            $ref: '#/components/schemas/Link'
      required:
        - voicemails
        - links
    
    VoicemailCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the voicemail
          example: "Support Team Voicemail"
        email:
          type: string
          description: Email address for voicemail notifications
          example: "support@example.com"
        pin:
          type: string
          description: PIN code for accessing voicemail
          example: "5678"
        transcription_enabled:
          type: boolean
          description: Whether transcription is enabled for this voicemail
          example: true
        send_email:
          type: boolean
          description: Whether to send notifications via email
          example: true
        greeting:
          type: string
          format: binary
          description: Audio file for the voicemail greeting
      required:
        - name
        - pin
    
    Voicemail:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the voicemail
          example: 43
        name:
          type: string
          description: Name of the voicemail
          example: "Support Team Voicemail"
        email:
          type: string
          description: Email address for voicemail notifications
          example: "support@example.com"
        pin:
          type: string
          description: PIN code for accessing voicemail
          example: "5678"
        transcription_enabled:
          type: boolean
          description: Whether transcription is enabled for this voicemail
          example: true
        send_email:
          type: boolean
          description: Whether to send notifications via email
          example: true
        greeting_url:
          type: string
          nullable: true
          description: URL to the voicemail greeting audio file
          example: "https://api.ringer.tel/v1/sites/6/voicemails/43/greeting.wav"
        links:
          type: array
          description: HATEOAS links
          items:
            $ref: '#/components/schemas/Link'
      required:
        - id
        - name
        - pin
        - transcription_enabled
        - send_email
        - links
    
    Link:
      type: object
      properties:
        href:
          type: string
          description: URI to the resource
          example: "/sites/6/voicemails/43"
        rel:
          type: string
          description: Relation to the target resource
          example: "self"
        title:
          type: string
          description: Human-readable title for the link
          example: "Voicemail Details"
        method:
          type: string
          description: HTTP method for the request
          example: "GET"
      required:
        - href
        - rel
        - title
        - method
    
    Error:
      type: object
      properties:
        status:
          type: string
          description: Error status
          example: "error"
        error:
          type: string
          description: Error message
          example: "Invalid input parameters"
        error_code:
          type: string
          description: Error code for machine processing
          example: "INVALID_INPUT"
      required:
        - status
        - error 