openapi: 3.0.3
info:
  title: Ringer Business API - Site Voicemail Operations
  description: |
    Endpoints for retrieving, updating, and deleting individual voicemails in your Ringer Business account.
    
    ## Authentication
    This API uses OAuth 2.0 for authentication. To obtain an access token:
    
    1. Make a POST request to the `/auth/token` endpoint with your client credentials
    2. Include the access token in subsequent requests using the Authorization header:
       `Authorization: Bearer YOUR_ACCESS_TOKEN`
       
    Contact your account manager to obtain client credentials.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  - url: https://api.staging.ringer.tel/v1
    description: Staging server

security:
  - oAuth2: [read, write]

tags:
  - name: Voicemail
    description: "Manage voicemails associated with sites."

paths:
  /sites/{site_id}/voicemails/{id}:
    get:
      tags:
        - Voicemail
      summary: Voicemail Details
      description: Retrieve the details of a voicemail. Supply the unique ID of the voicemail.
      operationId: show_voicemail
      parameters:
        - name: site_id
          in: path
          description: ID of the site
          required: true
          schema:
            type: integer
            example: 6
        - name: id
          in: path
          description: ID of the voicemail
          required: true
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Voicemail Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voicemail'
              example:
                id: 42
                name: "Sales Team Voicemail"
                email: "sales@example.com"
                pin: "1234"
                transcription_enabled: true
                send_email: true
                greeting_url: "https://api.ringer.tel/v1/sites/6/voicemails/42/greeting.wav"
                links:
                  - href: "/sites/6/voicemails/42"
                    rel: "self"
                    title: "Voicemail Details"
                    method: "GET"
                  - href: "/sites/6/voicemails/42"
                    rel: "delete"
                    title: "Delete Voicemail"
                    method: "DELETE"
                  - href: "/sites/6/voicemails/42"
                    rel: "edit"
                    title: "Update Voicemail"
                    method: "PUT"
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site or voicemail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    put:
      tags:
        - Voicemail
      summary: Update Voicemail
      description: Update voicemail information. Any parameters not provided will be left unchanged.
      operationId: update_voicemail
      parameters:
        - name: site_id
          in: path
          description: ID of the site
          required: true
          schema:
            type: integer
            example: 6
        - name: id
          in: path
          description: ID of the voicemail
          required: true
          schema:
            type: integer
            example: 42
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoicemailUpdate'
      responses:
        '200':
          description: Voicemail Updated Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voicemail'
              example:
                id: 42
                name: "Sales Department Voicemail"
                email: "sales-team@example.com"
                pin: "4321"
                transcription_enabled: false
                send_email: true
                greeting_url: "https://api.ringer.tel/v1/sites/6/voicemails/42/greeting.wav"
                links:
                  - href: "/sites/6/voicemails/42"
                    rel: "self"
                    title: "Voicemail Details"
                    method: "GET"
                  - href: "/sites/6/voicemails/42"
                    rel: "delete"
                    title: "Delete Voicemail"
                    method: "DELETE"
                  - href: "/sites/6/voicemails/42"
                    rel: "edit"
                    title: "Update Voicemail"
                    method: "PUT"
        '400':
          description: Bad Request Parameters or Validation Errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site or voicemail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    delete:
      tags:
        - Voicemail
      summary: Delete Voicemail
      description: Permanently delete a voicemail. This action cannot be undone.
      operationId: delete_voicemail
      parameters:
        - name: site_id
          in: path
          description: ID of the site
          required: true
          schema:
            type: integer
            example: 6
        - name: id
          in: path
          description: ID of the voicemail to delete
          required: true
          schema:
            type: integer
            example: 42
      responses:
        '204':
          description: Voicemail Deleted Successfully (No Content)
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site or voicemail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: |
        OAuth 2.0 Authentication
        
        This API uses OAuth 2.0 for authentication. To obtain an access token:
        
        1. Make a POST request to the `/auth/token` endpoint with your client credentials
        2. Include the access token in subsequent requests using the Authorization header:
           `Authorization: Bearer YOUR_ACCESS_TOKEN`
           
        Contact your account manager to obtain client credentials.
      flows:
        clientCredentials:
          tokenUrl: https://api.ringer.tel/v1/auth/token
          scopes:
            read: Read access to API resources
            write: Write access to API resources
            admin: Administrative access

  schemas:
    VoicemailUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name of the voicemail
          example: "Sales Department Voicemail"
        email:
          type: string
          description: Email address for voicemail notifications
          example: "sales-team@example.com"
        pin:
          type: string
          description: PIN code for accessing voicemail
          example: "4321"
        transcription_enabled:
          type: boolean
          description: Whether transcription is enabled for this voicemail
          example: false
        send_email:
          type: boolean
          description: Whether to send notifications via email
          example: true
        greeting:
          type: string
          format: binary
          description: Audio file for the voicemail greeting
    
    Voicemail:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the voicemail
          example: 42
        name:
          type: string
          description: Name of the voicemail
          example: "Sales Department Voicemail"
        email:
          type: string
          description: Email address for voicemail notifications
          example: "sales-team@example.com"
        pin:
          type: string
          description: PIN code for accessing voicemail
          example: "4321"
        transcription_enabled:
          type: boolean
          description: Whether transcription is enabled for this voicemail
          example: false
        send_email:
          type: boolean
          description: Whether to send notifications via email
          example: true
        greeting_url:
          type: string
          nullable: true
          description: URL to the voicemail greeting audio file
          example: "https://api.ringer.tel/v1/sites/6/voicemails/42/greeting.wav"
        links:
          type: array
          description: HATEOAS links
          items:
            $ref: '#/components/schemas/Link'
      required:
        - id
        - name
        - pin
        - transcription_enabled
        - send_email
        - links
    
    Link:
      type: object
      properties:
        href:
          type: string
          description: URI to the resource
          example: "/sites/6/voicemails/42"
        rel:
          type: string
          description: Relation to the target resource
          example: "self"
        title:
          type: string
          description: Human-readable title for the link
          example: "Voicemail Details"
        method:
          type: string
          description: HTTP method for the request
          example: "GET"
      required:
        - href
        - rel
        - title
        - method
    
    Error:
      type: object
      properties:
        status:
          type: string
          description: Error status
          example: "error"
        error:
          type: string
          description: Error message
          example: "Invalid input parameters"
        error_code:
          type: string
          description: Error code for machine processing
          example: "INVALID_INPUT"
      required:
        - status
        - error 