openapi: 3.0.3
info:
  title: Ringer Business API - Site Seats (Collection)
  description: |
    Endpoints for listing seats associated with a specific site and creating new seats using templates.
    A seat represents a user's configured set of telephony features on a site, provisioned via a template.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - Seats # Standardized tag
    description: "Managing user seats and their provisioned features on a site."

paths:
  /sites/{siteId}/seats: # Standardized siteId
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId' # MODIFIED PATH
    get:
      tags:
        - Site Features - Seats
      summary: List Seats for a Site
      description: Retrieve a paginated list of all seats configured for the specified site.
      operationId: listSiteSeats # Renamed
      security:
        - oAuth2: [read]
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: page_size
          in: query
          description: Number of seats per page.
          required: false
          schema:
            type: integer
            default: 25
            example: 25
      responses:
        '200':
          description: A paginated list of seats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSeatListResponse' # Updated schema name
              example:
                seats:
                  - id: 25
                    site_id: 6 # Added for context
                    name: "Basic User Seat"
                    template_id: 10
                    user_id: 42
                    switchables:
                      - id: 123 # ID of the switchable instance itself
                        feature_type: "voicemailbox"
                        feature_id: 15 # ID of the actual voicemailbox feature
                        name: "User Voicemail" # Name of the provisioned feature
                    links:
                      - href: "/sites/6/seats/25"
                        rel: "self"
                        method: "GET"
                total_items: 1
                total_pages: 1
                current_page: 1
                per_page: 25
                links:
                  - href: "/sites/6/seats?page=1&page_size=25"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError' # MODIFIED PATH
    
    post:
      tags:
        - Site Features - Seats
      summary: Create Seat for a Site
      description: >-
        Provisions a new set of telephony features (a "seat") for a user on a site, based on a selected template.
      operationId: createSiteSeat # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: Details for the new seat, including the template and user.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeatCreateRequest'
            example:
              name: "Standard Sales Seat"
              template_id: 11
              user_id: 43
              # 'features' from original SeatParams might be used if template needs override/param inputs
              # features: { "PhoneNumber": { "attrs": { "name": "Sales Direct Line" } } }
      responses:
        '201':
          description: Seat created and features provisioned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeatResponse' # MODIFIED: Point to local SeatResponse
              example:
                id: 26
                site_id: 6
                name: "Standard Sales Seat"
                template_id: 11
                user_id: 43
                switchables:
                  - id: 125
                    feature_type: "voicemailbox"
                    feature_id: 16
                    name: "Sales Voicemail"
                  - id: 126
                    feature_type: "extension"
                    feature_id: 102
                    name: "Sales Ext 102"
                links:
                  - href: "/sites/6/seats/26"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError' # MODIFIED PATH
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError' # MODIFIED PATH
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError' # MODIFIED PATH
        '404':
          $ref: '../../common_components.yaml#/components/responses/SiteNotFoundError' # MODIFIED PATH

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2' # MODIFIED PATH

  parameters:
    SiteIdPath:
      $ref: '../../common_components.yaml#/components/parameters/SiteId'
    SeatIdPath:
      name: seatId
      in: path
      description: The unique identifier of the seat.
      required: true
      schema:
        type: integer
        format: int64
        example: 25

  schemas:
    SeatCore: # Common properties for creating/identifying a seat
      type: object
      properties:
        name:
          type: string
          description: A descriptive name for the seat assignment.
          example: "John Doe - Standard Setup"
        template_id:
          type: integer
          format: int64
          description: Identifier of the service template to use for provisioning this seat.
          example: 10
        user_id:
          type: integer
          format: int64
          nullable: true # User might be assigned later in some flows
          description: Identifier of the user to whom this seat is assigned.
          example: 42
        # features: # Based on original SeatParams, if overrides/inputs for template features are needed
        #   $ref: '../templates.yaml#/components/schemas/TemplateFeature' # Or a simplified input version
        #   description: Optional. Input parameters or overrides for features defined in the selected template.
      required:
        - name
        - template_id
        # user_id might be optional if seat can be pre-provisioned
      example: # <--- ADDED
        name: "Jane Roe - Premium Setup"
        template_id: 15
        user_id: 43

    SeatCreateRequest:
      allOf:
        - $ref: '#/components/schemas/SeatCore'
      description: Data required to create a new seat for a user on a site using a template.
      required: [name, template_id]
      example:
        name: "Intern Seat - Basic"
        template_id: 1
        user_id: 100

    SwitchableFeature: # Renamed from Switchable for clarity, and added name
      type: object
      description: Represents a provisioned feature within a seat.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of this specific provisioned feature instance.
          example: 125
        feature_type:
          type: string
          description: The type of the provisioned feature (e.g., "device", "voicemailbox", "extension").
          example: "voicemailbox"
        feature_id:
          type: integer
          format: int64
          description: Identifier of the actual underlying feature resource (e.g., the ID of the voicemailbox).
          example: 16
        name:
          type: string
          description: The name assigned to this provisioned feature (may be derived from template or user).
          example: "John Doe's Voicemail"
      required:
        - id
        - feature_type
        - feature_id
        - name
      example: # <--- ADDED
        id: 130
        feature_type: "device"
        feature_id: 205
        name: "Desk Phone - Model X"

    SeatResponse: 
      allOf:
        - $ref: '#/components/schemas/SeatCore'
        - type: object
          properties:
            id:
              type: integer
              format: int64
            site_id:
              type: integer
              format: int64
            switchables:
              type: array
              items:
                $ref: '#/components/schemas/SwitchableFeature' # Use local SwitchableFeature
            links:
              type: array
              items:
                $ref: '../../common_components.yaml#/components/schemas/Link' # MODIFIED PATH
              nullable: true
          required:
            - id
            - site_id
            # From SeatCore
            - name
            - template_id
      description: Detailed information about a user seat on a site. # ADDED Description
      example: # <--- ADDED
        id: 25
        site_id: 6
        name: "Basic User Seat"
        template_id: 10
        user_id: 42
        switchables:
          - id: 123
            feature_type: "voicemailbox"
            feature_id: 15
            name: "User Voicemail"
        links:
          - href: "/sites/6/seats/25"
            rel: "self"
            method: "GET"

    PaginatedSeatListResponse:
      type: object
      description: A paginated list of seats.
      properties:
        seats:
          type: array
          items:
            $ref: '#/components/schemas/SeatResponse' 
        total_items:
          type: integer
          example: 30
        total_pages:
          type: integer
          example: 3
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 10
        links:
          type: array
          items:
            $ref: '../../common_components.yaml#/components/schemas/Link' # MODIFIED PATH
          nullable: true
      required:
        - seats
        - total_items
        - total_pages
        - current_page
        - per_page
      example: # <--- ADDED
        seats:
          - id: 25
            site_id: 6
            name: "Basic User Seat"
            template_id: 10
            user_id: 42
            switchables:
              - id: 123
                feature_type: "voicemailbox"
                feature_id: 15
                name: "User Voicemail"
            links:
              - href: "/sites/6/seats/25"
                rel: "self"
                method: "GET"
        total_items: 1
        total_pages: 1
        current_page: 1
        per_page: 25
        links:
          - href: "/sites/6/seats?page=1&page_size=25"
            rel: "self"
            method: "GET"

    # Error and Link schemas are common 