openapi: 3.0.3
info:
  title: Ringer Business API - Site Seat (Individual Operations)
  description: |
    Endpoints for retrieving, updating, and deleting individual seats associated with a specific site.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/teliax/ringer-oapi/blob/main/LICENSE
  contact:
    name: Ringer API Support
    url: https://docs.ringer.tel/support
    email: support@ringer.tel

servers:
  - url: https://api.ringer.tel/v1
    description: Production server
  # - url: https://api.staging.ringer.tel/v1
  #   description: Staging server

tags:
  - name: Site Features - Seats # Standardized tag
    description: "Managing user seats and their provisioned features on a site."

paths:
  /sites/{siteId}/seats/{seatId}: # Standardized params
    parameters:
      - $ref: '../../common_components.yaml#/components/parameters/SiteId'
      - $ref: './index.yaml#/components/parameters/SeatIdPath'
    get:
      tags:
        - Site Features - Seats
      summary: Get Seat Details
      description: Retrieves detailed information for a specific seat by its ID.
      operationId: getSiteSeatById # Renamed
      security:
        - oAuth2: [read]
      responses:
        '200':
          description: Seat details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/SeatResponse' # Referenced from index
              example:
                id: 25
                site_id: 6
                name: "Basic User Seat"
                template_id: 10
                user_id: 42
                switchables:
                  - id: 123
                    feature_type: "voicemailbox"
                    feature_id: 15
                    name: "User Voicemail"
                links:
                  - href: "/sites/6/seats/25"
                    rel: "self"
                    method: "GET"
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'
    
    put:
      tags:
        - Site Features - Seats
      summary: Update Seat Information
      description: Updates information for an existing seat. Typically name or user assignment. Template is usually fixed post-creation.
      operationId: updateSiteSeatById # Renamed
      security:
        - oAuth2: [write]
      requestBody:
        description: Seat attributes to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeatUpdateRequest'
            example:
              name: "Advanced User Seat - Updated"
              user_id: 44
              # template_id is typically not updatable for an existing seat
              # If features within a seat need to be modified, it might be a more complex operation
              # or require deleting and recreating the seat with a new template/overrides.
      responses:
        '200':
          description: Seat updated successfully.
          content:
            application/json:
              schema:
                $ref: './index.yaml#/components/schemas/SeatResponse' # Referenced from index
              example:
                id: 25
                site_id: 6
                name: "Advanced User Seat - Updated"
                template_id: 10
                user_id: 44
                switchables:
                  - id: 123
                    feature_type: "voicemailbox"
                    feature_id: 15
                    name: "User Voicemail"
                links:
                  - href: "/sites/6/seats/25"
                    rel: "self"
                    method: "GET"
        '400':
          $ref: '../../common_components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'
    
    delete:
      tags:
        - Site Features - Seats
      summary: Delete Seat
      description: Permanently deletes a seat and de-provisions its associated features.
      operationId: deleteSiteSeatById # Renamed
      security:
        - oAuth2: [write, admin] # Deleting a seat can be an admin action
      responses:
        '204':
          description: Seat deleted successfully.
        '401':
          $ref: '../../common_components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: '../../common_components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: '../../common_components.yaml#/components/responses/NotFoundError'

components:
  securitySchemes:
    oAuth2:
      $ref: '../../common_components.yaml#/components/securitySchemes/oAuth2'

  parameters:
    seatId: # Defined locally
      name: seatId
      in: path
      description: The unique identifier of the seat.
      required: true
      schema:
        type: integer
        format: int64
        example: 25

  schemas:
    SeatUpdateRequest: # For PUT, fields are optional if behaving like PATCH
      type: object
      description: Attributes for updating a seat. Only provide fields to be changed.
      properties:
        name:
          type: string
          nullable: true
          description: A descriptive name for the seat assignment.
          example: "John Doe - Executive Setup"
        user_id:
          type: integer
          format: int64
          nullable: true
          description: Identifier of the user to whom this seat is assigned.
          example: 45
      example:
        name: "Updated Seat Name"
        user_id: 46

    # SeatResponse is referenced from ./index.yaml#/components/schemas/SeatResponse
    # SwitchableFeature is defined in ./index.yaml#/components/schemas/SwitchableFeature
    # Common Link and Error schemas are referenced from ../../../components/ 